/* here you can put your own css to customize and override the theme */

#cat_jstree a, #customSearch_jstree a, #privilege_jstree a{
display: inline !important;
}

#cat_jstree li a, #customSearch_jstree li a, #privilege_jstree li a{
padding:3px 3px 6px 0 !important;
}


.jstree_view {
border:solid 1px #e5e5e5;
max-height:300px;
overflow:auto;
}

.tabbable-custom {
overflow:visible !important;
}

.nav li a {
padding: 10px !important;
}

#tab3 .btn-group {
margin-left: 15px;
}

#justgage a{
text-decoration: none;
}

#justgage div div{
margin:0 auto;
}

.btn-default {
border-color:#e5e5e5 !important;
}

/*DataTable border*/
table.dataTable{
  border: 1px solid #ddd !important;
}
.table-scrollable {
  overflow:visible !important;
  border:0 !important;
}

.table-head-wrapper{
margin:10px -15px;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #ddd !important;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  border-top: 1px solid #ddd !important;
}

table.dataTable thead,
table.dataTable tfoot {
  background-color: aliceblue !important;
}

.dataTables_info {
top:0 !important;
}

.pagination {
margin: 0 !important;
}

#loading {
position: absolute;
top:50%;
left:50%;
margin-left:-88px;
margin-top:-110px;
z-index:10000;
}

#bodyShade{
z-index:7000 !important;
}

img.flag {
position:absolute;
left:80%;
z-index:+1;
}

span.flag {
position:absolute;
z-index:+1;
color: #ff5809;
}

.badge-roundless{
margin-top:-4px;
margin-right:10px;
}

.answer-text{
margin-right:20px;
}

.single_choice, .multi_choice{
margin-bottom:0px;
}

/*scene list css*/
#view_container{
background:#F06;
opacity:0.7;
position:absolute;
width:640px;
height:360px;
}
.scene-holder{
border:1px solid #ddd;
margin:5px 0px;
}
.scene{
background:#F06;
opacity:0.7;
}
.scene-action{
margin:5px;
opacity:0.7;
}
.scene-view{
background:#dff0d8;
color:#F06;
opacity:0.7;
position:absolute !important;
left:0;
top:0;
width:120px;
height:120px;
}
.scene-view .view-title{
background:#fcf8e3;
height:23px;
}
.scene-view .view-number{
position:absolute !important;
display:inline;
left:6px;
top:3px;
}
.scene-view .dropdown-menu{
font-size:12px;
min-width:80px !important;
}
.scene-view .view-coordinate{
position:absolute;
text-align:center;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

/*question container*/
.note{
  margin-bottom: 5px !important;
}


