@charset "utf-8";
/* CSS Document */



#side ul li ul li .1a{ list-style-type:none; color: #FFFFFF; text-decoration:none; background: #FF0000;    display:block;  margin-right:0px;  border-top: 0px solid #fafafa; border-bottom: 0px solid #c2c2c2;}
#side ul li ul li .1a{ list-style-type:none; color: #FFFFFF; text-decoration:none; background: #0000FF;    display:block;  margin-right:0px;  border-top: 0px solid #fafafa; border-bottom: 0px solid #c2c2c2;}
