.ui-spinner {position: absolute !important; border: 0px solid white; }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	/* Safari and Chrome */
	.ui-spinner {position: absolute !important; border: 0px solid white; }

	/* Safari only override */
	::i-block-chrome,.ui-spinner {position: relative !important; border: 0px solid white; }
}
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}


.fileinput-button input {
	position: absolute;
	top: 45px;
	width: 150px;
	right: 38px;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 0px 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	direction: ltr;
	cursor: pointer;
}
.icon-plus{
	background-image: url("../images/editor/upload_newimages.png");
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	line-height: 14px;
	vertical-align: text-top;
	width: 151px;
}
.border_width{
	font-family: 'DroidSansBold',Arial,Helvetica,sans-serif;
	font-size: 13px;
	overflow-x: hidden;
}
.border_width .ui-spinner-buttons{
	left: 14px !important;
}
.border_width .ui-spinner-button{
	height: 12px !important;
}

.color_border_width .jqTransformSelectWrapper{
	width: 60px;
}
.color_border_width ul{
	width: 60px;
}
.color_border_type .jqTransformSelectWrapper{
	width:78px;	
}
.color_border_type ul{
	width: 78px;
}
#swatch1{
	background-color: black;
	background-image: none;
	border: medium none;
	float: left;
	height: 30px;
	margin: 17px 10px 0 0;
	width: 32px;
}
#shadow{
	width: 30px;
	height: 30px;
	background-image:none;
	float:left;
	margin:35px 10px 0 -200px;
	border:none;
	background-color:black;
}

#text_spin .ui-spinner-buttons{
	/*	margin-top: 2px !important;*/
	margin-left: 30px !important;
}
#kduration_outer_div .ui-spinner-buttons{
	/*	margin-top: 2px !important;*/
	margin-left: 30px !important;
}
#shadow_x .ui-spinner-buttons{
	margin-top: 2px !important;
	margin-left: 30px !important;
}
#shadow_x .ui-spinner-button {
	height: 11px !important;
}
#shadow_y .ui-spinner-buttons{
	margin-top: 2px !important;
	margin-left: 30px !important;
}
#shadow_y .ui-spinner-button {
	height: 11px !important;
}
#shadow_blur .ui-spinner-buttons{
	margin-top: 2px !important;
	margin-left: 30px !important;
}
#shadow_blur .ui-spinner-button {
	height: 11px !important;
}
#text_spin ui-spinner-up .ui-spinner-button{
	background-image: url(images/ui-icons_888888_256x240.png) !important;
}
#text_spin .ui-spinner-button {
	height: 11px !important;
}
#kduration_outer_div ui-spinner-up .ui-spinner-button{
	background-image: url(images/ui-icons_888888_256x240.png) !important;
}
#kduration_outer_div .ui-spinner-button {
	height: 11px !important;
}
#image_spin .ui-spinner-button {
	height: 11px !important;
}
#image_spin .ui-spinner-buttons{
	/*margin-top: 2px !important;*/
	margin-left: 30px !important;
	margin-top: 2px;
}
#opacity_slider a{
	background-image: url("../images/corners/slider_buta.png") !important;
	background-color: transparent;
	border: 0px;
}

#opacity_slider a:hover{
	background-image: url("../images/corners/slider_but.png") !important;
	background-color: transparent;
	border: 0px;
}
#opacity_slider{
	background-image: url("../images/corners/background_opacity.png") !important; 
	background: transparent;
	border: 0px;
	height: 6px !important;
}

#spinnerfast{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
}
#image_spin{
	/*	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
		font-size: 13px;
		text-align: left !important;
		top: 0px;*/
}
canvas { background-color: #eeeeee; top: 0; left: 0; }
canvas.resize-ne { cursor: ne-resize; }
canvas.resize-se { cursor: se-resize; }
canvas.resize-sw { cursor: sw-resize; }
canvas.resize-nw { cursor: nw-resize; }
canvas.move { cursor: move; }
canvas.default { cursor: default; }
#product_category_combo{
	background-color: #CECECE;
	border: gray solid 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #000000;
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 16px;
	/*	font-weight: bold;*/
	height: 31px;
	line-height: 26px;
	margin: 0;
	padding: 0px 0 0;
	vertical-align: middle;
}

.div_border_size .ui-spinner-buttons{
	height: 33px !important;
	/*	top: 2px !important;*/
	left: 11px !important;
}

.div_border_size .ui-spinner-button{
	height: 10px !important;
}
#width_spin{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
	top: 0px;
}
#width_spin .ui-spinner-button {
	height: 11px !important;
}
#width_spin .ui-spinner-buttons{
	/*	margin-top: 15px !important;
		  top: 1px;*/
	margin-left: 30px !important;

}
#hight_spin{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
	top: 0px;
}
#hight_spin .ui-spinner-button {
	height: 11px !important;
}
#hight_spin .ui-spinner-buttons{
	/*	margin-top: 15px !important;
		top: 1px;*/
	margin-left: 30px !important;

}
#xaxis_spin{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
	top: 0px;
}
#xaxis_spin .ui-spinner-button {
	height: 11px !important;
}
#xaxis_spin .ui-spinner-buttons{
	/*	margin-top: 15px !important;
		top: 1px;*/
	margin-left: 30px !important;

}
#yaxis_spin{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
	top: 0px;
}
#yaxis_spin .ui-spinner-button {
	height: 11px !important;
}
#yaxis_spin .ui-spinner-buttons{
	/*	margin-top: 15px !important;
		top: 1px;*/
	margin-left: 30px !important;
}
#text_spin .ui-spinner-buttons{
	margin-top: 2px;
}
#kduration_outer_div .ui-spinner-buttons{
	margin-top: 2px;
}
#width_spin .ui-spinner-buttons{
	margin-top: 2px;
}
#line_space{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
}
#line_space .ui-spinner-button{
	height: 12px !important;
}
#line_space .ui-spinner-buttons{
	left: 30px !important;
	margin-top: 1px !important;
}
#rotate{
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 13px;
	text-align: left !important;
}
#rotate .ui-spinner-button{
	height: 12px !important;
}
#rotate .ui-spinner-buttons{
	left: 14px !important;
	margin-left: 0 !important;
	margin-top: 1px !important;
	/*	margin-top: 1px !important;*/
}
#hight_spin .ui-spinner-buttons{
	margin-top: 2px;
}
#xaxis_spin .ui-spinner-buttons{
	margin-top: 2px;
}
#yaxis_spin .ui-spinner-buttons{
	margin-top: 2px;
}
#opacity_slider a{
	height: 20px;
	width: 20px;
	top : -5px;
}

ul #create_li_list{
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.button1 {

	background: url("../images/apply_img.png"); 
	height: 32px;
	width: 79px;
	border: none;
}
#contact-form3{
	height: 441px;
}

#dialog_data_preview{
	/*	width: 1024px;
		position: absolute;
		z-index: 1000;
		height: 576px;
		margin: 0px auto;
		background: #eeeeee; 
		border: 1px solid #e1e1e1;*/
	display: none;
}
#dialog_close{
	/*	position: absolute;
		float: right;
		top: -10px;
		right: -4px;
		cursor: pointer;*/

}

#permissions_divs{
	height: 100px;  
	overflow: auto;
}


.font_family ul{
	height: 250px !important;
	overflow-x:hidden !important;
	overflow-y:scroll !important;
}
#throberdiv{
	height:100%;
	width:100%;
	background:url(../images/throbber.gif)no-repeat center; 
	opacity:0.8;
	z-index:10000000;
	position:fixed;
}
#throber{
	height:485px;
	width:458px;
	background:url(../images/throbber.gif)no-repeat center; 
	opacity:0.8;
	z-index:10000000;
	position:absolute;
}

*:focus{
	outline: none;
	/*	outline: 1px solid transparent;*/
} 
#media_libarary{
	height: 570px;
	width: 915px;
	background: #fff;
	display: none;
	position: absolute;
	z-index: 100000000000000000;
	margin: -46px 200px;
	//border-radius: 5px 5px 5px 5px;
}
#playlist_dialog{
	height: 500px;
	width: 915px;
	background: #fff;
	display: none;
	position: absolute;
	z-index: 100000000000000000;
	margin: -46px 200px;
	border-radius: 5px 5px 5px 5px;
}
#playlist_dialog table{
	border: 1px solid #000000;
	height: 340px;
	overflow: scroll;
	padding: 10px;
}
#playlist_dialog table tr{
	background-color:#F8F8F8;
}
#playlist_dialog table td{
	text-align:center;
	padding:5px;
}
#playlist_dialog table th{
	font-weight: bold;
	padding:5px;
	background-color:#cccccc;
}
#playlist_dialog table select{
	min-width: 60px;
	padding: 3px;
	width: auto;
	background-color:#ffffff;
	margin-left: 5px;
}
#playlist_dialog_footer{
	background-color:#f2f2f2;
	padding:10px;
	text-align:right;
	margin-left:10px;
	margin-right:10px;
}

/**** Image Crop *****/
#crop_image_div{
	height: 610px;
	width: 915px;
	background: #fff;
	display: none;
	position: absolute;
	z-index: 100000000000000000;
	margin: -46px 200px;
	border-radius: 5px 5px 5px 5px;
}
#crop_image_parent_div {
	max-height: 490px;
	max-width: 900px;
}
.close_crop_window{
	background: url("../images/editor/close.png") no-repeat scroll 0 0 transparent;
	float: right;
	height: 42px;
	margin: -38px -58px;
	padding: 24px;
	width: 42px;
	cursor: pointer;
}
.libarary{
	padding: 5px;
	background: #000;
	z-index: 100000000000000000;
}
.header1{
	background: url('../images/box_top.png') repeat scroll -3px -31px transparent;
	float: left;
	height: 44px;
	width: 915px;
	border-radius: 5px 5px 0 0;
	cursor: move;
}
.header1 p{
	font-family: helveticaBold,Arial,'Helvetica',sans-serif;
	font-size: 15px;
	margin: 10px 15px ;
}
#image_preview{
	border-bottom: 1px solid lightblue;
	float: right;
	height: 430px;
	margin-top: -527px;
	width: 457px;
	overflow:auto;
}
.img_add_dlt_lib{
	/*	border: 1px solid red;*/
	float: right;
	height: 43px;
	margin-top: -96px;
	width: 454px;
	overflow-x: hidden;
	overflow-y: scroll;
	/*font-family: 'DroidSans' !important;*/
}
.img_dlt_lib{
	border: 1px solid #AAAAAA;
	float: left;
	font-size: 13px;
	height: 22px;
	margin: 3px 0 0 5px;
	padding: 0 0 0 6px;
	line-height: 21px;
	border-radius: 13px;
}
.dlt_img{
	cursor: pointer;
	float: right;
	margin-left: 5px;
	margin-right: -3px;
	margin-top: -3px;
}
.img_add_lib{
	color: #274699;
	float: left;
	font-size: 12px;
	height: 25px;
	line-height: 10px;
	margin: 0 0 0 0;
	width: 42px;
	cursor: pointer;
	/*font-family:"myriad", helvetica, arial, sans-serif;*/
}
.add_category{
	background: url("../images/add_category.png") no-repeat scroll 0 0 transparent;
	float: right;
	height: 32px;
	margin: 12px 12px 0 0;
	width: 138px;
	cursor: pointer;
}
.dlt_category{
	background: url("../images/i-trash.png") no-repeat scroll 0 3px transparent;
	cursor: pointer;
	float: left;
	height: 30px;
	width: 30px;
	margin: 12px 0 0 15px;
	display: none;
}
.dlt_category:hover{
	background:url(../images/i-trash.png) no-repeat 0 -57px;
}
.category_list{
	background: none repeat scroll 0 0 #F4F4F4;
	border: 2px solid #CCCCCC;
	bottom: 96px;
	height: 70px;
	left: 459px;
	position: absolute;
	width: 452px;
}
.cat_name{
	color: #274699;
	cursor: pointer;
	float: left;
	font-family: 'DroidSans' !important;
	font-size: 13px;
	margin-right: 5px;
	overflow: hidden;
	width: 120px;
}
#thumbs_image_preview{
	height: 400px;
	width: 400px;
	opacity : 1;
}
.btn_apply{
	background: url("../images/box4_top.png") repeat scroll -3px -28px transparent;
	float: right;
	height: 50px;
	margin-top: -51px;
	width: 456px;
	border-radius: 0 0px 5px 0;
}
.uploaded_images{
	border-right: 1px solid lightblue;
	height: 527px;
	margin-top: 44px;
	width: 458px;
}

.close_library, .close_playlist_dialog{
	background: url("../images/editor/close.png") no-repeat scroll 0 0 transparent;
	float: right;
	height: 42px;
	margin: -38px -58px;
	padding: 24px;
	width: 42px;
	cursor: pointer;
}
.ui-dialog{
	z-index: 10000000000000 !important;
}
.delete_img_btn{
	background: url("../images/i-trash.png") no-repeat scroll 0 3px transparent;
	cursor: pointer;
	float: left;
	height: 30px;
	margin: -30px 0 0 300px;
	width: 30px;
}
.delete_img_btn:hover{
	background:url(../images/i-trash.png) no-repeat 0 -57px;
}
#popup_dialog2{
	height: 326px;
	left: 50%;
	margin-left: -38em;
	margin-top: -5em;
	position: fixed;
	top: 45%;
	width: 796px;
	z-index: 10000000000000;
}
#popup_dialog2{
	height: 326px;
	left: 50%;
	margin-left: -38em;
	margin-top: -5em;
	position: fixed;
	top: 45%;
	width: 796px;
	z-index: 10000000000000;
}
.dialog_header2{
	color: #333333;
	float: left;
	font-family: helveticaBold,Arial,'Helvetica',sans-serif;
	font-size: 14px;
	height: auto;
	margin-left: -270px;
	padding-left: 0;
	padding-top: 9px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FBFBFB;
	width: 719px;
}

.dialog_msg {
	color: #000000;
	float: left;
	font-family: 'CalibriRegular',Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: auto;
	line-height: 30px;
	margin-bottom: 10px;
	/*	margin-left: -28px;*/
	margin-top: 0;
	padding-right: 20px;
	padding-top: 15px;
	text-align: left;
	width: 200px;
}
#ok {
	/*	background: url("../images/bg-btn-2.png") repeat scroll 0 0 transparent;
		border: medium none;
		border-radius: 40px 40px 40px 40px;
		color: #FFFFFF;
		cursor: pointer;
		display: block;
		font-family: 'helveticaBold';
		font-size: 14px;
		font-weight: normal;
		height: 33px;
		padding: 4px 0 9px;
		text-decoration: none;
		text-shadow: 1px 1px 1px #484848;
		width: 56px;*/
}
#cancel {
	/*	background: url("../images/bg-btn-2.png") repeat scroll 0 0 transparent;
		border: medium none;
		border-radius: 40px 40px 40px 40px;
		color: #FFFFFF;
		cursor: pointer;
		display: block;
		font-family: 'helveticaBold';
		font-size: 14px;
		font-weight: normal;
		height: 33px;
		padding: 4px 0 9px;
		text-decoration: none;
		text-shadow: 1px 1px 1px #484848;
		width: 72px;*/
}
.error23{
	color: #b94a48;
	display: none;
	float: right;
	font-weight: bold;
	margin-left: 40px;
	text-align: center;
}

.imac_imager92 #websites2_msdd{
	width: 152px !important;
}
#cat_list .jqTransformSelectWrapper{
	margin: 7px 0 0 17px !important;
	width: 200px !important;
}
#cat_list .jqTransformSelectWrapper ul{
	padding: 0 !important;
	max-height: 200px !important;
	overflow-x: hidden !important;
}
#list_cat{
	background-color: #DCDCDC;
	border: 1px solid #CBCBCB;
	float: left;
	height: 23px;
	margin: -15px 0 0 159px;
	width: 180px;
	font-family:'DroidSans' !important; 
}
#list_cat option{
	background-color: #FFFFFF;
	line-height: 26px;
	padding: 3px;
}
.wrapper{
	border: 1px dashed red;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 150px;
}
#cat_list #list_cat_msdd{
	width: 151px !important;
	margin-left: 135px !important;
	margin-top: 7px !important;
}
#cat_list .dd2 .ddTitle span.ddTitleText img{
	border: none !important;
}
#cat_list .dd2 .ddChild a img {
	border: 1px solid transparent !important;
}
#WzTtDiV{
	z-index: 1000000000000000000000 !important;
}
.dlt_category:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	color: #fff;
	content: "Delete Category";
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 1000000000;
	width: 90px;
	margin-top: -31px;
}
.dlt_category:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	content: "";
	left: 20%;
	position: absolute;
	z-index: 1000000000;
	margin-left: 10px;
	margin-top: -3px;
}
.delete_img_btn:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	color: #fff;
	content: "Delete Image";
	left: 86%;
	padding: 5px 15px;
	position: absolute;
	z-index: 1000000000;
	width: 80px;
	margin-top: -31px;
}
.delete_img_btn:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	content: "";
	left: 86%;
	position: absolute;
	z-index: 1000000000;
	margin-left: 14px;
	margin-top: -3px;
}
.img_add_lib:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	color: #fff;
	content: "Add image in category";
	left: 55%;
	padding: 7px 15px;
	position: absolute;
	z-index: 1000000000;
	width: auto;
	top:79.2%;
	/*font-family: "myriad", helvetica, arial, sans-serif;*/
}
.img_add_lib:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	content: "";
	left: 57%;
	position: absolute;
	z-index: 1000000000;
	margin-left: 10px;
	margin-top: 0px;
}
.round{
	float: left;
	height: 55px;
	margin-left: 20px;
	width: 93px;
}
.round_border{
	width: 35px;
	height: 24px;
}
.round .ui-spinner-buttons{
	left: 15px !important;
	margin-left: 0;
	margin-top: 0;
}
.rounded_rectangle{
	border-bottom: 1px solid #C6C6C6;
	font-size: 12px;
	margin-bottom: 7px;
	margin-left: 11px;
	margin-right: 11px;
	padding-left: 18px;
}
.imgthumb{
	box-shadow: 1px 1px 2px rgb(172, 172, 172);
}
.see_more{
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #1B73B8;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 108px;
	position: relative;
	text-align: center;
	width: 200px;
	border-radius: 3px;
}
.dblclick{
	background: #ffffff !important;
	color: #000 !important;
	border: 1px dashed #4EA4FA !important;
}


#ol_list{
	padding-left: 5px;
	padding-right:2px;
}
#ul_list{
	padding-left: 5px;
	padding-right:2px;
}


.pan-zoom-note{
	color: #8E9F97;
	font-size: 10px;
	font-style: italic;
	margin-left: -35px;
}

.slideshow {
	position:relative;
	width:inherit;
	height:inherit;
	overflow:hidden;  
	-webkit-box-shadow:1px 1px 5px #000;
	-moz-box-shadow:1px 1px 5px #000;
	-o-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
}
.slideshow img {
	position:absolute;  
	top:20%;
	left:20%;
	margin-left:-180px;
	margin-top:-120px;
	opacity:0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 3s, 8s;
	-moz-transition-property: opacity, -moz-transform;
	-moz-transition-duration: 3s, 8s;
	-o-transition-property: opacity, -o-transform;
	-o-transition-duration: 3s, 8s;
	transition-property: opacity, transform;
	transition-duration: 3s, 8s;
}


.slideshow img  {

	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	transform-origin: bottom left;
}

.slideshow :nth-child(2n+1) {
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
}

.slideshow :nth-child(3n+1) {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
}
.slideshow :nth-child(4n+1) {
	-webkit-transform-origin: bottom right;
	-moz-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	-o-transform-origin: bottom right;
	transform-origin: bottom right;
}

.slideshow .fx:first-child + img ~ img {
	z-index:-1;
}
.slideshow .fx {
	-webkit-transform: scale(1.5) translate(40px);
	-moz-transform: scale(1.5) translate(40px);
	-o-transform: scale(1.5) translate(40px);
	transform: scale(1.5) translate(40px);
	opacity:1;
}


.clstextedit{
	/*display:inline-block;*/
	margin:0;	
}
#outer_playlist_tbl_div{
	height: 400px;
	overflow-y: scroll;
	width: 100%;
}
.del_playlist_img_thumb{position:absolute;top:-16px;left:110px;z-index:9999999;cursor:pointer;}
.playlist_image_row .preview_pl_img_div{
	position: relative;
	width:120px;height:120px;margin:0 auto;border:1px solid #cccccc;
}
.playlist_image_row img{
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;		
	transform: translateX(-50%);
}
.playlist_chk_all{background-color:#CCCCCC;}
.check_all_effect{vertical-align: text-bottom;}

#kduration_outer_div{
	display:none; 
}
.kduration_div{width:46px; height:auto; float:left; font-family: 'DroidSans' !important; font-size:10px; color:#000000; padding:5px 0; margin-left: 0px;
			margin-top: 12px;}
.image_serach{display: inline-block;float:right;margin-left: 6px;background-color: #327db7;padding: 1px 4px;height: 32px;width: 30px;}
.image_serach:hover{background-color: #444;}
