.ui-spinner {position: relative; border: 0px solid white; cursor: pointer !important;}
.ui-spinner-buttons {position: absolute; margin-left: -15px;margin-top: -34px;}
.ui-spinner-button {overflow: hidden}
