@charset "utf-8";
/* CSS Document */

.text_btn { width:55px; height:55px; float:left; }
.text_btn a { width:55px; height:55px; float:left; background:url(../images/cn/text.png); }
.text_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/text_f.png); }

.image_btn { width:55px; height:55px; float:left; }
.image_btn a { width:55px; height:55px; float:left; background:url(../images/cn/image.png); }
.image_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/image_f.png); }

.video_btn { width:55px; height:55px; float:left; }
.video_btn a { width:55px; height:55px; float:left; background:url(../images/cn/video.png); }
.video_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/video_f.png); }

.copy_btn { width:55px; height:55px; float:left; }
.copy_btn a { width:55px; height:55px; float:left; background:url(../images/cn/copy.png); }
.copy_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/copy_f.png); }

.del_btn { width:55px; height:55px; float:left; }
.del_btn a { width:55px; height:55px; float:left; background:url(../images/cn/delete.png); }
.del_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/delete_f.png); }

.undo_btn { width:55px; height:55px; float:left; }
.undo_btn a { width:55px; height:55px; float:left; background:url(../images/cn/undo.png); }
.undo_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/undo_f.png); }

.redo_btn { width:55px; height:55px; float:left; }
.redo_btn a { width:55px; height:55px; float:left; background:url(../images/cn/redo.png); }
.redo_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/redo_f.png); }

.dis_btn { width:55px; height:55px; float:left; }
.dis_btn a { width:55px; height:55px; float:left; background:url(../images/cn/discard.png); }
.dis_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/discard_f.png); }

.zoomin_btn { width:55px; height:55px; float:left; }
.zoomin_btn a { width:55px; height:55px; float:left; background:url(../images/cn/zoomin.png); }
.zoomin_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/zoomin_f.png); }

.zoomout_btn { width:55px; height:55px; float:left; }
.zoomout_btn a { width:55px; height:55px; float:left; background:url(../images/cn/zoomout.png); }
.zoomout_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/zoomout_f.png); }

.grid_btn { width:55px; height:55px; float:left; margin:-3px 0 0 13px; padding:0; }
.grid_btn a { width:55px; height:55px; float:left; background:url(../images/cn/grid.png); }
.grid_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/grid_f.png); }
.grid_btn_active a { width:55px; height:55px; float:left; background:url(../images/cn/grid_f.png); } 

.pre_btn { width:55px; height:55px; float:left; margin:0px 0 0 13px; padding:0; }
.pre_btn a { width:55px; height:55px; float:left; background:url(../images/cn/preview.png); }
.pre_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/preview_f.png); }

.save_btn { width:55px; height:55px; float:left; }
.save_btn a { width:55px; height:55px; float:left; background:url(../images/cn/save.png); }
.save_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/save_f.png); }

.close1_btn { width:55px; height:55px; float:left; margin:0; padding:0; }
.close1_btn a { width:55px; height:55px; float:left; background:url(../images/cn/close1.png); }
.close1_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/close1_f.png); }

.close2_btn { width:55px; height:55px; float:left; margin:0; padding:0; }
.close2_btn a { width:55px; height:55px; float:left; background:url(../images/cn/close2.png); }
.close2_btn a:hover { width:55px; height:55px; float:left; background:url(../images/cn/close2_f.png); }

.lock_box .lock_main { width:65px; height:65px; float:left; background:url(../images/cn/lock_f.png); }
.lock_box .unlock_main { width:65px; height:65px; float:left; background:url(../images/cn/unlock_f.png); }

.lock_btn { width:65px; height:65px; float:left; background:url(../images/cn/lock.png); }
.lock_btn:hover { width:65px; height:65px; float:left; background:url(../images/cn/lock_f.png); }

.unlock_btn { width:65px; height:65px; float:left; background:url(../images/cn/unlock.png); }
.unlock_btn:hover { width:65px; height:65px; float:left; background:url(../images/cn/unlock_f.png); }

.front_btn { width:65px; height:65px; float:left; background:url(../images/cn/front.png); }
.front_btn:hover { width:65px; height:65px; float:left; background:url(../images/cn/front_f.png); }

.back_btn { width:65px; height:65px; float:left; background:url(../images/cn/back.png); }
.back_btn:hover { width:65px; height:65px; float:left; background:url(../images/cn/back_f.png); }
