#CentOS SystemD managed service

[Unit]
Description=Java REST Skeleton
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
# 请替换成实际运行用户和组
User=root
Group=root
Type=forking
# 请替换成实际项目路径
PIDFile=/opt/java-rest-skeleton/run.pid
# 请替换成实际项目路径
ExecStart=/opt/java-rest-skeleton/script/service.sh start
KillMode=process
Restart=always
PrivateTmp=true