/*room name*/
.room-name {
    position: absolute;
    left: 213px;
    top: 54px;
    margin: 0;
    font-size: 80px;
    color: rgb(251,192,0);
}
/*time*/
.current-time {
    position: absolute;
    left: 608px;
    top: 28px;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    color: rgb(255,255,255);
}

/*切换星期视图*/
.week-btn {
    position: absolute;
    left: 705px;
    top: 1760px;
    width: 300px;
    height: 60px;
    margin: 0;
}

/*切换今天视图*/
.today-btn {
    position: absolute;
    left: 78px;
    top: 272px;
    width: 930px;
    height: 134px;
    margin: 0;
}


/*layout*/
.today, .week {
    /*background-image: url("./module/meeting/background.png");*/
    /*background-image: url("./background.png");*/
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 1080px !important;
    height: 1920px !important;
    font-family: SimHei,SimSun,Arial,sans-serif;
}

.today {
    background-image: url("./today-bg2.png");
}

.today.current {
    background-image: url("./today-bg1.png");
}

.week {
    background-image: url("./week-bg1.png");
}

.week.has-today {
    background-image: url("./week-bg2.png");
}

/*会议主题*/
.today .meeting-details .subject {
    position: absolute;
    left: 360px;
    top: 300px;
    width: 630px;
    font-size: 76px;
    margin: 0;
    color: rgb(0,0,0)
}

/*会议详情*/
.today .meeting-details .details p {
    position: absolute;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    color: rgb(0,0,0)
}

.today .meeting-details .details p.time {
    left: 410px;
    top: 564px;
}

.today .meeting-details .details p.booker {
    left: 410px;
    top: 652px;
}

.today .meeting-details .details p.attendee {
    left: 410px;
    top: 739px;
}

/*会议列表*/
.today .today-meeting-list {
    position: absolute;
    left: 68px;
    top: 909px;
    width: 994px;
    height: 970px;
    overflow: auto;
}

.today .today-meeting-list>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 944px;
    height: 148px;
    color: white;
    border-radius: 12px;
}

.today .today-meeting-list>div>.info {
    display: flex;
    align-items: center;
}

.today .today-meeting-list>div>.info>.time {
    padding-left: 12px;
    font-size: 60px;
}

.today .today-meeting-list>div>.info>.subject {
    font-size: 40px;
}

.today .today-meeting-list>div>.qrcode {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 124px;
    margin-right: 12px;
    border-radius: 8px;
    background-color: rgb(255,255,255);
}

.today .today-meeting-list>div .qrcode>img {
    width: 105px;
    height: 105px;
}

.today .today-meeting-list>div.active {
    background-color: rgb(214,92,81);
}

.today .today-meeting-list>div.current {
    color: rgb(250,191,0);
}


/*星期日期列表视图*/
.week .day-list{
    position: absolute;
    left: 95px;
    top: 490px;
    width: 890px;
    height: 110px;
    display: flex;
    justify-content: space-between;
}

.week .day-list>.day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    color: rgb(0,0,0);
}

.week .day-list>.day>p{
    margin: 0;
}

.week .day-list>.day>p.date{
    font-size: 30px;
}

.week .day-list>.day>p.weekday{
    font-size: 40px;
}

.week .day-list>.day.active{
    color: rgb(255,0,0);
}

/*星期 日列表视图*/
.week .no-meeting {
    text-align: center;
    font-size: 40px;
    color: rgb(255,255,255);
}

.week .day-meeting-list {
    position: absolute;
    left: 40px;
    top: 660px;
    width: 1000px;
    height: 1190px;
    overflow: auto;
}

.week .day-meeting-list>.day-meeting {
    position: relative;
    left: 28px;
    top: 28px;
    color: rgb(255,255,255);
    width: 944px;
    height: 136px;
}

.week .day-meeting-list>.day-meeting.active {
    height: 362px;
    background-image: url("./active-meeting.png");
}

.week .day-meeting-list>.day-meeting>.info {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 136px;
}

.week .day-meeting-list>.day-meeting.active>.info {
    color: rgb(251,192,0);
}

.week .day-meeting-list>.day-meeting .info>.time {
    font-size: 60px;
    font-weight: bold;
    padding-left: 32px;
}

.week .day-meeting-list>.day-meeting .info>.subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
}

.week .day-meeting-list>.day-meeting>.details {
    display: none;
}

.week .day-meeting-list>.day-meeting.active>.details {
    display: block;
}

.week .day-meeting-list>.day-meeting>.details > p {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    color: rgb(0,0,0);
    margin: 0;
}

.week .day-meeting-list>.day-meeting .details > .time {
    left: 88px;
    top: 140px;
}

.week .day-meeting-list>.day-meeting .details > .booker {
    left: 88px;
    top: 208px;
}

.week .day-meeting-list>.day-meeting .details > .attendee {
    left: 88px;
    top: 278px;
}

.output {
    position: absolute;
    left:200px;
    top: 600px;
    width: 800px;
    height: 300px;
    background-color: #3a87ad;
    color: red;
}