.room-name > p {
    position: absolute;
    left: 210px;
    top: 54px;
    margin: 0;
    font-size: 60px;
    color: #E4A111;
}

.current-time > p {
    position: absolute;
    left: 600px;
    top: 20px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    color: white;
}

.today, .week {
    /*background-image: url("./module/meeting/background.png");*/
    /*background-image: url("./background.png");*/
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 1080px;
    height: 1920px;
    font-family: SimHei,SimSun,Arial,sans-serif;
}

.today .meeting-details {
    position: absolute;
    left: 40px;
    top: 240px;
    width: 1000px;
    height: 600px;
    background-color: #F3D5CF;
    border-radius: 20px;
}

.today .meeting-details .status {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 220px;
    height: 500px;
    border-radius: 20px;
    background-color: red;
}

.today .meeting-details .status p{
    width: 70px;
    margin: 40px auto;
    font-size: 70px;
    font-weight: 500;
    line-height: 82px;
    word-wrap: break-word;
    color: white;
}

.today .meeting-details .subject {
    position: absolute;
    left: 320px;
    top: 50px;
    width: 630px;
    font-size: 76px;
    font-weight: 600;
    margin: 0;
}

.today .meeting-details .details {
    position: absolute;
    left: 320px;
    bottom: 50px;
    width: 630px;
    font-size: 40px;
    margin: 0;
}

.today .meeting-details .details > p {
    margin: 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.today .meeting-details .time > i {
    color: red;
}

.today .meeting-details .booker > i {
    color: orange;
}

.today .meeting-details .attendee > i {
    color: yellow;
}

.today .today-meeting-list {
    position: absolute;
    left: 40px;
    top: 900px;
    width: 1000px;
    height: 970px;
    overflow: auto;
    border-radius: 20px;
    background-color: rgba(112,26,5,0.6);
}

.today .today-meeting-list table {
    margin: 30px;
    width: 940px;
    table-layout: fixed;
    color: white;
    border: solid 0 white;
    border-spacing: 0;
}

.today .today-meeting-list .info {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
}

.today .today-meeting-list .qrcode {
    width: 160px;
    padding: 20px;
}

.today .today-meeting-list tr.active {
    background-color: #F3D5CF;
}

.today .today-meeting-list tr.current {
    color: #E4A111;
}

.week .day-list{
    position: absolute;
    left: 40px;
    top: 240px;
    width: 1000px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

.week .day-list .status {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 900px;
    height: 150px;
    border-radius: 20px;
    background-color: red;
}

.week .day-list .status i{
    position: absolute;
    left: 30px;
    margin: 0;
    font-size: 90px;
    font-weight: 500;
    line-height: 150px;
    color: white;
}

.week .day-list .status p{
    margin: 0;
    font-size: 70px;
    font-weight: 500;
    line-height: 150px;
    text-align: center;
    color: white;
}

.week .day-list .title{
    position: absolute;
    left: 50px;
    top: 220px;
    margin: 10px 0 0;
    font-size: 32px;
    font-weight: 500;
    color: black;
}

.week .day-list .list{
    position: absolute;
    left: 50px;
    top: 280px;
    width: 900px;
    height: 80px;
}

.week .day-list .list table{
    width: 100%;
    table-layout: fixed;
    color: black;
    border-collapse:collapse;
    border:none;
}

.week .day-list .list table td{
    border-right:solid 3px #000;
}

.week .day-list .list table td:last-child{
    border-right:none;
}

.week .day-list .list table td.active{
    color: red;
}

.week .day-list .list table p{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.week .day-meeting-list {
    position: absolute;
    left: 40px;
    top: 700px;
    width: 1000px;
    height: 1170px;
    overflow: auto;
    border-radius: 20px;
    background-color: rgba(112,26,5,0.6);
}

.week .no-meeting {
    text-align: center;
    font-size: 46px;
    color: white;
}

.week .day-meeting-list table {
    margin: 30px;
    width: 940px;
    table-layout: fixed;
    color: white;
    border: none;
    border-spacing: 0;
}

.week .day-meeting-list tr.active {
    color: #E4A111;
    background-color: #F3D5CF;
}

.week .day-meeting-list .info {
    margin: 30px 0 20px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 46px;
}

.week .day-meeting-list .details > p {
    margin: 10px 0;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    color: darkred;
}

.week .day-meeting-list .time > i {
    color: red;
}

.week .day-meeting-list .booker > i {
    color: orange;
}

.week .day-meeting-list .attendee > i {
    color: yellow;
}


