<!--basic summary模版-->
<script id="temp_basic_summary" type="text/x-dot-template">
    <div class="col-md-3">
        <div style="background-color: #27A9E3">
            <i class="fa fa-home"/>
            <p class="number">{{=it.meeting_rooms_total}}</p>
            <p class="text">会议室</p>
        </div>
    </div>
    <div class="col-md-3">
        <div style="background-color: #28B779">
            <i class="fa fa-signal"/>
            <p class="number">{{=it.meetings_total}}</p>
            <p class="text">历史会议</p>
        </div>
    </div>
    <div class="col-md-3">
        <div style="background-color: #852B99">
            <i class="fa fa-group"/>
            <p class="number">{{=it.day_meetings_total}}</p>
            <p class="text">今天会议</p>
        </div>
    </div>
    <div class="col-md-3">
        <div style="background-color: #FFB848">
            <i class="fa fa-comments"/>
            <p class="number">{{=it.ongoing_meetings_total}}</p>
            <p class="text">正在进行</p>
        </div>
    </div>
</script>

<!--会议模版-->
<script id="temp_add_meeting" type="text/x-dot-template">
    <div id="modal_add_meeting" class="modal fade" tabindex="-1" data-keyboard="false" data-width="600px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">新增会议</h4>
        </div>
        <form id="form_add_meeting" class="form-horizontal">
            <div class="modal-body" style="padding:15px">
                <input type="text" class="form-control" name="meeting_room_id" value="{{=it.roomId}}"
                       style="display:none">
                <div class="form-group">
                    <label class="col-md-3 control-label">会议室</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" value="{{=it.roomName}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">主题</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">描述</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" name="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">开始时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="start_time" value="{{=it.start}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">结束时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="end_time" value="{{=it.end}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">参与人员</label>
                    <div class="col-md-4" style="border:solid 1px #eee;min-height: 34px;padding: 4px!important;">
                        <div class="branches"></div>
                    </div>
                    <div class="col-md-5">
                        <select type="text" class="form-control attendee-selector">
                            <option>未选</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3 attendees"></div>
            </div>
            <div class="modal-footer">
                <button id="add_meeting_submit" class="btn blue pull-right"><i class="fa fa-check"></i>新增</button>
                <button type="button" class="btn default  pull-right margin-right-10" data-dismiss="modal"><i
                        class="fa fa-times"></i> 关闭
                </button>
            </div>
        </form>
    </div>
</script>

<script id="temp_edit_meeting" type="text/x-dot-template">
    <div id="modal_edit_meeting" class="modal fade" tabindex="-1" data-keyboard="false" data-width="600px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">编辑会议</h4>
        </div>
        <form id="form_edit_meeting" class="form-horizontal">
            <div class="modal-body" style="padding:15px">
                <input type="text" class="form-control" name="meeting_id" value="{{=it.meeting_id}}"
                       style="display:none">
                <input type="text" class="form-control" name="meeting_room_id" value="{{=it.meetingroom_id}}"
                       style="display:none">
                <div class="form-group">
                    <label class="col-md-3 control-label">会议室</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" value="{{=it.roomName}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">主题</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="subject" value="{{=it.subject}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">描述</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" name="description">{{=it.description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">开始时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="start_time" value="{{=it.start_time}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">结束时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="end_time" value="{{=it.end_time}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">参与人员</label>
                    <div class="col-md-4" style="border:solid 1px #eee;min-height: 34px;padding: 4px!important;">
                        <div class="branches"></div>
                    </div>
                    <div class="col-md-5">
                        <select type="text" class="form-control attendee-selector">
                            <option>未选</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3 attendees">
                    {{~it.attendees:attendee:index}}
                    <span class="label label-success" data-id="{{=attendee.user_id}}">
                        {{=attendee.name}} <i class="fa fa-times"></i>
                    </span>
                    {{~}}
                </div>
            </div>
            <div class="modal-footer">
                <button id="remove_meeting_submit" data-meeting-id="{{=it.meeting_id}}" class="btn purple pull-left"><i
                        class="fa fa-trash-o"></i>删除
                </button>
                <button type="button" class="btn default" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                <button id="edit_meeting_submit" class="btn blue"><i class="fa fa-check"></i>保存</button>
            </div>
        </form>
    </div>
</script>

<script id="temp_attendee" type="text/x-dot-template">
    {{~it:attendee:index}}
    <option value="{{=attendee.user_id}}">{{=attendee.name}}</option>
    {{~}}
</script>

<!--用户登录模版-->
<div id="modal_login" class="modal fade" tabindex="-1" data-keyboard="false" data-width="300px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">用户登录</h4>
    </div>
    <form id="form_login">
        <div class="modal-body" style="padding:15px">
            <div class="input-group margin-bottom-20"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" id="username" placeholder="用户名" required="required">
            </div>
            <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" id="password" placeholder="密码" required="required">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="login_submit" class="btn blue pull-right"><i class="fa fa-check"></i>登录</button>
            <button type="button" class="btn default  pull-right margin-right-10" data-dismiss="modal"><i
                    class="fa fa-times"></i> 关闭
            </button>
        </div>
    </form>
</div>

<!--课程分类模版-->
<!--
<script id="temp_category" type="text/x-dot-template">
<div class="btn-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="javascript:;"> <span class="current-cate">课程分类</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        {{~it:cate:index}}
        <li data-cate-id="{{=cate.id}}" data-cate-name="{{=cate.name}}">
            <a href="javascript:;"> {{=cate.name}}</a>
        </li>
        {{~}}
    </ul>
</div>
</script>
-->
<script id="temp_building" type="text/x-dot-template">
    <dt>写字楼：</dt>
    <dd class="select-none selected"><a href="#">未选</a></dd>
    {{~it:building:index}}
    <dd data-building-id="{{=building.category_id}}" data-building-name="{{=building.name}}"><a>{{=building.name}}</a>
    </dd>
    {{~}}
</script>

<script id="temp_room" type="text/x-dot-template">
    <dt>会议室：</dt>
    <dd class="select-none selected"><a href="#">未选</a></dd>
    {{~it:room:index}}
    <dd data-room-id="{{=room.meeting_room_id}}" data-room-name="{{=room.name}}"><a>{{=room.name}}</a></dd>
    {{~}}
</script>

<!--我的会议列表模版-->
<script id="temp_my_meeting_list" type="text/x-dot-template">
    {{~it.data:meeting:index}}
    <div class="col-md-3">
        <div class="panel panel-success" data-meeting-id="{{=meeting.meeting_id}}">
            <div class="panel-heading">{{=meeting.subject}}</div>
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <td style="width:30%;font-weight: bold">会议室</td>
                    <td>{{=meeting.meeting_room_name}}</td>
                </tr>
                <tr>
                    <td style="width:30%;font-weight: bold">预定人</td>
                    <td>{{=meeting.book_user}}</td>
                </tr>
                <tr>
                    <td style="width:30%;font-weight: bold">参会人</td>
                    <td style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"
                        title="{{~meeting.attendees:attendee:index2}}{{=attendee.name}} {{~}}">
                        {{~meeting.attendees:attendee:index2}}{{=attendee.name}} {{~}}
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;font-weight: bold">时间</td>
                    <td>{{=moment(meeting.start_time).format('MM-DD HH:mm')}} -
                        {{=moment(meeting.end_time).format('HH:mm')}}
                    </td>
                </tr>
            </table>
            <div class="panel-footer" {{? (meeting.book_user_id !=it.currentUserId) ||
                 (moment(meeting.start_time).isBefore(moment()))}} style="visibility:hidden" {{?}}>
                <button class="edit-meeting btn btn-sm blue" data-meeting-id="{{=meeting.meeting_id}}"><i
                        class="fa fa-edit"></i>编辑
                </button>
            </div>
        </div>
    </div>
    {{~}}
</script>

<script id="temp_edit_my_meeting" type="text/x-dot-template">
    <div id="modal_edit_my_meeting" class="modal fade" tabindex="-1" data-keyboard="false" data-width="600px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">编辑会议</h4>
        </div>
        <form id="form_edit_my_meeting" class="form-horizontal">
            <div class="modal-body" style="padding:15px">
                <input type="text" class="form-control" name="meeting_id" value="{{=it.meeting_id}}"
                       style="display:none">
                <input type="text" class="form-control" name="meeting_room_id" value="{{=it.meeting_room_id}}"
                       style="display:none">
                <div class="form-group">
                    <label class="col-md-3 control-label">会议室</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" value="{{=it.meeting_room_name}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">主题</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="subject" value="{{=it.subject}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">描述</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" name="description">{{=it.description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">开始时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="start_time" value="{{=it.start_time}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">结束时间</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="end_time" value="{{=it.end_time}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">参与人员</label>
                    <div class="col-md-4" style="border:solid 1px #eee;min-height: 34px;padding: 4px!important;">
                        <div class="branches"></div>
                    </div>
                    <div class="col-md-5">
                        <select type="text" class="form-control attendee-selector">
                            <option>未选</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3 attendees">
                    {{~it.attendees:attendee:index}}
                    <span class="label label-success" data-id="{{=attendee.user_id}}">
                        {{=attendee.name}} <i class="fa fa-times"></i>
                    </span>
                    {{~}}
                </div>
            </div>
            <div class="modal-footer">
                <button id="remove_my_meeting_submit" data-meeting-id="{{=it.meeting_id}}" class="btn purple pull-left">
                    <i
                            class="fa fa-trash-o"></i>删除
                </button>
                <button type="button" class="btn default" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                <button id="edit_my_meeting_submit" class="btn blue"><i class="fa fa-check"></i>保存</button>
            </div>
        </form>
    </div>
</script>

<!--分页模版-->
<script id="temp_pagination" type="text/x-dot-template">
    <li>
        <a href="#">
            <i class="fa fa-angle-left"></i>
        </a>
    </li>
    {{~it.paging:page:index}}
    <li {{? page== it.curPage}}class="checked" {{?}}>
        <a href="#"> {{=page}} </a>
    </li>
    {{~}}
    <li>
        <a href="#">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</script>

<!--直播课程模版-->
<script id="temp_live_course_list" type="text/x-dot-template">
    {{~it.data:course:index}}
    <li class="listbox mr20 course">
        <div class="listimg" data-id="{{=course.id}}"><a>
            <img src="{{=course.thumbnail}}"
                 class="attachment-thumbnail wp-post-image"
                 onerror="this.src='assets/img/course.jpg';"/></a>
            <div class="summary">
                <div class="summarytxt" style="color:#fff">
                    <p style="margin-bottom:0">{{=course.live_schedules[0].name}}</p>
                    <p>{{=it.timeFormat(course.live_schedules[0].start,course.live_schedules[0].end)}}</p>
                </div>
            </div>
        </div>
        <div class="listinfo">
            <div class="listtitle"><a data-id="{{=course.id}}">{{=course.name.slice(0,17)}}</a></div>
            <div class="listdate">{{=it.dateFormat(course.start)}} - {{=it.dateFormat(course.end)}}</div>
        </div>
    </li>
    {{~}}
</script>

<!--我的课程模版-->
<script id="temp_my_course_list" type="text/x-dot-template">
    {{~it.data:course:index}}
    <li class="listbox mr20 course">
        <div class="listimg" data-id="{{=course.course.id}}"><a>
            <img src="{{=course.course.thumbnail}}"
                 class="attachment-thumbnail wp-post-image"
                 onerror="this.src='assets/img/course.jpg';"/></a>
            <!--<div class="summary">
                <div class="summarytxt">
                    <p>{{=course.course.short_description}}</p>
                </div>
            </div>-->
        </div>
        <div class="listinfo">
            <div class="listtitle"><a data-id="{{=course.course.id}}">{{=course.course.name.slice(0,17)}}</a></div>
            <div class="listdate">{{=it.dateFormat(course.course.start)}} - {{=it.dateFormat(course.course.end)}}</div>
        </div>
    </li>
    {{~}}
</script>

<!--我的课程表模版-->
<script id="temp_my_course_schedule" type="text/x-dot-template">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1_1" data-toggle="tab"> 单周 </a>
        </li>
        <li>
            <a href="#tab_1_2" data-toggle="tab"> 双周 </a>
        </li>
        <li>
            <a> <span style="color:#000000">当前： 第</span><span style="color:#ff0000"> {{=it.weekNo}} </span>
                <span style="color:#000000">周</span> </a>
        </li>
    </ul>
    <div class="tab-content" style="padding:0 20px">
        <div id="tab_1_1" class="tab-pane fade active in">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:20%;text-align: center">周一</th>
                        <th style="width:20%;text-align: center">周二</th>
                        <th style="width:20%;text-align: center">周三</th>
                        <th style="width:20%;text-align: center">周四</th>
                        <th style="width:20%;text-align: center">周五</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{for(var i=1;i<=8; i++){}}
                    <tr style="height:35px;text-align:center;">
                        {{for(var j=1; j<=5; j++){}}
                        <td>
                            {{~it.oddCourseList:course:index}}
                            {{? course.dayNo==j && course.courseNo==i}}
                            {{=course.courseName}} - {{=course.classRoom}}
                            {{?}}
                            {{~}}
                        </td>
                        {{ } }}
                    </tr>
                    {{ } }}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tab_1_2" class="tab-pane fade">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:20%;text-align: center">周一</th>
                        <th style="width:20%;text-align: center">周二</th>
                        <th style="width:20%;text-align: center">周三</th>
                        <th style="width:20%;text-align: center">周四</th>
                        <th style="width:20%;text-align: center">周五</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{for(var i=1;i<=8; i++){}}
                    <tr style="height:35px;text-align: center;">
                        {{for(var j=1; j<=5; j++){}}
                        <td>
                            {{~it.evenCourseList:course:index}}
                            {{? course.dayNo==j && course.courseNo==i}}
                            {{=course.courseName}} - {{=course.classRoom}}
                            {{?}}
                            {{~}}
                        </td>
                        {{ } }}
                    </tr>
                    {{ } }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</script>

<!--课程详情模版-->
<script id="temp_course_details" type="text/x-dot-template">
    <div data-id="{{=it.course.id}}">
        <div class="row">
            <div class="col-md-6" style="height: 300px;overflow: hidden">
                <img src="{{=it.course.thumbnail}}" onerror="this.src='assets/img/course.jpg';" width="100%"/>
            </div>
            <div class="col-md-6">
                <h4>{{=it.course.name}}</h4>
                <p>简介：{{=it.course.short_description}}</p>
                <p>课程学时：</p>
                <p>时间段：{{=it.dateFormat(it.course.start)}} - {{=it.dateFormat(it.course.end)}}</p>
                {{? it.course.psn_course_relation !== 0 && it.course.psn_course_relation !== 2}}
                {{? it.course.is_register}}
                <button data-id="{{=it.course.id}}" class="btn purple unregister">取消收藏</button>
                {{??}}
                <button data-id="{{=it.course.id}}" class="btn green register">收藏</button>
                {{?}}
                {{?}}
            </div>
        </div>
        <div class="row">
            {{~it.course.outlines:chapter:index1}}
            <div class="col-md-12" data-id="{{=chapter.id}}">
                <h4>第{{=index1+1}}章 {{=chapter.name}}</h4>
                {{~chapter.objects:courseware:index2}}
                <li class="listbox mr20 courseware">
                    <div class="listimg" data-href="{{=courseware.play_url}}" data-img="{{=courseware.thumbnail}}"
                         data-object-type="{{=courseware.object_type}}" data-state="{{=courseware.state}}"><a
                            data-id="{{=courseware.object_id}}">
                        <img {{? courseware.thumbnail}}
                             src="{{=courseware.thumbnail}}"
                             {{??}}
                             {{? courseware.object_type== 0}}src="assets/img/live.jpg"
                             {{?? courseware.object_type== 5}}src="assets/img/file.jpg"
                             {{??}}src="assets/img/video.png"
                             {{?}}
                             {{?}}
                             class="attachment-thumbnail wp-post-image"
                             onerror="this.src='assets/img/course.jpg';"
                        /></a>
                        <div class="summary">
                            <div class="summarytxt">
                                <p>{{=courseware.description||''}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="listinfo">
                        <div class="listtitle"><a data-id="{{=courseware.object_id}}">
                            课件{{=index2+1}}: {{=courseware.name.slice(0,13)}}
                        </a></div>
                        <div class="listdate">{{=Math.round(courseware.duration/60)}} 分钟 <span style="color:red;">
                            {{? courseware.object_type == 0}}
                            {{? courseware.state == 1}}未开始
                            {{?? courseware.state == 2}}直播中
                            {{?? courseware.state == 3}}已结束
                            {{?}}
                            {{?}}</span></div>
                    </div>
                </li>
                {{~}}
            </div>
            {{~}}
        </div>
    </div>
</script>

<!--直播间模版-->
<script id="temp_live_room_list" type="text/x-dot-template">
    {{~it.data:room:index}}
    <div data-id="{{=room.id}}">
        <div class="row">
            <div class="col-md-6" style="height: 300px;overflow: hidden">
                <img src="{{=room.thumbnail}}" onerror="this.src='assets/img/course.jpg';" width="100%"/>
            </div>
            <div class="col-md-6">
                <h4>{{=room.name}}</h4>
                <p>简介：{{=room.description}}</p>
                <p>直播时间段：</p>
                <p>{{=it.timeFormat(room.start_time, room.end_time)}}</p>
                {{? room.start_time < (new Date()).getTime()}}
                <button data-href="{{=room.play_url}}" data-img="{{=room.thumbnail}}" class="btn green">播放</button>
                {{?}}
            </div>
        </div>
    </div>
    {{~}}
</script>