.day-course-tr.is-current {
    animation: colorCycle 5s infinite linear alternate;
}

@-webkit-keyframes colorCycle {
    0% {
        color: yellow;
    }
    50% {
        color: green;
    }
    100% {
        color: blue;
    }
}

