<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="activemqNormalTask" class="com.broadvideo.pixsignage.quartz.ActivemqNormalTask"></bean>
	<bean id="activemqNormalJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="activemqNormalTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="activemqNormalJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="activemqNormalJob" />
		</property>
		<property name="cronExpression">
			<value>0/15 * * * * ?</value>
		</property>
	</bean>

	<bean id="activemqDailyTask" class="com.broadvideo.pixsignage.quartz.ActivemqDailyTask"></bean>
	<bean id="activemqDailyJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="activemqDailyTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="activemqDailyJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="activemqDailyJob" />
		</property>
		<property name="cronExpression">
			<value>0 0 3 * * ?</value>
		</property>
	</bean>

	<bean id="deviceTask" class="com.broadvideo.pixsignage.quartz.DeviceTask"></bean>
	<bean id="deviceJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="deviceTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="deviceJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="deviceJob" />
		</property>
		<property name="cronExpression">
			<value>5 * * * * ?</value>
		</property>
	</bean>

	<bean id="vcssTask" class="com.broadvideo.pixsignage.quartz.VCSSTask"></bean>
	<bean id="vcssJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="vcssTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="vcssJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="vcssJob" />
		</property>
		<property name="cronExpression">
			<value>10 * * * * ?</value>
		</property>
	</bean>

	<bean id="pixboxTask" class="com.broadvideo.pixsignage.quartz.PixboxTask"></bean>
	<bean id="pixboxJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="pixboxTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="pixboxJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="pixboxJob" />
		</property>
		<property name="cronExpression">
			<value>20 * * * * ?</value>
		</property>
	</bean>

	<bean id="weatherTask" class="com.broadvideo.pixsignage.quartz.WeatherTask"></bean>
	<bean id="weatherJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="weatherTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="weatherJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="weatherJob" />
		</property>
		<property name="cronExpression">
			<value>0 30 7-19 * * ?</value>
		</property>
	</bean>

	<bean id="videoTask" class="com.broadvideo.pixsignage.quartz.VideoTask"></bean>
	<bean id="videoJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="videoTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="videoJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="videoJob" />
		</property>
		<property name="cronExpression">
			<value>30 * * * * ?</value>
		</property>
	</bean>

	<bean id="playlogTask" class="com.broadvideo.pixsignage.quartz.PlaylogTask"></bean>
	<bean id="playlogJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="playlogTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="playlogJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="playlogJob" />
		</property>
		<property name="cronExpression">
			<value>10 * * * * ?</value>
		</property>
	</bean>

	<bean id="pflowTask" class="com.broadvideo.pixsignage.quartz.PflowTask"></bean>
	<bean id="pflowJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="pflowTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="pflowJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="pflowJob" />
		</property>
		<property name="cronExpression">
			<value>20 * * * * ?</value>
		</property>
	</bean>

	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 
				<ref bean="activemqNormalJobTrigger" />
				<ref bean="activemqDailyJobTrigger" />
				<ref bean="vcssJobTrigger" /> 
				<ref bean="pixboxJobTrigger" />
				-->
				<ref bean="deviceJobTrigger" />
				<ref bean="weatherJobTrigger" />
				<ref bean="videoJobTrigger" />
				<ref bean="playlogJobTrigger" />
				<ref bean="pflowJobTrigger" />
			</list>
		</property>
	</bean>

</beans>