<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsign.persistence.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsign.domain.Plan" >
    <id column="planid" property="planid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="plantype" property="plantype" jdbcType="CHAR" />
    <result column="gridlayoutcode" property="gridlayoutcode" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="startdate" property="startdate" jdbcType="DATE" />
    <result column="enddate" property="enddate" jdbcType="DATE" />
    <result column="starttime" property="starttime" jdbcType="TIME" />
    <result column="endtime" property="endtime" jdbcType="TIME" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <association property="branch" column="{branchid=branchid}" select="com.broadvideo.pixsign.persistence.BranchMapper.selectBaseByPrimaryKey" />
	<collection property="plandtls" ofType="com.broadvideo.pixsign.domain.Plandtl"
		column="{planid=planid}" select="com.broadvideo.pixsign.persistence.PlandtlMapper.selectList" />
	<collection property="planbinds" ofType="com.broadvideo.pixsign.domain.Planbind"
		column="{planid=planid}" select="com.broadvideo.pixsign.persistence.PlanbindMapper.selectList" />
  </resultMap>

  <resultMap id="BindResultMap" type="java.util.HashMap" >
    <result column="bindtype" property="bindtype" jdbcType="CHAR" />
    <result column="bindid" property="bindid" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    planid, orgid, branchid, plantype, gridlayoutcode, priority, startdate, enddate, starttime, endtime, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan
    where planid = #{planid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from plan
    where plantype = #{plantype}
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      <if test="subbranchflag == 0">
        and branchid = #{branchid}
      </if>
      <if test="subbranchflag == 1">
        and exists (select 1 from branch b 
          where b.branchid=plan.branchid 
          and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
      </if>
    </if>
    <if test="search != null">
        and exists 
        (select 1 from planbind pb,
          (select if(dg.devicegroupid>0,'2','1') as bindtype, 
           if(dg.devicegroupid>0,dg.devicegroupid,d.deviceid) as bindid 
           from device d left join devicegroup dg 
           on d.devicegroupid=dg.devicegroupid 
           where d.terminalid like #{search}
          ) pbd 
          where pb.planid=plan.planid
          and pb.bindtype = pbd.bindtype
          and pb.bindid = pbd.bindid
        )
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from plan
    where plantype = #{plantype}
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      <if test="subbranchflag == 0">
        and branchid = #{branchid}
      </if>
      <if test="subbranchflag == 1">
        and exists (select 1 from branch b 
          where b.branchid=plan.branchid 
          and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
      </if>
    </if>
    <if test="search != null">
        and exists 
        (select 1 from planbind pb,
          (select if(dg.devicegroupid>0,'2','1') as bindtype, 
           if(dg.devicegroupid>0,dg.devicegroupid,d.deviceid) as bindid 
           from device d left join devicegroup dg 
           on d.devicegroupid=dg.devicegroupid 
           where d.terminalid like #{search}
          ) pbd 
          where pb.planid=plan.planid
          and pb.bindtype = pbd.bindtype
          and pb.bindid = pbd.bindid
        )
    </if>
    order by planid desc
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>
  
  <select id="selectListByBind" resultMap="BaseResultMap" >
    select p.*
    from plan p, planbind pb
    where p.planid = pb.planid
    and p.plantype = #{plantype}
    and pb.bindtype = #{bindtype}
    and pb.bindid = #{bindid}
    order by p.startdate, p.starttime
  </select>

  <select id="selectBindListByObj" resultMap="BindResultMap" >
    select 
    distinct pb.bindtype, pb.bindid
    from plandtl pd, planbind pb
    where pd.planid = pb.planid
    and pd.objtype = #{objtype}
    and pd.objid = #{objid}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from plan
    where planid = #{planid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsign.domain.Plan" >
    <selectKey resultType="java.lang.Integer" keyProperty="planid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into plan (orgid, branchid, plantype, 
      gridlayoutcode, priority, startdate, 
      enddate, starttime, endtime, 
      createtime
      )
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{plantype,jdbcType=CHAR}, 
      #{gridlayoutcode,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{startdate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsign.domain.Plan" >
    <selectKey resultType="java.lang.Integer" keyProperty="planid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="plantype != null" >
        plantype,
      </if>
      <if test="gridlayoutcode != null" >
        gridlayoutcode,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="startdate != null" >
        startdate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="plantype != null" >
        #{plantype,jdbcType=CHAR},
      </if>
      <if test="gridlayoutcode != null" >
        #{gridlayoutcode,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIME},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsign.domain.Plan" >
    update plan
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="plantype != null" >
        plantype = #{plantype,jdbcType=CHAR},
      </if>
      <if test="gridlayoutcode != null" >
        gridlayoutcode = #{gridlayoutcode,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=DATE},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIME},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where planid = #{planid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsign.domain.Plan" >
    update plan
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      plantype = #{plantype,jdbcType=CHAR},
      gridlayoutcode = #{gridlayoutcode,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      startdate = #{startdate,jdbcType=DATE},
      enddate = #{enddate,jdbcType=DATE},
      starttime = #{starttime,jdbcType=TIME},
      endtime = #{endtime,jdbcType=TIME},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where planid = #{planid,jdbcType=INTEGER}
  </update>
</mapper>