<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsign.persistence.WeatherMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsign.domain.Weather" >
    <id column="weatherid" property="weatherid" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="refreshtime" property="refreshtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.broadvideo.pixsign.domain.Weather" extends="BaseResultMap" >
    <result column="weather" property="weather" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    weatherid, city, type, status, refreshtime
  </sql>
  <sql id="Blob_Column_List" >
    weather
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weather
    where weatherid = #{weatherid}
  </select>
  
  <select id="selectList" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weather
    where type = #{type} 
  </select>

  <select id="selectByCity" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from weather
    where type = #{type} 
    and city = #{city}
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from weather
    where weatherid = #{weatherid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsign.domain.Weather" >
    <selectKey resultType="java.lang.Integer" keyProperty="weatherid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into weather (city, type, status, refreshtime, 
      weather)
    values (#{city,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{refreshtime,jdbcType=TIMESTAMP}, 
      #{weather,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsign.domain.Weather" >
    <selectKey resultType="java.lang.Integer" keyProperty="weatherid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into weather
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="city != null" >
        city,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="refreshtime != null" >
        refreshtime,
      </if>
      <if test="weather != null" >
        weather,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="refreshtime != null" >
        #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsign.domain.Weather" >
    update weather
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="refreshtime != null" >
        refreshtime = #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weather != null" >
        weather = #{weather,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where weatherid = #{weatherid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.broadvideo.pixsign.domain.Weather" >
    update weather
    set city = #{city,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      refreshtime = #{refreshtime,jdbcType=TIMESTAMP},
      weather = #{weather,jdbcType=LONGVARCHAR}
    where weatherid = #{weatherid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsign.domain.Weather" >
    update weather
    set city = #{city,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      refreshtime = #{refreshtime,jdbcType=TIMESTAMP}
    where weatherid = #{weatherid,jdbcType=INTEGER}
  </update>
</mapper>