<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.AdvertareaMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Advertarea" >
    <id column="advertareaid" property="advertareaid" jdbcType="INTEGER" />
    <result column="adtype" property="adtype" jdbcType="CHAR" />
    <result column="adid" property="adid" jdbcType="INTEGER" />
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    advertareaid, adtype, adid, areaid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from advertarea
    where advertareaid = #{advertareaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from advertarea
    where advertareaid = #{advertareaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Advertarea" >
    <selectKey resultType="java.lang.Integer" keyProperty="advertareaid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into advertarea (adtype, adid, areaid
      )
    values (#{adtype,jdbcType=CHAR}, #{adid,jdbcType=INTEGER}, #{areaid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Advertarea" >
    <selectKey resultType="java.lang.Integer" keyProperty="advertareaid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into advertarea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adtype != null" >
        adtype,
      </if>
      <if test="adid != null" >
        adid,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adtype != null" >
        #{adtype,jdbcType=CHAR},
      </if>
      <if test="adid != null" >
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Advertarea" >
    update advertarea
    <set >
      <if test="adtype != null" >
        adtype = #{adtype,jdbcType=CHAR},
      </if>
      <if test="adid != null" >
        adid = #{adid,jdbcType=INTEGER},
      </if>
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
    </set>
    where advertareaid = #{advertareaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Advertarea" >
    update advertarea
    set adtype = #{adtype,jdbcType=CHAR},
      adid = #{adid,jdbcType=INTEGER},
      areaid = #{areaid,jdbcType=INTEGER}
    where advertareaid = #{advertareaid,jdbcType=INTEGER}
  </update>
</mapper>