<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.AppMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.App" >
    <id column="appid" property="appid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mtype" property="mtype" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	<association property="appfile" column="{name=name, mtype=mtype}" select="com.broadvideo.pixsignage.persistence.AppfileMapper.selectLatest" />
  </resultMap>
  <sql id="Base_Column_List" >
    appid, name, mtype, sname, description, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app
    where appid = #{appid}
  </select>
  
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from app
    where name = #{name}
    and mtype = #{mtype}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from app
    order by appid
  </select>
  
  <select id="selectByIds" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app
    where 1 != 1
    <if test="ids != null and ids != ''">
    or appid in (${ids})
    </if>
    order by appid
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app
    where appid = #{appid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.App" >
    <selectKey resultType="java.lang.Integer" keyProperty="appid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app (name, mtype, sname, 
      description, createtime)
    values (#{name,jdbcType=VARCHAR}, #{mtype,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.App" >
    <selectKey resultType="java.lang.Integer" keyProperty="appid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="mtype != null" >
        mtype,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null" >
        #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.App" >
    update app
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null" >
        mtype = #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where appid = #{appid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.App" >
    update app
    set name = #{name,jdbcType=VARCHAR},
      mtype = #{mtype,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where appid = #{appid,jdbcType=INTEGER}
  </update>
</mapper>