<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.BranchMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Branch" >
    <id column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="topfolderid" property="topfolderid" jdbcType="INTEGER" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="parentid2" property="parentid2" jdbcType="INTEGER" />
    <result column="parentid3" property="parentid3" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="maxstorage" property="maxstorage" jdbcType="BIGINT" />
    <result column="currentstorage" property="currentstorage" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="childcount" column="{parentid=branchid}" select="selectChildCount" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.broadvideo.pixsignage.domain.Branch" extends="BaseResultMap" >
    <association property="parent" column="{id=parentid}" select="selectParent" />
    <association property="org" column="{orgid=orgid}" select="com.broadvideo.pixsignage.persistence.OrgMapper.selectByPrimaryKey" />
    <collection property="children" ofType="com.broadvideo.pixsignage.domain.Branch" column="{parentid=branchid}" select="selectChild" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    branchid, uuid, orgid, parentid, name, status, description, createtime, createstaffid, 
    topfolderid, code, maxstorage, currentstorage, parentid2, parentid3
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="FullResultMap" >
    select * from branch
    where branchid = #{branchid}
  </select>

  <select id="selectBaseByPrimaryKey" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" /> 
    from branch
    where branchid = #{branchid}
  </select>
  
  <select id="selectChildCount" resultType="Integer" >
    select count(1) from branch
    where status = 1 and parentid = #{parentid}
  </select>

  <select id="selectChild" resultMap="BaseResultMap" >
    select * from branch
    where status = 1 and parentid = #{parentid} order by branchid
  </select>

  <select id="selectParent" resultMap="BaseResultMap" >
    select * from branch
    where status = 1 and branchid = #{id}
  </select>

  <select id="selectRoot" resultMap="FullResultMap">
    select * from branch 
    where status=1 
    and parentid=0 
    and orgid = #{orgid}
    order by branchid 
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select * from branch
    where status='1' and name = #{name} 
    <if test="orgid != null" >
      and orgid = #{orgid}
    </if>
  </select>
  
  <select id="selectTaodianList" resultMap="FullResultMap">
    select b.* from branch b, org o
    where b.orgid = o.orgid
    and b.status = '1' 
    and b.code != '' 
    and o.tagflag = '1'
  </select>
  
  <select id="selectOrgBranchList" resultMap="BaseResultMap">
    select * from branch
    where status='1'  and orgid = #{orgid}
    order by branchid asc
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from branch
    where status='1'
    and (branchid=#{rootid} || parentid=#{rootid} || parentid2=#{rootid} || parentid3=#{rootid})
    order by branchid asc
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap">
    select * from branch
    where status='1' and uuid = #{uuid}  and orgid = #{orgid}
  </select>

  <delete id="deleteByPrimaryKey">
    update branch set status='9'
    where branchid = #{branchid}
  </delete>
  
  <update id="updateCurrentstorage" >
update branch b, 
(select floor(coalesce(sum(size),0)/1048576) as value , branchid from
(select size, v0.videoid, b0.branchid from video v0, branch b0 where v0.branchid=b0.branchid and v0.status=1 and b0.status=1
union
select size, v1.videoid, b1.parentid from video v1, branch b1 where v1.branchid=b1.branchid and v1.status=1 and b1.status=1 and b1.parentid>0
union
select size, v2.videoid, b2.parentid2 from video v2, branch b2 where v2.branchid=b2.branchid and v2.status=1 and b2.status=1 and b2.parentid2>0
union
select size, v3.videoid, b3.parentid3 from video v3, branch b3 where v3.branchid=b3.branchid and v3.status=1 and b3.status=1 and b3.parentid3>0
union
select size, i0.imageid, b0.branchid from image i0, branch b0 where i0.branchid=b0.branchid and i0.status=1 and b0.status=1
union
select size, i1.imageid, b1.parentid from image i1, branch b1 where i1.branchid=b1.branchid and i1.status=1 and b1.status=1 and b1.parentid>0
union
select size, i2.imageid, b2.parentid2 from image i2, branch b2 where i2.branchid=b2.branchid and i2.status=1 and b2.status=1 and b2.parentid2>0
union
select size, i3.imageid, b3.parentid3 from image i3, branch b3 where i3.branchid=b3.branchid and i3.status=1 and b3.status=1 and b3.parentid3>0) source
group by branchid) r
set b.currentstorage=r.value 
where b.branchid=r.branchid and b.status=1
  </update>

  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Branch" >
    <selectKey resultType="java.lang.Integer" keyProperty="branchid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into branch (uuid, orgid, parentid, 
      name, status, description, 
      createtime, createstaffid, topfolderid, 
      code, maxstorage, currentstorage, 
      parentid2, parentid3
      )
    values (#{uuid,jdbcType=VARCHAR}, #{orgid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, #{topfolderid,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{maxstorage,jdbcType=BIGINT}, #{currentstorage,jdbcType=BIGINT}, 
      #{parentid2,jdbcType=INTEGER}, #{parentid3,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Branch" >
    <selectKey resultType="java.lang.Integer" keyProperty="branchid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into branch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="topfolderid != null" >
        topfolderid,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="parentid2 != null" >
        parentid2,
      </if>
      <if test="parentid3 != null" >
        parentid3,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="maxstorage != null" >
        maxstorage,
      </if>
      <if test="currentstorage != null" >
        currentstorage,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="topfolderid != null" >
        #{topfolderid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentid2 != null" >
        #{parentid2,jdbcType=INTEGER},
      </if>
      <if test="parentid3 != null" >
        #{parentid3,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="maxstorage != null" >
        #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="currentstorage != null" >
        #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Branch" >
    update branch
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="topfolderid != null" >
        topfolderid = #{topfolderid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentid2 != null" >
        parentid2 = #{parentid2,jdbcType=INTEGER},
      </if>
      <if test="parentid3 != null" >
        parentid3 = #{parentid3,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="maxstorage != null" >
        maxstorage = #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="currentstorage != null" >
        currentstorage = #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where branchid = #{branchid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Branch" >
    update branch
    set  uuid = #{uuid,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      topfolderid = #{topfolderid,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER},
      parentid2 = #{parentid2,jdbcType=INTEGER},
      parentid3 = #{parentid3,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      maxstorage = #{maxstorage,jdbcType=BIGINT},
      currentstorage = #{currentstorage,jdbcType=BIGINT},
      status = #{status,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where branchid = #{branchid,jdbcType=INTEGER}
  </update>
</mapper>