<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.BundleMapper" >
  <resultMap id="MiniResultMap" type="com.broadvideo.pixsignage.domain.Bundle" >
    <id column="bundleid" property="bundleid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Bundle" >
    <id column="bundleid" property="bundleid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="templetid" property="templetid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
    <result column="ratio" property="ratio" jdbcType="CHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="bgcolor" property="bgcolor" jdbcType="VARCHAR" />
    <result column="bgimageid" property="bgimageid" jdbcType="INTEGER" />
    <result column="touchflag" property="touchflag" jdbcType="CHAR" />
    <result column="homeflag" property="homeflag" jdbcType="CHAR" />
    <result column="homebundleid" property="homebundleid" jdbcType="INTEGER" />
    <result column="homeidletime" property="homeidletime" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="reviewflag" property="reviewflag" jdbcType="CHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <collection property="subbundles" ofType="com.broadvideo.pixsignage.domain.Bundle" column="{homebundleid=bundleid}" select="com.broadvideo.pixsignage.persistence.BundleMapper.selectSubList" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.broadvideo.pixsignage.domain.Bundle" extends="BaseResultMap" >
    <result column="json" property="json" jdbcType="LONGVARCHAR" />
    <association property="bgimage" column="{imageid=bgimageid}" select="com.broadvideo.pixsignage.persistence.ImageMapper.selectByPrimaryKey" />
    <collection property="bundlezones" ofType="com.broadvideo.pixsignage.domain.Bundlezone" column="{bundleid=bundleid}" select="com.broadvideo.pixsignage.persistence.BundlezoneMapper.selectList" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    bundleid, uuid, orgid, branchid, templetid, name, snapshot, ratio, height, width, bgcolor, 
    bgimageid, touchflag, homeflag, homebundleid, homeidletime, description, status, 
    reviewflag, comment, createtime, updatetime, createstaffid
  </sql>
  <sql id="Blob_Column_List" >
    json
  </sql>
  
  <select id="selectMiniByPrimaryKey" resultMap="MiniResultMap" >
    select * from bundle
    where bundleid = #{bundleid}
  </select>
  
  <select id="selectBaseByPrimaryKey" resultMap="BaseResultMap" >
    select * from bundle
    where bundleid = #{bundleid}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="FullResultMap" >
    select * from bundle
    where bundleid = #{bundleid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from bundle
    where status = 1 
    and orgid = #{orgid}
    <if test="branchid != null">
      and branchid = #{branchid}
    </if>
    <if test="reviewflag != null">
      and reviewflag = #{reviewflag}
    </if>
    <if test="touchflag != null">
      and touchflag = #{touchflag}
    </if>
    <if test="homeflag != null">
      and homeflag = #{homeflag}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from bundle
    where status=1
    and orgid = #{orgid}
    <if test="branchid != null">
      and branchid = #{branchid}
    </if>
    <if test="reviewflag != null">
      and reviewflag = #{reviewflag}
    </if>
    <if test="touchflag != null">
      and touchflag = #{touchflag}
    </if>
    <if test="homeflag != null">
      and homeflag = #{homeflag}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
    order by bundleid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectSubList" resultMap="MiniResultMap">
    select <include refid="Base_Column_List" />
    from bundle
    where status=1
    and homebundleid = #{homebundleid}
  </select>

  <delete id="deleteByPrimaryKey" >
    update bundle 
    set status = '9'
    where bundleid = #{bundleid}
  </delete>
    
  <delete id="clearBundlezones" >
    delete from bundlezone
    where bundleid = #{bundleid}
  </delete>
  
  <delete id="clearSubbundles" >
    delete from bundle
    where homebundleid = #{bundleid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundle (uuid, orgid, branchid, templetid, 
      name, snapshot, ratio, 
      height, width, bgcolor, 
      bgimageid, touchflag, homeflag, 
      homebundleid, homeidletime, description, 
      status, reviewflag, comment, 
      createtime, updatetime, createstaffid, 
      json
      )
    values (#{uuid,jdbcType=VARCHAR}, #{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{templetid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{snapshot,jdbcType=VARCHAR}, #{ratio,jdbcType=CHAR}, 
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{bgcolor,jdbcType=VARCHAR}, 
      #{bgimageid,jdbcType=INTEGER}, #{touchflag,jdbcType=CHAR}, #{homeflag,jdbcType=CHAR}, 
      #{homebundleid,jdbcType=INTEGER}, #{homeidletime,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{reviewflag,jdbcType=CHAR}, #{comment,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, 
      #{json,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="templetid != null" >
        templetid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="snapshot != null" >
        snapshot,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="bgcolor != null" >
        bgcolor,
      </if>
      <if test="bgimageid != null" >
        bgimageid,
      </if>
      <if test="touchflag != null" >
        touchflag,
      </if>
      <if test="homeflag != null" >
        homeflag,
      </if>
      <if test="homebundleid != null" >
        homebundleid,
      </if>
      <if test="homeidletime != null" >
        homeidletime,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reviewflag != null" >
        reviewflag,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="json != null" >
        json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="templetid != null" >
        #{templetid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=CHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="bgimageid != null" >
        #{bgimageid,jdbcType=INTEGER},
      </if>
      <if test="touchflag != null" >
        #{touchflag,jdbcType=CHAR},
      </if>
      <if test="homeflag != null" >
        #{homeflag,jdbcType=CHAR},
      </if>
      <if test="homebundleid != null" >
        #{homebundleid,jdbcType=INTEGER},
      </if>
      <if test="homeidletime != null" >
        #{homeidletime,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="json != null" >
        #{json,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    update bundle
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="templetid != null" >
        templetid = #{templetid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        snapshot = #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=CHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        bgcolor = #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="bgimageid != null" >
        bgimageid = #{bgimageid,jdbcType=INTEGER},
      </if>
      <if test="touchflag != null" >
        touchflag = #{touchflag,jdbcType=CHAR},
      </if>
      <if test="homeflag != null" >
        homeflag = #{homeflag,jdbcType=CHAR},
      </if>
      <if test="homebundleid != null" >
        homebundleid = #{homebundleid,jdbcType=INTEGER},
      </if>
      <if test="homeidletime != null" >
        homeidletime = #{homeidletime,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        reviewflag = #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="json != null" >
        json = #{json,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bundleid = #{bundleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    update bundle
    set uuid = #{uuid,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      templetid = #{templetid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      snapshot = #{snapshot,jdbcType=VARCHAR},
      ratio = #{ratio,jdbcType=CHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      bgcolor = #{bgcolor,jdbcType=VARCHAR},
      bgimageid = #{bgimageid,jdbcType=INTEGER},
      touchflag = #{touchflag,jdbcType=CHAR},
      homeflag = #{homeflag,jdbcType=CHAR},
      homebundleid = #{homebundleid,jdbcType=INTEGER},
      homeidletime = #{homeidletime,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      reviewflag = #{reviewflag,jdbcType=CHAR},
      comment = #{comment,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
      json = #{json,jdbcType=LONGVARCHAR}
    where bundleid = #{bundleid,jdbcType=INTEGER}
  </update>
</mapper>