<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.BundlescheduledtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Bundlescheduledtl" >
    <id column="bundlescheduledtlid" property="bundlescheduledtlid" jdbcType="INTEGER" />
    <result column="bundlescheduleid" property="bundlescheduleid" jdbcType="INTEGER" />
    <result column="bundleid" property="bundleid" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <association property="bundle" column="{bundleid=bundleid}" select="com.broadvideo.pixsignage.persistence.BundleMapper.selectByPrimaryKey" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    bundlescheduledtlid, bundlescheduleid, bundleid, sequence
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from bundlescheduledtl
    where bundlescheduledtlid = #{bundlescheduledtlid}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from bundlescheduledtl
    where bundlescheduleid = #{bundlescheduleid}
    order by sequence
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from bundlescheduledtl
    where bundlescheduledtlid = #{bundlescheduledtlid}
  </delete>
  
  <delete id="deleteByDtl" >
    delete bsd from bundleschedule bs, bundlescheduledtl bsd
    where bs.bundlescheduleid = bsd.bundlescheduleid
    and bs.bindtype = #{bindtype} and bs.bindid = #{bindid}
    <if test="playmode != null">
      and bs.playmode = #{playmode}
    </if>
    <if test="playdate != null">
      and bs.playdate = #{playdate}
    </if>
    <if test="starttime != null">
      and bs.starttime = #{starttime}
    </if>
  </delete>

  <delete id="deleteByBundleschedule" >
    delete from bundlescheduledtl
    where bundlescheduleid = #{bundlescheduleid}
  </delete>

  <delete id="deleteByBundle" >
    delete from bundlescheduledtl
    where bundleid = #{bundleid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Bundlescheduledtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundlescheduledtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundlescheduledtl (bundlescheduleid, bundleid, sequence
      )
    values (#{bundlescheduleid,jdbcType=INTEGER}, #{bundleid,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Bundlescheduledtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundlescheduledtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundlescheduledtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bundlescheduleid != null" >
        bundlescheduleid,
      </if>
      <if test="bundleid != null" >
        bundleid,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bundlescheduleid != null" >
        #{bundlescheduleid,jdbcType=INTEGER},
      </if>
      <if test="bundleid != null" >
        #{bundleid,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Bundlescheduledtl" >
    update bundlescheduledtl
    <set >
      <if test="bundlescheduleid != null" >
        bundlescheduleid = #{bundlescheduleid,jdbcType=INTEGER},
      </if>
      <if test="bundleid != null" >
        bundleid = #{bundleid,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where bundlescheduledtlid = #{bundlescheduledtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Bundlescheduledtl" >
    update bundlescheduledtl
    set bundlescheduleid = #{bundlescheduleid,jdbcType=INTEGER},
      bundleid = #{bundleid,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER}
    where bundlescheduledtlid = #{bundlescheduledtlid,jdbcType=INTEGER}
  </update>
</mapper>