<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.BundleMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Bundle" >
    <id column="bundleid" property="bundleid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="layoutid" property="layoutid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="reviewflag" property="reviewflag" jdbcType="CHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="touchflag" property="touchflag" jdbcType="CHAR" />
    <result column="homeflag" property="homeflag" jdbcType="CHAR" />
    <result column="homebundleid" property="homebundleid" jdbcType="INTEGER" />
    <result column="homeidletime" property="homeidletime" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="layout" column="{layoutid=layoutid}" select="com.broadvideo.pixsignage.persistence.LayoutMapper.selectByPrimaryKey" />
    <collection property="bundledtls" ofType="com.broadvideo.pixsignage.domain.Bundledtl" column="{bundleid=bundleid}" select="com.broadvideo.pixsignage.persistence.BundledtlMapper.selectList" />
    <collection property="subbundles" ofType="com.broadvideo.pixsignage.domain.Bundle" column="{homebundleid=bundleid}" select="com.broadvideo.pixsignage.persistence.BundleMapper.selectSubList" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.broadvideo.pixsignage.domain.Bundle" extends="BaseResultMap" >
    <result column="json" property="json" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    bundleid, orgid, branchid, layoutid, name, snapshot, height, width, status, reviewflag, comment, touchflag, homeflag, homebundleid, homeidletime, createtime, createstaffid
  </sql>
  <sql id="Blob_Column_List" >
    json
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bundle
    where bundleid = #{bundleid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from bundle
    where status = 1 
    and orgid = #{orgid}
    and branchid = #{branchid}
    <if test="reviewflag != null">
      and reviewflag = #{reviewflag}
    </if>
    <if test="touchflag != null">
      and touchflag = #{touchflag}
    </if>
    <if test="homeflag != null">
      and homeflag = #{homeflag}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from bundle
    where status=1
    and orgid = #{orgid}
    and branchid = #{branchid}
    <if test="reviewflag != null">
      and reviewflag = #{reviewflag}
    </if>
    <if test="touchflag != null">
      and touchflag = #{touchflag}
    </if>
    <if test="homeflag != null">
      and homeflag = #{homeflag}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
    order by bundleid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectByLayout" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from bundle
    where status=1
    and layoutid = #{layoutid}
  </select>
  
  <select id="selectSubList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from bundle
    where status=1
    and homebundleid = #{homebundleid}
  </select>

  <delete id="deleteByPrimaryKey" >
    update bundle 
    set status = '9'
    where bundleid = #{bundleid}
  </delete>
    
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundle (orgid, branchid, layoutid, name, 
      snapshot, height, width, 
      status, reviewflag, comment, 
      touchflag, homeflag, homebundleid, homeidletime, 
      createtime, createstaffid, 
      json
      )
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, 
      #{layoutid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{snapshot,jdbcType=VARCHAR}, #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{reviewflag,jdbcType=CHAR}, #{comment,jdbcType=VARCHAR}, 
      #{touchflag,jdbcType=CHAR}, #{homeflag,jdbcType=CHAR}, #{homebundleid,jdbcType=INTEGER}, #{homeidletime,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, 
      #{json,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    <selectKey resultType="java.lang.Integer" keyProperty="bundleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bundle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="layoutid != null" >
        layoutid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="snapshot != null" >
        snapshot,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reviewflag != null" >
        reviewflag,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="touchflag != null" >
        touchflag,
      </if>
      <if test="homeflag != null" >
        homeflag,
      </if>
      <if test="homebundleid != null" >
        homebundleid,
      </if>
      <if test="homeidletime != null" >
        homeidletime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="json != null" >
        json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="layoutid != null" >
        #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="touchflag != null" >
        #{touchflag,jdbcType=CHAR},
      </if>
      <if test="homeflag != null" >
        #{homeflag,jdbcType=CHAR},
      </if>
      <if test="homebundleid != null" >
        #{homebundleid,jdbcType=INTEGER},
      </if>
      <if test="homeidletime != null" >
        #{homeidletime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="json != null" >
        #{json,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    update bundle
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="layoutid != null" >
        layoutid = #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        snapshot = #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        reviewflag = #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="touchflag != null" >
        touchflag = #{touchflag,jdbcType=CHAR},
      </if>
      <if test="homeflag != null" >
        homeflag = #{homeflag,jdbcType=CHAR},
      </if>
      <if test="homebundleid != null" >
        homebundleid = #{homebundleid,jdbcType=INTEGER},
      </if>
      <if test="homeidletime != null" >
        homeidletime = #{homeidletime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="json != null" >
        json = #{json,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bundleid = #{bundleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Bundle" >
    update bundle
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      layoutid = #{layoutid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      snapshot = #{snapshot,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      reviewflag = #{reviewflag,jdbcType=CHAR},
      comment = #{comment,jdbcType=VARCHAR},
      touchflag = #{touchflag,jdbcType=CHAR},
      homeflag = #{homeflag,jdbcType=CHAR},
      homebundleid = #{homebundleid,jdbcType=INTEGER},
      homeidletime = #{homeidletime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      json = #{json,jdbcType=LONGVARCHAR}
    where bundleid = #{bundleid,jdbcType=INTEGER}
  </update>
</mapper>