<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DailyplaylogMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Dailyplaylog" >
    <id column="dailyplaylogid" property="dailyplaylogid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="mediatype" property="mediatype" jdbcType="CHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="playdate" property="playdate" jdbcType="DATE" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dailyplaylogid, orgid, branchid, deviceid, mediatype, mediaid, playdate, total, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dailyplaylog
    where dailyplaylogid = #{dailyplaylogid}
  </select>
  
  <select id="selectByDetail" resultMap="BaseResultMap" >
    select * from dailyplaylog
    where deviceid=#{deviceid}
    and mediatype = #{mediatype}
    and mediaid = #{mediaid}
    and date_format(playdate,'%Y%m%d%H') = #{day}
  </select>
  
  <resultMap id="PeriodResultMap" type="java.util.HashMap">
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="mediatype" property="mediatype" jdbcType="CHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <association property="video" column="{mediatype=mediatype,videoid=mediaid}" select="selectVideoid" />
    <association property="image" column="{mediatype=mediatype,imageid=mediaid}" select="selectImageid" />
  </resultMap>
  <select id="selectVideoid" resultType="java.util.HashMap" >
    select * from video
    where '${mediatype}' = '1' and videoid = #{videoid}
  </select>
  <select id="selectImageid" resultType="java.util.HashMap" >
    select * from image
    where '${mediatype}' = '2' and imageid = #{imageid}
  </select>
  <select id="statByPeriod" resultMap="PeriodResultMap">
    select deviceid, mediatype, mediaid, sum(total) as amount
    from dailyplaylog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d') &gt;= #{from}
    and date_format(starttime,'%Y%m%d') &lt;= #{to}
    group by mediatype, mediaid
    order by amount desc
  </select>
  <select id="statByHour" resultMap="PeriodResultMap">
    select deviceid, date_format(starttime,'%Y%m%d%H') as period, mediatype, mediaid, sum(total) as amount
    from dailyplaylog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d%H') = #{hour}
    group by mediatype, mediaid
    order by amount desc
  </select>
  <select id="statByDay" resultMap="PeriodResultMap">
    select deviceid, date_format(starttime,'%Y%m%d') as period, mediatype, mediaid, sum(total) as amount
    from dailyplaylog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d') = #{day}
    group by mediatype, mediaid
    order by amount desc
  </select>
  <select id="statByMonth" resultMap="PeriodResultMap">
    select deviceid, date_format(starttime,'%Y%m') as period, mediatype, mediaid, sum(total) as amount
    from dailyplaylog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m') = #{month}
    group by mediatype, mediaid
    order by amount desc
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from dailyplaylog
    where dailyplaylogid = #{dailyplaylogid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Dailyplaylog" >
    <selectKey resultType="java.lang.Integer" keyProperty="dailyplaylogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dailyplaylog (orgid, branchid, deviceid, 
      mediatype, mediaid, playdate, 
      total, createtime)
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, 
      #{mediatype,jdbcType=CHAR}, #{mediaid,jdbcType=INTEGER}, #{playdate,jdbcType=DATE}, 
      #{total,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Dailyplaylog" >
    <selectKey resultType="java.lang.Integer" keyProperty="dailyplaylogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dailyplaylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="mediatype != null" >
        mediatype,
      </if>
      <if test="mediaid != null" >
        mediaid,
      </if>
      <if test="playdate != null" >
        playdate,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="playdate != null" >
        #{playdate,jdbcType=DATE},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Dailyplaylog" >
    update dailyplaylog
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        mediatype = #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        mediaid = #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="playdate != null" >
        playdate = #{playdate,jdbcType=DATE},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dailyplaylogid = #{dailyplaylogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Dailyplaylog" >
    update dailyplaylog
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      deviceid = #{deviceid,jdbcType=INTEGER},
      mediatype = #{mediatype,jdbcType=CHAR},
      mediaid = #{mediaid,jdbcType=INTEGER},
      playdate = #{playdate,jdbcType=DATE},
      total = #{total,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where dailyplaylogid = #{dailyplaylogid,jdbcType=INTEGER}
  </update>
</mapper>