<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DailyflowlogMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Dailyflowlog" >
    <id column="dailyflowlogid" property="dailyflowlogid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="flowdate" property="flowdate" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="male" property="male" jdbcType="INTEGER" />
    <result column="female" property="female" jdbcType="INTEGER" />
    <result column="age1" property="age1" jdbcType="INTEGER" />
    <result column="age2" property="age2" jdbcType="INTEGER" />
    <result column="age3" property="age3" jdbcType="INTEGER" />
    <result column="age4" property="age4" jdbcType="INTEGER" />
    <result column="age5" property="age5" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dailyflowlogid, orgid, branchid, deviceid, flowdate, total, male, female, age1, age2, 
    age3, age4, age5, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dailyflowlog
    where dailyflowlogid = #{dailyflowlogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dailyflowlog
    where dailyflowlogid = #{dailyflowlogid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Dailyflowlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="dailyflowlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dailyflowlog (orgid, branchid, deviceid, 
      flowdate, total, male, 
      female, age1, age2, 
      age3, age4, age5, createtime
      )
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, 
      #{flowdate,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, #{male,jdbcType=INTEGER}, 
      #{female,jdbcType=INTEGER}, #{age1,jdbcType=INTEGER}, #{age2,jdbcType=INTEGER}, 
      #{age3,jdbcType=INTEGER}, #{age4,jdbcType=INTEGER}, #{age5,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Dailyflowlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="dailyflowlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dailyflowlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="flowdate != null" >
        flowdate,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="male != null" >
        male,
      </if>
      <if test="female != null" >
        female,
      </if>
      <if test="age1 != null" >
        age1,
      </if>
      <if test="age2 != null" >
        age2,
      </if>
      <if test="age3 != null" >
        age3,
      </if>
      <if test="age4 != null" >
        age4,
      </if>
      <if test="age5 != null" >
        age5,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="flowdate != null" >
        #{flowdate,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        #{female,jdbcType=INTEGER},
      </if>
      <if test="age1 != null" >
        #{age1,jdbcType=INTEGER},
      </if>
      <if test="age2 != null" >
        #{age2,jdbcType=INTEGER},
      </if>
      <if test="age3 != null" >
        #{age3,jdbcType=INTEGER},
      </if>
      <if test="age4 != null" >
        #{age4,jdbcType=INTEGER},
      </if>
      <if test="age5 != null" >
        #{age5,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Dailyflowlog" >
    update dailyflowlog
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="flowdate != null" >
        flowdate = #{flowdate,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        male = #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        female = #{female,jdbcType=INTEGER},
      </if>
      <if test="age1 != null" >
        age1 = #{age1,jdbcType=INTEGER},
      </if>
      <if test="age2 != null" >
        age2 = #{age2,jdbcType=INTEGER},
      </if>
      <if test="age3 != null" >
        age3 = #{age3,jdbcType=INTEGER},
      </if>
      <if test="age4 != null" >
        age4 = #{age4,jdbcType=INTEGER},
      </if>
      <if test="age5 != null" >
        age5 = #{age5,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dailyflowlogid = #{dailyflowlogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Dailyflowlog" >
    update dailyflowlog
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      deviceid = #{deviceid,jdbcType=INTEGER},
      flowdate = #{flowdate,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      male = #{male,jdbcType=INTEGER},
      female = #{female,jdbcType=INTEGER},
      age1 = #{age1,jdbcType=INTEGER},
      age2 = #{age2,jdbcType=INTEGER},
      age3 = #{age3,jdbcType=INTEGER},
      age4 = #{age4,jdbcType=INTEGER},
      age5 = #{age5,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where dailyflowlogid = #{dailyflowlogid,jdbcType=INTEGER}
  </update>
</mapper>