<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DevicefilehisMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Devicefilehis" >
    <id column="devicefilehisid" property="devicefilehisid" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="objtype" property="objtype" jdbcType="CHAR" />
    <result column="objid" property="objid" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    devicefilehisid, deviceid, objtype, objid, size, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from devicefilehis
    where devicefilehisid = #{devicefilehisid}
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from devicefilehis
    where devicefilehisid = #{devicefilehisid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Devicefilehis" >
    <selectKey resultType="java.lang.Integer" keyProperty="devicefilehisid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into devicefilehis (deviceid, objtype, objid, 
      size, createtime)
    values (#{deviceid,jdbcType=INTEGER}, #{objtype,jdbcType=CHAR}, #{objid,jdbcType=INTEGER}, 
      #{size,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Devicefilehis" >
    <selectKey resultType="java.lang.Integer" keyProperty="devicefilehisid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into devicefilehis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="objtype != null" >
        objtype,
      </if>
      <if test="objid != null" >
        objid,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="objtype != null" >
        #{objtype,jdbcType=CHAR},
      </if>
      <if test="objid != null" >
        #{objid,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Devicefilehis" >
    update devicefilehis
    <set >
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="objtype != null" >
        objtype = #{objtype,jdbcType=CHAR},
      </if>
      <if test="objid != null" >
        objid = #{objid,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where devicefilehisid = #{devicefilehisid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Devicefilehis" >
    update devicefilehis
    set deviceid = #{deviceid,jdbcType=INTEGER},
      objtype = #{objtype,jdbcType=CHAR},
      objid = #{objid,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where devicefilehisid = #{devicefilehisid,jdbcType=INTEGER}
  </update>
</mapper>