<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Device" >
    <id column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="hardkey" property="hardkey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="iip" property="iip" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="onlineflag" property="onlineflag" jdbcType="CHAR" />
    <result column="testflag" property="testflag" jdbcType="CHAR" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="vname" property="vname" jdbcType="VARCHAR" />
    <result column="vcode" property="vcode" jdbcType="INTEGER" />
    <result column="mtype" property="mtype" jdbcType="VARCHAR" />
    <result column="boardtype" property="boardtype" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ostype" property="ostype" jdbcType="CHAR" />
    <result column="devicegroupid" property="devicegroupid" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="addr1" property="addr1" jdbcType="VARCHAR" />
    <result column="addr2" property="addr2" jdbcType="VARCHAR" />
    <result column="externalid" property="externalid" jdbcType="VARCHAR" />
    <result column="externalname" property="externalname" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="activetime" property="activetime" jdbcType="TIMESTAMP" />
    <result column="refreshtime" property="refreshtime" jdbcType="TIMESTAMP" />
    <result column="devicegridid" property="devicegridid" jdbcType="INTEGER" />
    <result column="xpos" property="xpos" jdbcType="INTEGER" />
    <result column="ypos" property="ypos" jdbcType="INTEGER" />
    <result column="powerflag" property="powerflag" jdbcType="CHAR" />
    <result column="poweron" property="poweron" jdbcType="TIME" />
    <result column="poweroff" property="poweroff" jdbcType="TIME" />
    <result column="volumeflag" property="volumeflag" jdbcType="CHAR" />
    <result column="volume" property="volume" jdbcType="INTEGER" />
    <result column="interval1" property="interval1" jdbcType="INTEGER" />
    <result column="interval2" property="interval2" jdbcType="INTEGER" />
    <result column="boardinfo" property="boardinfo" jdbcType="VARCHAR" />
    <result column="storageused" property="storageused" jdbcType="BIGINT" />
    <result column="storageavail" property="storageavail" jdbcType="BIGINT" />
    <result column="upgradeflag" property="upgradeflag" jdbcType="CHAR" />
    <result column="appfileid" property="appfileid" jdbcType="INTEGER" />
    <result column="tagflag" property="tagflag" jdbcType="CHAR" />
    <result column="temperature" property="temperature" jdbcType="VARCHAR" />
    <result column="downloadspeed" property="downloadspeed" jdbcType="INTEGER" />
    <result column="downloadbytes" property="downloadbytes" jdbcType="BIGINT" />
    <result column="networkmode" property="networkmode" jdbcType="CHAR" />
    <result column="networksignal" property="networksignal" jdbcType="INTEGER" />
    <result column="brightness" property="brightness" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="cataitemid1" property="cataitemid1" jdbcType="INTEGER" />
    <result column="cataitemid2" property="cataitemid2" jdbcType="INTEGER" />
    <result column="defaultbundleid" property="defaultbundleid" jdbcType="INTEGER" />
    <result column="defaultpageid" property="defaultpageid" jdbcType="INTEGER" />
    <result column="defaultmedialistid" property="defaultmedialistid" jdbcType="INTEGER" />
    <result column="hotspotflag" property="hotspotflag" jdbcType="CHAR" />
    <result column="hotspotssid" property="hotspotssid" jdbcType="VARCHAR" />
    <result column="hotspotpassword" property="hotspotpassword" jdbcType="VARCHAR" />
    <result column="hotspotfrequency" property="hotspotfrequency" jdbcType="VARCHAR" />
    <result column="temperatureflag" property="temperatureflag" jdbcType="CHAR" />
    <result column="relateid" property="relateid" jdbcType="INTEGER" />
    <result column="screenstatus" property="screenstatus" jdbcType="CHAR" />
    <result column="batchid" property="batchid" jdbcType="INTEGER" />
    <result column="modelid" property="modelid" jdbcType="INTEGER" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="nextpoweron" property="nextpoweron" jdbcType="BIGINT" />
    <result column="nextpoweroff" property="nextpoweroff" jdbcType="BIGINT" />
    <result column="playbundleid" property="playbundleid" jdbcType="INTEGER" />
    <result column="playpageid" property="playpageid" jdbcType="INTEGER" />
    <result column="backupvideoid" property="backupvideoid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.broadvideo.pixsignage.domain.Device" extends="BaseResultMap" >
    <association property="branch" column="{branchid=branchid}" select="com.broadvideo.pixsignage.persistence.BranchMapper.selectBaseByPrimaryKey" />
    <association property="devicegroup" column="{devicegroupid=devicegroupid}" select="com.broadvideo.pixsignage.persistence.DevicegroupMapper.selectBaseByPrimaryKey" />
    <association property="appfile" column="{appfileid=appfileid}" select="com.broadvideo.pixsignage.persistence.AppfileMapper.selectByPrimaryKey" />
    <association property="defaultbundle" column="{bundleid=defaultbundleid}" select="com.broadvideo.pixsignage.persistence.BundleMapper.selectMiniByPrimaryKey" />
    <association property="defaultpage" column="{pageid=defaultpageid}" select="com.broadvideo.pixsignage.persistence.PageMapper.selectMiniByPrimaryKey" />
    <association property="defaultmedialist" column="{medialistid=defaultmedialistid}" select="com.broadvideo.pixsignage.persistence.MedialistMapper.selectMiniByPrimaryKey" />
    <association property="backupvideo" column="{videoid=backupvideoid}" select="com.broadvideo.pixsignage.persistence.VideoMapper.selectByPrimaryKey" />
	<collection property="schedules" ofType="com.broadvideo.pixsignage.domain.Schedule"
		column="{deviceid=deviceid}" select="com.broadvideo.pixsignage.persistence.ScheduleMapper.selectListByDevice" />
	<collection property="attachschedules" ofType="com.broadvideo.pixsignage.domain.Schedule"
		column="{deviceid=deviceid}" select="com.broadvideo.pixsignage.persistence.ScheduleMapper.selectAttachListByDevice" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    deviceid, orgid, branchid, terminalid, hardkey, name, position, ip, iip, mac, 
    status, description, onlineflag, testflag, appname, sign, vname, vcode, mtype, boardtype, type, 
    ostype, devicegroupid, longitude, latitude, city, addr1, addr2, externalid, externalname, other, 
    createtime, activetime, refreshtime, devicegridid, xpos, ypos, powerflag, poweron, poweroff, 
    volumeflag, volume, interval1, interval2, boardinfo, storageused, storageavail, upgradeflag, 
    appfileid, tagflag, temperature,downloadspeed, downloadbytes, networkmode, networksignal, brightness, 
    tags, cataitemid1, cataitemid2, defaultbundleid, defaultpageid, defaultmedialistid, hotspotflag, 
    hotspotssid, hotspotpassword, hotspotfrequency, temperatureflag, relateid, screenstatus, batchid, 
    modelid, qrcode, nextpoweron, nextpoweroff, playbundleid, playpageid, backupvideoid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="FullResultMap">
    select * from device
    where deviceid = #{deviceid}
  </select>
  
  <select id="selectBaseByPrimaryKey" resultMap="BaseResultMap">
    select * from device
    where deviceid = #{deviceid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from device 
    where 1 = 1
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      <if test="subbranchflag == 0">
        and branchid = #{branchid}
      </if>
      <if test="subbranchflag == 1">
        and exists (select 1 from branch b 
          where b.branchid=device.branchid 
          and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
      </if>
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="onlineflag != null">
      and onlineflag = #{onlineflag}
    </if>
    <if test="devicegroupid != null">
      and devicegroupid = #{devicegroupid}
    </if>
    <if test="devicegridid != null">
      and devicegridid = #{devicegridid}
    </if>
    <if test="cataitemid1 != null">
      and cataitemid1 = #{cataitemid1}
    </if>
    <if test="cataitemid2 != null">
      and cataitemid2 = #{cataitemid2}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
  </select>

  <select id="selectList" resultMap="FullResultMap">
    select * from device
    where 1 = 1
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      <if test="subbranchflag == 0">
        and branchid = #{branchid}
      </if>
      <if test="subbranchflag == 1">
        and exists (select 1 from branch b 
          where b.branchid=device.branchid 
          and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
      </if>
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="onlineflag != null">
      and onlineflag = #{onlineflag}
    </if>
    <if test="devicegroupid != null">
      and devicegroupid = #{devicegroupid}
    </if>
    <if test="devicegridid != null">
      and devicegridid = #{devicegridid}
    </if>
    <if test="cataitemid1 != null">
      and cataitemid1 = #{cataitemid1}
    </if>
    <if test="cataitemid2 != null">
      and cataitemid2 = #{cataitemid2}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
    <if test="order != null and order == 'deviceid'">
      order by deviceid
    </if>
    <if test="order != null and order == 'refreshtime'">
      order by refreshtime desc
    </if>
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectCountByType" resultType="Integer">
    select count(1) from device 
    where 1 = 1
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
  </select>

  <select id="selectListByType" resultMap="FullResultMap">
    select * from device
    where 1 = 1
    <if test="orgid != null">
      and orgid = #{orgid}
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
    order by deviceid desc
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>
  <select id="selectByDevicegroup" resultMap="BaseResultMap">
    select * from device
    where devicegroupid = #{devicegroupid}
    order by deviceid
  </select>

  <select id="selectByDevicegrid" resultMap="BaseResultMap">
    select * from device
    where devicegridid = #{devicegridid}
    order by ypos, xpos
  </select>

  <select id="selectByHardkey" resultMap="BaseResultMap">
    select * from device
    where status = 1 
    and hardkey = #{hardkey}
  </select>

  <select id="selectByTerminalid" resultMap="BaseResultMap">
    select * from device
    where terminalid = #{terminalid}
    order by deviceid
  </select>

  <select id="selectByDefaultbundle" resultMap="BaseResultMap">
    select * from device
    where defaultbundleid = #{defaultbundleid}
    order by deviceid
  </select>

  <select id="selectByDefaultpage" resultMap="BaseResultMap">
    select * from device
    where defaultpageid = #{defaultpageid}
    order by deviceid
  </select>

  <select id="selectByDefaultmedialist" resultMap="BaseResultMap">
    select * from device
    where defaultmedialistid = #{defaultmedialistid}
    order by deviceid
  </select>

  <select id="selectMaxCount1" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and appname like 'DigitalBox\_%'
    and appname != 'DigitalBox_LAUNCHER_UWIN'
    and appname not like 'DigitalBox_LAUNCHER_TOUPING%'
    and appname not like '%\_DS'
  </select>
  <select id="selectMaxCount2" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and (appname = 'DigitalBox_LAUNCHER_UWIN' or appname like '%\_DS')
  </select>
  <select id="selectMaxCount3" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and appname like 'DigitalBox2\_%'
  </select>
  <select id="selectMaxCount4" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and appname like 'TeaTable\_%'
  </select>
  <select id="selectMaxCount5" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and appname like 'PixMultiSign%'
  </select>
  <select id="selectMaxCount6" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and ostype = 2
  </select>
  <select id="selectMaxCount7" resultType="Integer">
    select count(1) from device 
    where status = 1
    and orgid = #{orgid}
    and appname like 'DigitalBox_LAUNCHER_TOUPING%'
  </select>

  <delete id="unbind" >
    update device 
    set status = '0',
    hardkey = null,
    ip = '',
    iip = '',
    mac = '',
    appname = '',
    sign = '',
    vname = '',
    vcode = 0,
    mtype = '',
    boardtype = '',
    longitude = '',
    latitude = '',
    city = '',
    addr1 = '',
    addr2 = '',
    boardinfo = '',
    upgradeflag = '0',
    appfileid = 0
    where deviceid = #{deviceid}
  </delete>

  <update id="updateUpgradeflag" >
    update device
    set upgradeflag = #{upgradeflag},
    appfileid = 0
    where orgid = #{orgid}
    and exists (select 1 from branch b 
      where b.branchid=device.branchid 
      and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
    and type = #{type}
  </update>

  <update id="updateBundle" >
    update device
    set defaultbundleid = #{defaultbundleid}
    where deviceid = #{deviceid}
  </update>

  <update id="updatePage" >
    update device
    set defaultpageid = #{defaultpageid}
    where deviceid = #{deviceid}
  </update>

  <update id="updateMedialist" >
    update device
    set defaultmedialistid = #{defaultmedialistid}
    where deviceid = #{deviceid}
  </update>

  <update id="updateDevicegroup" >
    update device
    set devicegroupid = #{devicegroupid} 
    where deviceid = #{deviceid}
  </update>

  <update id="updateBranch" >
    update device
    set branchid = #{branchid} 
    where deviceid = #{deviceid}
  </update>

  <update id="changeBranch" >
    update device
    set branchid = #{branchid2} 
    where branchid = #{branchid1}
  </update>

  <update id="updateTags" >
    update device
    set tags = #{tags}
    where branchid = #{branchid}
  </update>

  <update id="updateCataitemid1" >
    update device
    set cataitemid1 = #{cataitemid1} 
    where deviceid = #{deviceid}
  </update>

  <update id="updateCataitemid2" >
    update device
    set cataitemid2 = #{cataitemid2} 
    where deviceid = #{deviceid}
  </update>

  <update id="checkDevicegroup" >
    update device d, devicegroup dg
    set d.devicegroupid = 0 
    where d.devicegroupid = dg.devicegroupid 
    and d.branchid != dg.branchid
  </update>

  <update id="updateOnlineflag" >
    update device
    set onlineflag = 0 
    where refreshtime is null 
    or (unix_timestamp()-unix_timestamp(refreshtime) > 60)
  </update>

  <update id="checkAppfile" >
    update device
    set appfileid = 0, 
    upgradeflag = '0'
    where upgradeflag = '2' 
    and appfileid = #{appfileid}
  </update>

  <delete id="deleteByPrimaryKey" >
    delete from device
    where deviceid = #{deviceid}
  </delete>
  
  <insert id="insertList">
    insert into device(orgid, branchid, terminalid, name, type, status) 
    values 
    <foreach collection="devices" item="item"  separator=",">
      (#{item.orgid}, 
      #{item.branchid}, 
      #{item.terminalid}, 
      #{item.name}, 
      #{item.type}, 
      #{item.status})
    </foreach>
  </insert>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Device" >
    <selectKey resultType="java.lang.Integer" keyProperty="deviceid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device (orgid, branchid, terminalid, 
      hardkey, name, position, 
      ip, iip, mac, 
      status, description, onlineflag, 
      testflag, appname, sign, 
      vname, vcode, mtype, boardtype, 
      type, ostype, devicegroupid, 
      longitude, latitude, city, 
      addr1, addr2, externalid, 
      externalname, other, 
      createtime, activetime, refreshtime,
      devicegridid, xpos, ypos,
      powerflag, poweron, 
      poweroff, volumeflag, volume, 
      interval1, interval2, 
      boardinfo, storageused, storageavail, 
      upgradeflag, appfileid, tagflag, temperature,
      downloadspeed, downloadbytes, networkmode,
      networksignal, brightness, tags, 
      cataitemid1, cataitemid2, defaultbundleid, 
      defaultpageid, defaultmedialistid, hotspotflag, hotspotssid, 
      hotspotpassword, hotspotfrequency, 
      temperatureflag, relateid, screenstatus,
      batchid, modelid, qrcode,
      nextpoweron, nextpoweroff, playbundleid,
      playpageid, backupvideoid)
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{terminalid,jdbcType=VARCHAR}, 
      #{hardkey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{iip,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, #{onlineflag,jdbcType=CHAR}, 
      #{testflag,jdbcType=CHAR}, #{appname,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{vname,jdbcType=VARCHAR}, #{vcode,jdbcType=INTEGER}, #{mtype,jdbcType=VARCHAR}, #{boardtype,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{ostype,jdbcType=CHAR}, #{devicegroupid,jdbcType=INTEGER}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{addr1,jdbcType=VARCHAR}, #{addr2,jdbcType=VARCHAR}, #{externalid,jdbcType=VARCHAR}, 
      #{externalname,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{activetime,jdbcType=TIMESTAMP}, #{refreshtime,jdbcType=TIMESTAMP},
      #{devicegridid,jdbcType=INTEGER}, #{xpos,jdbcType=INTEGER}, #{ypos,jdbcType=INTEGER},
      #{powerflag,jdbcType=CHAR}, #{poweron,jdbcType=TIME}, 
      #{poweroff,jdbcType=TIME}, #{volumeflag,jdbcType=CHAR}, #{volume,jdbcType=INTEGER}, 
      #{interval1,jdbcType=INTEGER}, #{interval2,jdbcType=INTEGER}, 
      #{boardinfo,jdbcType=VARCHAR}, #{storageused,jdbcType=BIGINT}, #{storageavail,jdbcType=BIGINT}, 
      #{upgradeflag,jdbcType=CHAR}, #{appfileid,jdbcType=INTEGER}, #{tagflag,jdbcType=CHAR}, #{temperature,jdbcType=VARCHAR},
      #{downloadspeed,jdbcType=INTEGER}, #{downloadbytes,jdbcType=BIGINT}, #{networkmode,jdbcType=CHAR},
      #{networksignal,jdbcType=INTEGER}, #{brightness,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR},
      #{cataitemid1,jdbcType=INTEGER},#{cataitemid2,jdbcType=INTEGER}, defaultbundleid,jdbcType=INTEGER}, 
      #{defaultpageid,jdbcType=INTEGER}, #{defaultmedialistid,jdbcType=INTEGER}, #{hotspotflag,jdbcType=CHAR}, #{hotspotssid,jdbcType=VARCHAR}, 
      #{hotspotpassword,jdbcType=VARCHAR}, #{hotspotfrequency,jdbcType=VARCHAR}, 
      #{temperatureflag,jdbcType=CHAR}, #{relateid,jdbcType=INTEGER}, #{screenstatus,jdbcType=CHAR},
      #{batchid,jdbcType=INTEGER}, #{modelid,jdbcType=INTEGER}, #{qrcode,jdbcType=VARCHAR},
      #{nextpoweron,jdbcType=BIGINT}, #{nextpoweroff,jdbcType=BIGINT}, #{playbundleid,jdbcType=INTEGER}
      #{playpageid,jdbcType=INTEGER}, #{backupvideoid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Device" >
    <selectKey resultType="java.lang.Integer" keyProperty="deviceid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="terminalid != null" >
        terminalid,
      </if>
      <if test="hardkey != null" >
        hardkey,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="iip != null" >
        iip,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="onlineflag != null" >
        onlineflag,
      </if>
      <if test="testflag != null" >
        testflag,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="vname != null" >
        vname,
      </if>
      <if test="vcode != null" >
        vcode,
      </if>
      <if test="mtype != null" >
        mtype,
      </if>
      <if test="boardtype != null" >
        boardtype,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ostype != null" >
        ostype,
      </if>
      <if test="devicegroupid != null" >
        devicegroupid,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="addr1 != null" >
        addr1,
      </if>
      <if test="addr2 != null" >
        addr2,
      </if>
      <if test="externalid != null" >
        externalid,
      </if>
      <if test="externalname != null" >
        externalname,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="activetime != null" >
        activetime,
      </if>
      <if test="refreshtime != null" >
        refreshtime,
      </if>
      <if test="devicegridid != null" >
        devicegridid,
      </if>
      <if test="xpos != null" >
        xpos,
      </if>
      <if test="ypos != null" >
        ypos,
      </if>
      <if test="powerflag != null" >
        powerflag,
      </if>
      <if test="poweron != null" >
        poweron,
      </if>
      <if test="poweroff != null" >
        poweroff,
      </if>
      <if test="volumeflag != null" >
        volumeflag,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="interval1 != null" >
        interval1,
      </if>
      <if test="interval2 != null" >
        interval2,
      </if>
      <if test="boardinfo != null" >
        boardinfo,
      </if>
      <if test="storageused != null" >
        storageused,
      </if>
      <if test="storageavail != null" >
        storageavail,
      </if>
      <if test="upgradeflag != null" >
        upgradeflag,
      </if>
      <if test="appfileid != null" >
        appfileid,
      </if>
      <if test="tagflag != null" >
        tagflag,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="downloadspeed != null" >
        downloadspeed,
      </if>
      <if test="downloadbytes != null" >
        downloadbytes,
      </if>
      <if test="networkmode != null" >
        networkmode,
      </if>
      <if test="networksignal != null" >
        networksignal,
      </if>
      <if test="brightness != null" >
        brightness,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="cataitemid1 != null" >
        cataitemid1,
      </if>
      <if test="cataitemid2 != null" >
        cataitemid2,
      </if>
      <if test="defaultbundleid != null" >
        defaultbundleid,
      </if>
      <if test="defaultpageid != null" >
        defaultpageid,
      </if>
      <if test="defaultmedialistid != null" >
        defaultmedialistid,
      </if>
      <if test="hotspotflag != null" >
        hotspotflag,
      </if>
      <if test="hotspotssid != null" >
        hotspotssid,
      </if>
      <if test="hotspotpassword != null" >
        hotspotpassword,
      </if>
      <if test="hotspotfrequency != null" >
        hotspotfrequency,
      </if>
      <if test="temperatureflag != null" >
        temperatureflag,
      </if>
      <if test="relateid != null" >
        relateid,
      </if>
      <if test="screenstatus != null" >
        screenstatus,
      </if>
      <if test="batchid != null" >
        batchid,
      </if>
      <if test="modelid != null" >
        modelid,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="nextpoweron != null" >
        nextpoweron,
      </if>
      <if test="nextpoweroff != null" >
        nextpoweroff,
      </if>
      <if test="playbundleid != null" >
        playbundleid,
      </if>
      <if test="playpageid != null" >
        playpageid,
      </if>
      <if test="backupvideoid != null" >
        backupvideoid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="hardkey != null" >
        #{hardkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="iip != null" >
        #{iip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="onlineflag != null" >
        #{onlineflag,jdbcType=CHAR},
      </if>
      <if test="testflag != null" >
        #{testflag,jdbcType=CHAR},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="vname != null" >
        #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vcode != null" >
        #{vcode,jdbcType=INTEGER},
      </if>
      <if test="mtype != null" >
        #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="boardtype != null" >
        #{boardtype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="ostype != null" >
        #{ostype,jdbcType=CHAR},
      </if>
      <if test="devicegroupid != null" >
        #{devicegroupid,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="addr1 != null" >
        #{addr1,jdbcType=VARCHAR},
      </if>
      <if test="addr2 != null" >
        #{addr2,jdbcType=VARCHAR},
      </if>
      <if test="externalid != null" >
        #{externalid,jdbcType=VARCHAR},
      </if>
      <if test="externalname != null" >
        #{externalname,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activetime != null" >
        #{activetime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshtime != null" >
        #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="devicegridid != null" >
        #{devicegridid,jdbcType=INTEGER},
      </if>
      <if test="xpos != null" >
        #{xpos,jdbcType=INTEGER},
      </if>
      <if test="ypos != null" >
        #{ypos,jdbcType=INTEGER},
      </if>
      <if test="powerflag != null" >
        #{powerflag,jdbcType=CHAR},
      </if>
      <if test="poweron != null" >
        #{poweron,jdbcType=TIME},
      </if>
      <if test="poweroff != null" >
        #{poweroff,jdbcType=TIME},
      </if>
      <if test="volumeflag != null" >
        #{volumeflag,jdbcType=CHAR},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=INTEGER},
      </if>
      <if test="interval1 != null" >
        #{interval1,jdbcType=INTEGER},
      </if>
      <if test="interval2 != null" >
        #{interval2,jdbcType=INTEGER},
      </if>
      <if test="boardinfo != null" >
        #{boardinfo,jdbcType=VARCHAR},
      </if>
      <if test="storageused != null" >
        #{storageused,jdbcType=BIGINT},
      </if>
      <if test="storageavail != null" >
        #{storageavail,jdbcType=BIGINT},
      </if>
      <if test="upgradeflag != null" >
        #{upgradeflag,jdbcType=CHAR},
      </if>
      <if test="appfileid != null" >
        #{appfileid,jdbcType=INTEGER},
      </if>
      <if test="tagflag != null" >
        #{tagflag,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="downloadspeed != null" >
        #{downloadspeed,jdbcType=INTEGER},
      </if>
      <if test="downloadbytes != null" >
        #{downloadbytes,jdbcType=BIGINT},
      </if>
      <if test="networkmode != null" >
        #{networkmode,jdbcType=CHAR},
      </if>
      <if test="networksignal != null" >
        #{networksignal,jdbcType=INTEGER},
      </if>
      <if test="brightness != null" >
        #{brightness,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="cataitemid1 != null" >
        #{cataitemid1,jdbcType=INTEGER},
      </if>
      <if test="cataitemid2 != null" >
        #{cataitemid2,jdbcType=INTEGER},
      </if>
      <if test="defaultbundleid != null" >
        #{defaultbundleid,jdbcType=INTEGER},
      </if>
      <if test="defaultpageid != null" >
        #{defaultpageid,jdbcType=INTEGER},
      </if>
      <if test="defaultmedialistid != null" >
        #{defaultmedialistid,jdbcType=INTEGER},
      </if>
      <if test="hotspotflag != null" >
        #{hotspotflag,jdbcType=CHAR},
      </if>
      <if test="hotspotssid != null" >
        #{hotspotssid,jdbcType=VARCHAR},
      </if>
      <if test="hotspotpassword != null" >
        #{hotspotpassword,jdbcType=VARCHAR},
      </if>
      <if test="hotspotfrequency != null" >
        #{hotspotfrequency,jdbcType=VARCHAR},
      </if>
      <if test="temperatureflag != null" >
        #{temperatureflag,jdbcType=CHAR},
      </if>
      <if test="relateid != null" >
        #{relateid,jdbcType=INTEGER},
      </if>
      <if test="screenstatus != null" >
        #{screenstatus,jdbcType=CHAR},
      </if>
      <if test="batchid != null" >
        #{batchid,jdbcType=INTEGER},
      </if>
      <if test="modelid != null" >
        #{modelid,jdbcType=INTEGER},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="nextpoweron != null" >
        #{nextpoweron,jdbcType=BIGINT},
      </if>
      <if test="nextpoweroff != null" >
        #{nextpoweroff,jdbcType=BIGINT},
      </if>
      <if test="playbundleid != null" >
        #{playbundleid,jdbcType=INTEGER},
      </if>
      <if test="playpageid != null" >
        #{playpageid,jdbcType=INTEGER},
      </if>
      <if test="backupvideoid != null" >
        #{backupvideoid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Device" >
    update device
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="hardkey != null" >
        hardkey = #{hardkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="iip != null" >
        iip = #{iip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="onlineflag != null" >
        onlineflag = #{onlineflag,jdbcType=CHAR},
      </if>
      <if test="testflag != null" >
        testflag = #{testflag,jdbcType=CHAR},
      </if>
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="vname != null" >
        vname = #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vcode != null" >
        vcode = #{vcode,jdbcType=INTEGER},
      </if>
      <if test="mtype != null" >
        mtype = #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="boardtype != null" >
        boardtype = #{boardtype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="ostype != null" >
        ostype = #{ostype,jdbcType=CHAR},
      </if>
      <if test="devicegroupid != null" >
        devicegroupid = #{devicegroupid,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="addr1 != null" >
        addr1 = #{addr1,jdbcType=VARCHAR},
      </if>
      <if test="addr2 != null" >
        addr2 = #{addr2,jdbcType=VARCHAR},
      </if>
      <if test="externalid != null" >
        externalid = #{externalid,jdbcType=VARCHAR},
      </if>
      <if test="externalname != null" >
        externalname = #{externalname,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="activetime != null" >
        activetime = #{activetime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshtime != null" >
        refreshtime = #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="devicegridid != null" >
        devicegridid = #{devicegridid,jdbcType=INTEGER},
      </if>
      <if test="xpos != null" >
        xpos = #{xpos,jdbcType=INTEGER},
      </if>
      <if test="ypos != null" >
        ypos = #{ypos,jdbcType=INTEGER},
      </if>
      <if test="powerflag != null" >
        powerflag = #{powerflag,jdbcType=CHAR},
      </if>
      <if test="poweron != null" >
        poweron = #{poweron,jdbcType=TIME},
      </if>
      <if test="poweroff != null" >
        poweroff = #{poweroff,jdbcType=TIME},
      </if>
      <if test="volumeflag != null" >
        volumeflag = #{volumeflag,jdbcType=CHAR},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=INTEGER},
      </if>
      <if test="interval1 != null" >
        interval1 = #{interval1,jdbcType=INTEGER},
      </if>
      <if test="interval2 != null" >
        interval2 = #{interval2,jdbcType=INTEGER},
      </if>
      <if test="boardinfo != null" >
        boardinfo = #{boardinfo,jdbcType=VARCHAR},
      </if>
      <if test="storageused != null" >
        storageused = #{storageused,jdbcType=BIGINT},
      </if>
      <if test="storageavail != null" >
        storageavail = #{storageavail,jdbcType=BIGINT},
      </if>
      <if test="upgradeflag != null" >
        upgradeflag = #{upgradeflag,jdbcType=CHAR},
      </if>
      <if test="appfileid != null" >
        appfileid = #{appfileid,jdbcType=INTEGER},
      </if>
      <if test="tagflag != null" >
        tagflag = #{tagflag,jdbcType=CHAR},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="downloadspeed != null" >
        downloadspeed = #{downloadspeed,jdbcType=INTEGER},
      </if>
      <if test="downloadbytes != null" >
        downloadbytes = #{downloadbytes,jdbcType=BIGINT},
      </if>
      <if test="networkmode != null" >
        networkmode = #{networkmode,jdbcType=CHAR},
      </if>
      <if test="networksignal != null" >
        networksignal = #{networksignal,jdbcType=INTEGER},
      </if>
      <if test="brightness != null" >
        brightness = #{brightness,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="cataitemid1 != null" >
        cataitemid1 = #{cataitemid1,jdbcType=INTEGER},
      </if>
      <if test="cataitemid2 != null" >
        cataitemid2 = #{cataitemid2,jdbcType=INTEGER},
      </if>
      <if test="defaultbundleid != null" >
        defaultbundleid = #{defaultbundleid,jdbcType=INTEGER},
      </if>
      <if test="defaultpageid != null" >
        defaultpageid = #{defaultpageid,jdbcType=INTEGER},
      </if>
      <if test="defaultmedialistid != null" >
        defaultmedialistid = #{defaultmedialistid,jdbcType=INTEGER},
      </if>
      <if test="hotspotflag != null" >
        hotspotflag = #{hotspotflag,jdbcType=CHAR},
      </if>
      <if test="hotspotssid != null" >
        hotspotssid = #{hotspotssid,jdbcType=VARCHAR},
      </if>
      <if test="hotspotpassword != null" >
        hotspotpassword = #{hotspotpassword,jdbcType=VARCHAR},
      </if>
      <if test="hotspotfrequency != null" >
        hotspotfrequency = #{hotspotfrequency,jdbcType=VARCHAR},
      </if>
      <if test="temperatureflag != null" >
        temperatureflag = #{temperatureflag,jdbcType=CHAR},
      </if>
      <if test="relateid != null" >
        relateid = #{relateid,jdbcType=INTEGER},
      </if>
      <if test="screenstatus != null" >
        screenstatus = #{screenstatus,jdbcType=CHAR},
      </if>
      <if test="batchid != null" >
        batchid = #{batchid,jdbcType=INTEGER},
      </if>
      <if test="modelid != null" >
        modelid = #{modelid,jdbcType=INTEGER},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="nextpoweron != null" >
        nextpoweron = #{nextpoweron,jdbcType=BIGINT},
      </if>
      <if test="nextpoweroff != null" >
        nextpoweroff = #{nextpoweroff,jdbcType=BIGINT},
      </if>
      <if test="playbundleid != null" >
        playbundleid = #{playbundleid,jdbcType=INTEGER},
      </if>
      <if test="playpageid != null" >
        playpageid = #{playpageid,jdbcType=INTEGER},
      </if>
      <if test="backupvideoid != null" >
        backupvideoid = #{backupvideoid,jdbcType=INTEGER},
      </if>
    </set>
    where deviceid = #{deviceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Device" >
    update device
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      terminalid = #{terminalid,jdbcType=VARCHAR},
      hardkey = #{hardkey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      iip = #{iip,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      onlineflag = #{onlineflag,jdbcType=CHAR},
      testflag = #{testflag,jdbcType=CHAR},
      appname = #{appname,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      vname = #{vname,jdbcType=VARCHAR},
      vcode = #{vcode,jdbcType=INTEGER},
      mtype = #{mtype,jdbcType=VARCHAR},
      boardtype = #{boardtype,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      ostype = #{ostype,jdbcType=CHAR},
      devicegroupid = #{devicegroupid,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      addr1 = #{addr1,jdbcType=VARCHAR},
      addr2 = #{addr2,jdbcType=VARCHAR},
      externalid = #{externalid,jdbcType=VARCHAR},
      externalname = #{externalname,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      activetime = #{activetime,jdbcType=TIMESTAMP},
      refreshtime = #{refreshtime,jdbcType=TIMESTAMP},
      devicegridid = #{devicegridid,jdbcType=INTEGER},
      xpos = #{xpos,jdbcType=INTEGER},
      ypos = #{ypos,jdbcType=INTEGER},
      powerflag = #{powerflag,jdbcType=CHAR},
      poweron = #{poweron,jdbcType=TIME},
      poweroff = #{poweroff,jdbcType=TIME},
      volumeflag = #{volumeflag,jdbcType=CHAR},
      volume = #{volume,jdbcType=INTEGER},
      interval1 = #{interval1,jdbcType=INTEGER},
      interval2 = #{interval2,jdbcType=INTEGER},
      boardinfo = #{boardinfo,jdbcType=VARCHAR},
      storageused = #{storageused,jdbcType=BIGINT},
      storageavail = #{storageavail,jdbcType=BIGINT},
      upgradeflag = #{upgradeflag,jdbcType=CHAR},
      appfileid = #{appfileid,jdbcType=INTEGER},
      tagflag = #{tagflag,jdbcType=CHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      downloadspeed = #{downloadspeed,jdbcType=INTEGER},
      downloadbytes = #{downloadbytes,jdbcType=BIGINT},
      networkmode = #{networkmode,jdbcType=CHAR},
      networksignal = #{networksignal,jdbcType=INTEGER},
      brightness = #{brightness,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      cataitemid1 = #{cataitemid1,jdbcType=INTEGER},
      cataitemid2 = #{cataitemid2,jdbcType=INTEGER},
      defaultbundleid = #{defaultbundleid,jdbcType=INTEGER},
      defaultpageid = #{defaultpageid,jdbcType=INTEGER},
      defaultmedialistid = #{defaultmedialistid,jdbcType=INTEGER},
      hotspotflag = #{hotspotflag,jdbcType=CHAR},
      hotspotssid = #{hotspotssid,jdbcType=VARCHAR},
      hotspotpassword = #{hotspotpassword,jdbcType=VARCHAR},
      hotspotfrequency = #{hotspotfrequency,jdbcType=VARCHAR},
      temperatureflag = #{temperatureflag,jdbcType=CHAR},
      relateid = #{relateid,jdbcType=INTEGER},
      screenstatus = #{screenstatus,jdbcType=CHAR},
      batchid = #{batchid,jdbcType=INTEGER},
      modelid = #{modelid,jdbcType=INTEGER},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      nextpoweron = #{nextpoweron,jdbcType=BIGINT},
      nextpoweroff = #{nextpoweroff,jdbcType=BIGINT},
      playbundleid = #{playbundleid,jdbcType=INTEGER},
      playpageid = #{playpageid,jdbcType=INTEGER},
      backupvideoid = #{backupvideoid,jdbcType=INTEGER}
    where deviceid = #{deviceid,jdbcType=INTEGER}
  </update>
  <update id="resetExternalid">
     update device set externalid=null where externalid=#{externalid}
  </update>
</mapper>