<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DiyactionMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Diyaction" >
    <id column="diyactionid" property="diyactionid" jdbcType="INTEGER" />
    <result column="diyid" property="diyid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    diyactionid, diyid, name, code
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from diyaction
    where diyactionid = #{diyactionid}
  </select>
  
  <select id="selectList" resultMap="BaseResultMap">
    select * from diyaction
    where diyid = #{diyid}
    order by diyactionid
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from diyaction
    where diyactionid = #{diyactionid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Diyaction" >
    <selectKey resultType="java.lang.Integer" keyProperty="diyactionid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diyaction (diyid, name, code
      )
    values (#{diyid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Diyaction" >
    <selectKey resultType="java.lang.Integer" keyProperty="diyactionid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into diyaction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diyid != null" >
        diyid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diyid != null" >
        #{diyid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Diyaction" >
    update diyaction
    <set >
      <if test="diyid != null" >
        diyid = #{diyid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where diyactionid = #{diyactionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Diyaction" >
    update diyaction
    set diyid = #{diyid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where diyactionid = #{diyactionid,jdbcType=INTEGER}
  </update>
</mapper>