<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.DoorlogMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Doorlog" >
    <id column="doorlogid" property="doorlogid" jdbcType="INTEGER" />
    <result column="wxuserid" property="wxuserid" jdbcType="VARCHAR" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="wxmpid" property="wxmpid" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="doortype" property="doortype" jdbcType="CHAR" />
    <result column="authorizeopentime" property="authorizeopentime" jdbcType="TIMESTAMP" />
    <result column="openstate" property="openstate" jdbcType="CHAR" />
    <result column="opentime" property="opentime" jdbcType="TIMESTAMP" />
    <result column="closestate" property="closestate" jdbcType="CHAR" />
    <result column="closetime" property="closetime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    doorlogid, wxuserid, terminalid, wxmpid, orgid, doortype, authorizeopentime, openstate, 
    opentime, closestate, closetime, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doorlog
    where doorlogid = #{doorlogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doorlog
    where doorlogid = #{doorlogid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Doorlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="doorlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into doorlog (wxuserid, terminalid, wxmpid, 
      orgid, doortype, authorizeopentime, 
      openstate, opentime, closestate, 
      closetime, createtime)
    values (#{wxuserid,jdbcType=VARCHAR}, #{terminalid,jdbcType=VARCHAR}, #{wxmpid,jdbcType=VARCHAR}, 
      #{orgid,jdbcType=INTEGER}, #{doortype,jdbcType=CHAR}, #{authorizeopentime,jdbcType=TIMESTAMP}, 
      #{openstate,jdbcType=CHAR}, #{opentime,jdbcType=TIMESTAMP}, #{closestate,jdbcType=CHAR}, 
      #{closetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Doorlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="doorlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into doorlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wxuserid != null" >
        wxuserid,
      </if>
      <if test="terminalid != null" >
        terminalid,
      </if>
      <if test="wxmpid != null" >
        wxmpid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="doortype != null" >
        doortype,
      </if>
      <if test="authorizeopentime != null" >
        authorizeopentime,
      </if>
      <if test="openstate != null" >
        openstate,
      </if>
      <if test="opentime != null" >
        opentime,
      </if>
      <if test="closestate != null" >
        closestate,
      </if>
      <if test="closetime != null" >
        closetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wxuserid != null" >
        #{wxuserid,jdbcType=VARCHAR},
      </if>
      <if test="terminalid != null" >
        #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="wxmpid != null" >
        #{wxmpid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="doortype != null" >
        #{doortype,jdbcType=CHAR},
      </if>
      <if test="authorizeopentime != null" >
        #{authorizeopentime,jdbcType=TIMESTAMP},
      </if>
      <if test="openstate != null" >
        #{openstate,jdbcType=CHAR},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="closestate != null" >
        #{closestate,jdbcType=CHAR},
      </if>
      <if test="closetime != null" >
        #{closetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Doorlog" >
    update doorlog
    <set >
      <if test="wxuserid != null" >
        wxuserid = #{wxuserid,jdbcType=VARCHAR},
      </if>
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="wxmpid != null" >
        wxmpid = #{wxmpid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="doortype != null" >
        doortype = #{doortype,jdbcType=CHAR},
      </if>
      <if test="authorizeopentime != null" >
        authorizeopentime = #{authorizeopentime,jdbcType=TIMESTAMP},
      </if>
      <if test="openstate != null" >
        openstate = #{openstate,jdbcType=CHAR},
      </if>
      <if test="opentime != null" >
        opentime = #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="closestate != null" >
        closestate = #{closestate,jdbcType=CHAR},
      </if>
      <if test="closetime != null" >
        closetime = #{closetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where doorlogid = #{doorlogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Doorlog" >
    update doorlog
    set wxuserid = #{wxuserid,jdbcType=VARCHAR},
      terminalid = #{terminalid,jdbcType=VARCHAR},
      wxmpid = #{wxmpid,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      doortype = #{doortype,jdbcType=CHAR},
      authorizeopentime = #{authorizeopentime,jdbcType=TIMESTAMP},
      openstate = #{openstate,jdbcType=CHAR},
      opentime = #{opentime,jdbcType=TIMESTAMP},
      closestate = #{closestate,jdbcType=CHAR},
      closetime = #{closetime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where doorlogid = #{doorlogid,jdbcType=INTEGER}
  </update>
</mapper>