<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.EventdtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Eventdtl" >
    <id column="eventdtlid" property="eventdtlid" jdbcType="INTEGER" />
    <result column="eventid" property="eventid" jdbcType="INTEGER" />
    <result column="dayofweek" property="dayofweek" jdbcType="INTEGER" />
    <result column="shortstarttime" property="shortstarttime" jdbcType="TIME" />
    <result column="shortendtime" property="shortendtime" jdbcType="TIME" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    eventdtlid, eventid, dayofweek, shortstarttime, shortendtime, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eventdtl
    where eventdtlid = #{eventdtlid,jdbcType=INTEGER}
  </select>
  <select id="selectByEventid"   resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eventdtl
    where eventid = #{eventid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eventdtl
    where eventdtlid = #{eventdtlid,jdbcType=INTEGER}
  </delete>
   <delete id="deleteByEventid" parameterType="java.lang.Integer" >
    delete from eventdtl
    where eventid = #{eventid}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Eventdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="eventdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eventdtl (eventid, dayofweek, shortstarttime, 
      shortendtime, createtime)
    values (#{eventid,jdbcType=INTEGER}, #{dayofweek,jdbcType=INTEGER}, #{shortstarttime,jdbcType=TIME}, 
      #{shortendtime,jdbcType=TIME}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Eventdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="eventdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eventdtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        eventid,
      </if>
      <if test="dayofweek != null" >
        dayofweek,
      </if>
      <if test="shortstarttime != null" >
        shortstarttime,
      </if>
      <if test="shortendtime != null" >
        shortendtime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        #{eventid,jdbcType=INTEGER},
      </if>
      <if test="dayofweek != null" >
        #{dayofweek,jdbcType=INTEGER},
      </if>
      <if test="shortstarttime != null" >
        #{shortstarttime,jdbcType=TIME},
      </if>
      <if test="shortendtime != null" >
        #{shortendtime,jdbcType=TIME},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Eventdtl" >
    update eventdtl
    <set >
      <if test="eventid != null" >
        eventid = #{eventid,jdbcType=INTEGER},
      </if>
      <if test="dayofweek != null" >
        dayofweek = #{dayofweek,jdbcType=INTEGER},
      </if>
      <if test="shortstarttime != null" >
        shortstarttime = #{shortstarttime,jdbcType=TIME},
      </if>
      <if test="shortendtime != null" >
        shortendtime = #{shortendtime,jdbcType=TIME},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where eventdtlid = #{eventdtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Eventdtl" >
    update eventdtl
    set eventid = #{eventid,jdbcType=INTEGER},
      dayofweek = #{dayofweek,jdbcType=INTEGER},
      shortstarttime = #{shortstarttime,jdbcType=TIME},
      shortendtime = #{shortendtime,jdbcType=TIME},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where eventdtlid = #{eventdtlid,jdbcType=INTEGER}
  </update>
</mapper>