<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.EventMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Event" >
    <id column="eventid" property="eventid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="roomid" property="roomid" jdbcType="INTEGER" />
    <result column="roomname" property="roomname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="startdate" property="startdate" jdbcType="DATE" />
    <result column="enddate" property="enddate" jdbcType="DATE" />
    <result column="shortstarttime" property="shortstarttime" jdbcType="TIME" />
    <result column="shortendtime" property="shortendtime" jdbcType="TIME" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="eventdaysflag" property="eventdaysflag" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="sourcetype" property="sourcetype" jdbcType="CHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatestaffid" property="updatestaffid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
     <collection property="eventdtls" ofType="com.broadvideo.pixsignage.domain.Eventdtl"
      column="{eventid=eventid}"  select="com.broadvideo.pixsignage.persistence.EventdtlMapper.selectByEventid" /> 
  </resultMap>
  <sql id="Base_Column_List" >
    eventid, uuid, roomid, name, type, startdate, enddate, shortstarttime, shortendtime, 
    starttime, endtime, eventdaysflag, amount, sourcetype, orgid, createtime, createstaffid, 
    updatetime, updatestaffid, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from event
    where eventid = #{eventid,jdbcType=INTEGER}
  </select>
  <select id="selectList" resultMap="BaseResultMap" >
	SELECT
		e.*,r.name as roomname
	FROM event e left join  room r on (e.roomid=r.roomid and r.status='1')  
	WHERE  e.orgid = #{orgid} and e.status='1'
	<if test="roomtype!=null">
	  and r.type=#{roomtype}
	</if>
	<if test="search!=null">
	     and (e.name like #{search} )
	</if>
	<if test="roomid!=null">
	  and e.roomid=#{roomid}
	</if>
	<if test="starttime!=null and endtime!=null">
	    
	  and (
	       (e.starttime>=#{starttime}  and e.endtime <![CDATA[<=]]> #{endtime}) 
	        or 
	       (e.starttime<![CDATA[<=]]>#{starttime} and  e.endtime>=  #{endtime})
	       
	       )
	  </if>
   order by e.eventid asc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from event
    where eventid = #{eventid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Event" >
    <selectKey resultType="java.lang.Integer" keyProperty="eventid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into event (uuid, roomid, name, 
      type, startdate, enddate, shortstarttime, 
      shortendtime, starttime, endtime, 
      eventdaysflag, amount, sourcetype, 
      orgid, createtime, createstaffid, 
      updatetime, updatestaffid, status
      )
    values (#{uuid,jdbcType=VARCHAR}, #{roomid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{startdate,jdbcType=DATE}, #{enddate,jdbcType=DATE}, #{shortstarttime,jdbcType=TIME}, 
      #{shortendtime,jdbcType=TIME}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{eventdaysflag,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{sourcetype,jdbcType=CHAR}, 
      #{orgid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updatestaffid,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Event" >
    <selectKey resultType="java.lang.Integer" keyProperty="eventid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="roomid != null" >
        roomid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="startdate != null" >
        startdate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="shortstarttime != null" >
        shortstarttime,
      </if>
      <if test="shortendtime != null" >
        shortendtime,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="eventdaysflag != null" >
        eventdaysflag,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="sourcetype != null" >
        sourcetype,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updatestaffid != null" >
        updatestaffid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="shortstarttime != null" >
        #{shortstarttime,jdbcType=TIME},
      </if>
      <if test="shortendtime != null" >
        #{shortendtime,jdbcType=TIME},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventdaysflag != null" >
        #{eventdaysflag,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="sourcetype != null" >
        #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Event" >
    update event
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="roomid != null" >
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=DATE},
      </if>
      <if test="shortstarttime != null" >
        shortstarttime = #{shortstarttime,jdbcType=TIME},
      </if>
      <if test="shortendtime != null" >
        shortendtime = #{shortendtime,jdbcType=TIME},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventdaysflag != null" >
        eventdaysflag = #{eventdaysflag,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="sourcetype != null" >
        sourcetype = #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where eventid = #{eventid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Event" >
    update event
    set uuid = #{uuid,jdbcType=VARCHAR},
      roomid = #{roomid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      startdate = #{startdate,jdbcType=DATE},
      enddate = #{enddate,jdbcType=DATE},
      shortstarttime = #{shortstarttime,jdbcType=TIME},
      shortendtime = #{shortendtime,jdbcType=TIME},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      eventdaysflag = #{eventdaysflag,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      sourcetype = #{sourcetype,jdbcType=CHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where eventid = #{eventid,jdbcType=INTEGER}
  </update>
  
  <update id="updateEvent" parameterType="com.broadvideo.pixsignage.domain.Event" >
    update event
    <set >
      <if test="roomid != null" >
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=DATE},
      </if>
      <if test="shortstarttime != null" >
        shortstarttime = #{shortstarttime,jdbcType=TIME},
      </if>
      <if test="shortendtime != null" >
        shortendtime = #{shortendtime,jdbcType=TIME},
      </if>
      <if test="eventdaysflag != null" >
        eventdaysflag = #{eventdaysflag,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="sourcetype != null" >
        sourcetype = #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where eventid = #{eventid} and orgid=#{orgid}
  </update>
</mapper>