<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.ExaminationroomMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Examinationroom" >
    <id column="examinationroomid" property="examinationroomid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="coursename" property="coursename" jdbcType="VARCHAR" />
    <result column="courseid" property="courseid" jdbcType="INTEGER" />
    <result column="classroomid" property="classroomid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    examinationroomid, name, description, starttime, endtime, coursename, courseid, classroomid, 
    orgid, createtime, createstaffid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from examinationroom
    where examinationroomid = #{examinationroomid,jdbcType=INTEGER}  and orgid=#{orgid}
  </select>
  
  <select id="selectList"  resultType="map" >
	  select
		 ex.*,
	  	 IFNULL(cr.name,'') AS classroomname
	  from examinationroom ex
	  left join classroom cr
	    on ex.classroomid = cr.classroomid
	   where  ex.orgid = #{orgid}
	    <if test="search != null">
	      and (ex.name like #{search} or ex.description like #{search} or cr.name like #{search})
	    </if> 
	    order by ex.examinationroomid desc
  </select>
  <select id="countExaminationrooms"  resultType="Integer" >
	select   count(1)  
	from examinationroom  
	where classroomid=#{classroomid} and  ((starttime>=#{starttime} and starttime<![CDATA[<]]>#{endtime})  
	      or (endtime>#{starttime} and endtime<![CDATA[<=]]>#{endtime})
	      or (starttime<![CDATA[<=]]>#{starttime} and  endtime>=#{endtime}))
	  	 <if test="excludeid != null">
	       and  examinationroomid<![CDATA[<>]]>#{excludeid}
	     </if>    
  </select>
  
  <select id="selectExaminationroomsBy" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
		    <include refid="Base_Column_List" />
		    from examinationroom
		where classroomid=#{classroomid} and  endtime>=now()
		order by starttime asc
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examinationroom
    where examinationroomid = #{examinationroomid,jdbcType=INTEGER} and orgid=#{orgid}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Examinationroom" >
    <selectKey resultType="java.lang.Integer" keyProperty="examinationroomid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into examinationroom (name, description, starttime, 
      endtime, coursename, courseid, 
      classroomid, orgid, createtime, 
      createstaffid)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{coursename,jdbcType=VARCHAR}, #{courseid,jdbcType=INTEGER}, 
      #{classroomid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createstaffid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Examinationroom" >
    <selectKey resultType="java.lang.Integer" keyProperty="examinationroomid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into examinationroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="coursename != null" >
        coursename,
      </if>
      <if test="courseid != null" >
        courseid,
      </if>
      <if test="classroomid != null" >
        classroomid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null" >
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Examinationroom" >
    update examinationroom
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coursename != null" >
        coursename = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null" >
        classroomid = #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where examinationroomid = #{examinationroomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Examinationroom" >
    update examinationroom
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      coursename = #{coursename,jdbcType=VARCHAR},
      courseid = #{courseid,jdbcType=INTEGER},
      classroomid = #{classroomid,jdbcType=INTEGER},
      orgid = #{orgid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where examinationroomid = #{examinationroomid,jdbcType=INTEGER}
  </update>
</mapper>