<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.GridlayoutMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Gridlayout" >
    <id column="gridlayoutid" property="gridlayoutid" jdbcType="INTEGER" />
    <result column="gridlayoutcode" property="gridlayoutcode" jdbcType="VARCHAR" />
    <result column="xcount" property="xcount" jdbcType="INTEGER" />
    <result column="ycount" property="ycount" jdbcType="INTEGER" />
    <result column="ratio" property="ratio" jdbcType="CHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    gridlayoutid, gridlayoutcode, xcount, ycount, ratio, width, height
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from gridlayout
    where gridlayoutid = #{gridlayoutid}
  </select>
  
    <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gridlayout
  </select>
  
  <select id="selectByCode" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from gridlayout
    where gridlayoutcode = #{gridlayoutcode}
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from gridlayout
    where gridlayoutid = #{gridlayoutid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Gridlayout" >
    <selectKey resultType="java.lang.Integer" keyProperty="gridlayoutid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gridlayout (gridlayoutcode, xcount, ycount, 
      ratio, width, height)
    values (#{gridlayoutcode,jdbcType=VARCHAR}, #{xcount,jdbcType=INTEGER}, #{ycount,jdbcType=INTEGER}, 
      #{ratio,jdbcType=CHAR}, #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Gridlayout" >
    <selectKey resultType="java.lang.Integer" keyProperty="gridlayoutid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gridlayout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gridlayoutcode != null" >
        gridlayoutcode,
      </if>
      <if test="xcount != null" >
        xcount,
      </if>
      <if test="ycount != null" >
        ycount,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gridlayoutcode != null" >
        #{gridlayoutcode,jdbcType=VARCHAR},
      </if>
      <if test="xcount != null" >
        #{xcount,jdbcType=INTEGER},
      </if>
      <if test="ycount != null" >
        #{ycount,jdbcType=INTEGER},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=CHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Gridlayout" >
    update gridlayout
    <set >
      <if test="gridlayoutcode != null" >
        gridlayoutcode = #{gridlayoutcode,jdbcType=VARCHAR},
      </if>
      <if test="xcount != null" >
        xcount = #{xcount,jdbcType=INTEGER},
      </if>
      <if test="ycount != null" >
        ycount = #{ycount,jdbcType=INTEGER},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=CHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
    </set>
    where gridlayoutid = #{gridlayoutid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Gridlayout" >
    update gridlayout
    set gridlayoutcode = #{gridlayoutcode,jdbcType=VARCHAR},
      xcount = #{xcount,jdbcType=INTEGER},
      ycount = #{ycount,jdbcType=INTEGER},
      ratio = #{ratio,jdbcType=CHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER}
    where gridlayoutid = #{gridlayoutid,jdbcType=INTEGER}
  </update>
</mapper>