<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.House" >
    <id column="houseid" property="houseid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="checksum" property="checksum" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    houseid, orgid, name, thumbnail, width, height, zip, checksum, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from house
    where houseid = #{houseid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from house
    where 1 = 1 
    <if test="search != null">
      and name like #{search}
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from house
    where 1 = 1 
    <if test="search != null">
      and name like #{search}
    </if>
    order by houseid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select * from house
    where name = #{name}
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from house
    where houseid = #{houseid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.House" >
    <selectKey resultType="java.lang.Integer" keyProperty="houseid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house (orgid, name, thumbnail, 
      width, height, zip, 
      checksum, createtime)
    values (#{orgid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{zip,jdbcType=VARCHAR}, 
      #{checksum,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.House" >
    <selectKey resultType="java.lang.Integer" keyProperty="houseid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="checksum != null" >
        checksum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="checksum != null" >
        #{checksum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.House" >
    update house
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="checksum != null" >
        checksum = #{checksum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where houseid = #{houseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.House" >
    update house
    set orgid = #{orgid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      zip = #{zip,jdbcType=VARCHAR},
      checksum = #{checksum,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where houseid = #{houseid,jdbcType=INTEGER}
  </update>
</mapper>