<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.LayoutdtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Layoutdtl" >
    <id column="layoutdtlid" property="layoutdtlid" jdbcType="INTEGER" />
    <result column="layoutid" property="layoutid" jdbcType="INTEGER" />
    <result column="regionid" property="regionid" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="topoffset" property="topoffset" jdbcType="INTEGER" />
    <result column="leftoffset" property="leftoffset" jdbcType="INTEGER" />
    <result column="zindex" property="zindex" jdbcType="INTEGER" />
    <result column="bgcolor" property="bgcolor" jdbcType="VARCHAR" />
    <result column="opacity" property="opacity" jdbcType="INTEGER" />
    <result column="intervaltime" property="intervaltime" jdbcType="INTEGER" />
    <result column="direction" property="direction" jdbcType="CHAR" />
    <result column="speed" property="speed" jdbcType="CHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <association property="region" column="{regionid=regionid}" select="com.broadvideo.pixsignage.persistence.RegionMapper.selectByPrimaryKey" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    layoutdtlid, layoutid, regionid, height, width, topoffset, leftoffset, zindex, bgcolor, opacity, intervaltime, 
    direction, speed, color, size, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from layoutdtl
    where layoutdtlid = '${layoutdtlid}'
  </select>
  
  <select id="selectList" resultMap="BaseResultMap">
    select * from layoutdtl
    where layoutid = '${layoutid}'
    order by layoutdtlid
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from layoutdtl
    where layoutdtlid = '${layoutdtlid}'
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Layoutdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="layoutdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into layoutdtl (layoutid, regionid, height, 
      width, topoffset, leftoffset, 
      zindex, bgcolor, opacity, 
      intervaltime, direction, 
      speed, color, size, 
      createtime)
    values (#{layoutid,jdbcType=INTEGER}, #{regionid,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{width,jdbcType=INTEGER}, #{topoffset,jdbcType=INTEGER}, #{leftoffset,jdbcType=INTEGER}, 
      #{zindex,jdbcType=INTEGER}, #{bgcolor,jdbcType=VARCHAR}, #{opacity,jdbcType=INTEGER}, 
      #{intervaltime,jdbcType=INTEGER}, #{direction,jdbcType=CHAR}, 
      #{speed,jdbcType=CHAR}, #{color,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Layoutdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="layoutdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into layoutdtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="layoutid != null" >
        layoutid,
      </if>
      <if test="regionid != null" >
        regionid,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="topoffset != null" >
        topoffset,
      </if>
      <if test="leftoffset != null" >
        leftoffset,
      </if>
      <if test="zindex != null" >
        zindex,
      </if>
      <if test="bgcolor != null" >
        bgcolor,
      </if>
      <if test="opacity != null" >
        opacity,
      </if>
      <if test="intervaltime != null" >
        intervaltime,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="layoutid != null" >
        #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="regionid != null" >
        #{regionid,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="topoffset != null" >
        #{topoffset,jdbcType=INTEGER},
      </if>
      <if test="leftoffset != null" >
        #{leftoffset,jdbcType=INTEGER},
      </if>
      <if test="zindex != null" >
        #{zindex,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="opacity != null" >
        #{opacity,jdbcType=INTEGER},
      </if>
      <if test="intervaltime != null" >
        #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=CHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=CHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Layoutdtl" >
    update layoutdtl
    <set >
      <if test="layoutid != null" >
        layoutid = #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="regionid != null" >
        regionid = #{regionid,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="topoffset != null" >
        topoffset = #{topoffset,jdbcType=INTEGER},
      </if>
      <if test="leftoffset != null" >
        leftoffset = #{leftoffset,jdbcType=INTEGER},
      </if>
      <if test="zindex != null" >
        zindex = #{zindex,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        bgcolor = #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="opacity != null" >
        opacity = #{opacity,jdbcType=INTEGER},
      </if>
      <if test="intervaltime != null" >
        intervaltime = #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=CHAR},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=CHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where layoutdtlid = #{layoutdtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Layoutdtl" >
    update layoutdtl
    set layoutid = #{layoutid,jdbcType=INTEGER},
      regionid = #{regionid,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      topoffset = #{topoffset,jdbcType=INTEGER},
      leftoffset = #{leftoffset,jdbcType=INTEGER},
      zindex = #{zindex,jdbcType=INTEGER},
      bgcolor = #{bgcolor,jdbcType=VARCHAR},
      opacity = #{opacity,jdbcType=INTEGER},
      intervaltime = #{intervaltime,jdbcType=INTEGER},
      direction = #{direction,jdbcType=CHAR},
      speed = #{speed,jdbcType=CHAR},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where layoutdtlid = #{layoutdtlid,jdbcType=INTEGER}
  </update>
</mapper>