<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.LocationMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Location" >
    <id column="locationid" property="locationid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="seqno" property="seqno" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="layout" property="layout" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatestaffid" property="updatestaffid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <association property="childrenCount" column="{parentid=locationid}" select="selectChildrenCount" />
    <collection property="children" ofType="com.broadvideo.pixsignage.domain.Location" column="{parentid=locationid,orgid=orgid}" select="selectChildren" />
  </resultMap>
    <resultMap id="BaseResultMap2" type="com.broadvideo.pixsignage.domain.Location" >
    <id column="locationid" property="locationid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="seqno" property="seqno" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="layout" property="layout" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatestaffid" property="updatestaffid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <association property="childrenCount" column="{parentid=locationid}" select="selectChildrenCount" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    locationid, uuid, parentid, seqno, level, name, code, description, layout, orgid, 
    createtime, createstaffid, updatetime, updatestaffid, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from location
    where locationid = #{locationid,jdbcType=INTEGER}
  </select>
   <select id="selectLocation" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from location
    where locationid = #{locationid,jdbcType=INTEGER}  and orgid=#{orgid} and status='1'
  </select>
  
  <select id="selectChildren" resultMap="BaseResultMap2">
     select 
         <include refid="Base_Column_List" />
    from location 
    where orgid=#{orgid} and status='1'  and parentid=#{parentid}
    order by seqno asc
  </select>
  <select id="selectAllLocations" resultMap="BaseResultMap">
    select 
         <include refid="Base_Column_List" />
    from location 
    where orgid=#{orgid} and status='1'   
  </select>
    <select id="selectChildrenCount" resultType="Integer" >
    select count(1) from location
    where status = 1 and parentid = #{parentid}
  </select>
  <select  id="existName" resultType="Integer">
    select count(1)  from location 
     where status='1' and orgid=#{orgid} and name=#{location.name}
       <if test="location.locationid != null" >
            and locationid !=#{location.locationid}
      </if>
      
  </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from location
    where locationid = #{locationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Location" >
    <selectKey resultType="java.lang.Integer" keyProperty="locationid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into location (uuid, parentid, seqno, 
      level, name, code, 
      description, layout, orgid, 
      createtime, createstaffid, updatetime, 
      updatestaffid, status)
    values (#{uuid,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{seqno,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{layout,jdbcType=VARCHAR}, #{orgid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updatestaffid,jdbcType=INTEGER}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Location" >
    <selectKey resultType="java.lang.Integer" keyProperty="locationid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="seqno != null" >
        seqno,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updatestaffid != null" >
        updatestaffid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="seqno != null" >
        #{seqno,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Location" >
    update location
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="seqno != null" >
        seqno = #{seqno,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where locationid = #{locationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Location" >
    update location
    set uuid = #{uuid,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      seqno = #{seqno,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      layout = #{layout,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where locationid = #{locationid,jdbcType=INTEGER}
  </update>
  <update id="updateLocation"   parameterType="com.broadvideo.pixsignage.domain.Location" >
    update location
	    <set >
		    
		      <if test="parentid != null" >
		        parentid = #{parentid,jdbcType=INTEGER},
		      </if>
		      <if test="seqno != null" >
		        seqno = #{seqno,jdbcType=INTEGER},
		      </if>
		      <if test="level != null" >
		        level = #{level,jdbcType=INTEGER},
		      </if>
		      <if test="name != null" >
		        name = #{name,jdbcType=VARCHAR},
		      </if>
		      <if test="code != null" >
		        code = #{code,jdbcType=VARCHAR},
		      </if>
		      <if test="description != null" >
		        description = #{description,jdbcType=VARCHAR},
		      </if>
		      <if test="layout != null" >
		        layout = #{layout,jdbcType=VARCHAR},
		      </if>
		      <if test="createtime != null" >
		        createtime = #{createtime,jdbcType=TIMESTAMP},
		      </if>
		      <if test="createstaffid != null" >
		        createstaffid = #{createstaffid,jdbcType=INTEGER},
		      </if>
		      <if test="updatetime != null" >
		        updatetime = #{updatetime,jdbcType=TIMESTAMP},
		      </if>
		      <if test="updatestaffid != null" >
		        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
		      </if>
		      <if test="status != null" >
		        status = #{status,jdbcType=CHAR},
		      </if>
	    </set>
    where locationid = #{locationid,jdbcType=INTEGER}  and orgid=#{orgid}
  </update>
</mapper>