<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.MeetingroomMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Meetingroom" >
    <id column="meetingroomid" property="meetingroomid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="locationid" property="locationid" jdbcType="INTEGER" />
    <result column="locationname" property="locationname" jdbcType="VARCHAR" />
    <result column="layout" property="layout" jdbcType="VARCHAR" />
    <result column="peoples" property="peoples" jdbcType="INTEGER" />
    <result column="openflag" property="openflag" jdbcType="CHAR" />
    <result column="auditflag" property="auditflag" jdbcType="CHAR" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatestaffid" property="updatestaffid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    meetingroomid, uuid, terminalid, code, name, description, locationid, layout, peoples, 
    openflag, auditflag, qrcode, orgid, createtime, createstaffid, updatetime, updatestaffid, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from meetingroom
    where meetingroomid = #{meetingroomid,jdbcType=INTEGER}
  </select>
  <select id="existNameCode" resultType="int">
  
	    select count(1) from  meetingroom
	    where orgid=#{orgid} and status='1'
	      <if test="meetingroomid != null" >
	            and meetingroomid !=#{meetingroomid}
	      </if>
	       <if test="name != null" >
	           and name=#{name}
	       </if>
	        <if test="locationid != null" >
	            and locationid=#{locationid}  
	        </if>
	       <if test="code != null" >
	           and code=#{code}
	       </if>
	       <if test="terminalid!=null">
	         and terminalid=#{terminalid}
	       </if>
       
  </select>
  <select id="selectList" resultMap="BaseResultMap" >
  
	 SELECT
		  mr.*,
		  l.name AS locationname
		FROM meetingroom mr
		  LEFT JOIN location l
		    ON (mr.locationid = l.locationid)
	  WHERE  mr.orgid = #{orgid} and mr.status='1' 
      <if test="locationid != null">
	      AND EXISTS (
		          SELECT
	                 1
	               FROM location l1
	                 LEFT JOIN location l2
	                   ON (l1.locationid = l2.parentid
	                       AND l2.status = '1')
	                 LEFT JOIN location l3
	                   ON (l3.parentid = l2.locationid
	                       AND l3.status = '1')
	                 LEFT JOIN location l4
	                   ON (l4.parentid = l3.locationid
	                       AND l4.status = '1')
	               WHERE l1.status = '1'
	                   AND l1.locationid =#{locationid}
	                   AND (l1.locationid = mr.locationid
	                         OR l2.locationid = mr.locationid
	                         OR l3.locationid = mr.locationid
	                         OR l4.locationid = mr.locationid
	                         )
                      )
	  </if> 
	  <if test="search!=null">
	     and (mr.name like #{search} or mr.description like #{search} )
	  </if>
	    order by mr.meetingroomid desc
  </select>
  
    <select id="selectList2" resultMap="BaseResultMap" >
  
	 SELECT
		  mr.*,
		  l.name AS locationname
		FROM meetingroom mr
		  LEFT JOIN location l
		    ON (mr.locationid = l.locationid)
	  WHERE  mr.orgid = #{orgid} and mr.status='1' 
      <if test="locationid != null">
	      AND EXISTS (
		          SELECT
	                 1
	               FROM location l1
	                 LEFT JOIN location l2
	                   ON (l1.locationid = l2.parentid
	                       AND l2.status = '1')
	                 LEFT JOIN location l3
	                   ON (l3.parentid = l2.locationid
	                       AND l3.status = '1')
	                 LEFT JOIN location l4
	                   ON (l4.parentid = l3.locationid
	                       AND l4.status = '1')
	               WHERE l1.status = '1'
	                   AND l1.locationid =#{locationid}
	                   AND (l1.locationid = mr.locationid
	                         OR l2.locationid = mr.locationid
	                         OR l3.locationid = mr.locationid
	                         OR l4.locationid = mr.locationid
	                         )
                      )
	  </if> 
	  <if test="search!=null">
	     and (mr.name like #{search} or mr.description like #{search} )
	  </if>
	  <if test="peoples!=null">
	    and mr.peoples>=#{peoples}
	  </if>
	  <if test="terminalid!=null">
	    and mr.terminalid=#{terminalid}
	  </if>
	    order by mr.meetingroomid desc
  </select>
  
  <select id="selectBindMeetingrooms" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
           <include refid="Base_Column_List" />
    from meetingroom 
    where orgid=#{orgid} and status='1' and  terminalid IS NOT NULL
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from meetingroom
    where meetingroomid = #{meetingroomid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Meetingroom" >
    <selectKey resultType="java.lang.Integer" keyProperty="meetingroomid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into meetingroom (uuid, terminalid, code, 
      name, description, locationid, 
      layout, peoples, openflag, 
      auditflag, qrcode, orgid, 
      createtime, createstaffid, updatetime, 
      updatestaffid, status)
    values (#{uuid,jdbcType=VARCHAR}, #{terminalid,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{locationid,jdbcType=INTEGER}, 
      #{layout,jdbcType=VARCHAR}, #{peoples,jdbcType=INTEGER}, #{openflag,jdbcType=CHAR}, 
      #{auditflag,jdbcType=CHAR}, #{qrcode,jdbcType=VARCHAR}, #{orgid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updatestaffid,jdbcType=INTEGER}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Meetingroom" >
    <selectKey resultType="java.lang.Integer" keyProperty="meetingroomid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into meetingroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="terminalid != null" >
        terminalid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="locationid != null" >
        locationid,
      </if>
      <if test="layout != null" >
        layout,
      </if>
      <if test="peoples != null" >
        peoples,
      </if>
      <if test="openflag != null" >
        openflag,
      </if>
      <if test="auditflag != null" >
        auditflag,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updatestaffid != null" >
        updatestaffid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="terminalid != null" >
        #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null" >
        #{locationid,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        #{layout,jdbcType=VARCHAR},
      </if>
      <if test="peoples != null" >
        #{peoples,jdbcType=INTEGER},
      </if>
      <if test="openflag != null" >
        #{openflag,jdbcType=CHAR},
      </if>
      <if test="auditflag != null" >
        #{auditflag,jdbcType=CHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Meetingroom" >
    update meetingroom
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null" >
        locationid = #{locationid,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="peoples != null" >
        peoples = #{peoples,jdbcType=INTEGER},
      </if>
      <if test="openflag != null" >
        openflag = #{openflag,jdbcType=CHAR},
      </if>
      <if test="auditflag != null" >
        auditflag = #{auditflag,jdbcType=CHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where meetingroomid = #{meetingroomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Meetingroom" >
    update meetingroom
    set uuid = #{uuid,jdbcType=VARCHAR},
      terminalid = #{terminalid,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      locationid = #{locationid,jdbcType=INTEGER},
      layout = #{layout,jdbcType=VARCHAR},
      peoples = #{peoples,jdbcType=INTEGER},
      openflag = #{openflag,jdbcType=CHAR},
      auditflag = #{auditflag,jdbcType=CHAR},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where meetingroomid = #{meetingroomid,jdbcType=INTEGER}
  </update>
  <update id="updateMeetingroom" parameterType="com.broadvideo.pixsignage.domain.Meetingroom" >
    update meetingroom
    <set > 
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="auditflag != null" >
        auditflag = #{auditflag,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null" >
        locationid = #{locationid,jdbcType=INTEGER},
      </if>
      <if test="layout != null" >
        layout = #{layout,jdbcType=VARCHAR},
      </if>
      <if test="peoples != null" >
        peoples = #{peoples,jdbcType=INTEGER},
      </if>
      <if test="openflag != null" >
        openflag = #{openflag,jdbcType=CHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestaffid != null" >
        updatestaffid = #{updatestaffid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where meetingroomid = #{meetingroomid,jdbcType=INTEGER}  and orgid=#{orgid}
  </update>
</mapper>