<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.MonthlyplaylogMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Monthlyplaylog" >
    <id column="monthlyplaylogid" property="monthlyplaylogid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="mediatype" property="mediatype" jdbcType="CHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="playmonth" property="playmonth" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="persons" property="persons" jdbcType="INTEGER" />
    <result column="male" property="male" jdbcType="INTEGER" />
    <result column="female" property="female" jdbcType="INTEGER" />
    <result column="age1" property="age1" jdbcType="INTEGER" />
    <result column="age2" property="age2" jdbcType="INTEGER" />
    <result column="age3" property="age3" jdbcType="INTEGER" />
    <result column="age4" property="age4" jdbcType="INTEGER" />
    <result column="age5" property="age5" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    monthlyplaylogid, orgid, branchid, deviceid, mediatype, mediaid, playmonth, total, persons, male, female, 
    age1, age2, age3, age4, age5, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from monthlyplaylog
    where monthlyplaylogid = #{monthlyplaylogid}
  </select>
  
  <select id="selectByDetail" resultMap="BaseResultMap" >
    select * from monthlyplaylog
    where deviceid=#{deviceid}
    and mediatype = #{mediatype}
    and mediaid = #{mediaid}
    and playmonth = #{month}
  </select>
  
  <resultMap id="StatResultMap" type="java.util.HashMap">
    <result column="mediatype" property="mediatype" jdbcType="CHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="dcount" property="dcount" jdbcType="INTEGER" />
    <result column="persons" property="persons" jdbcType="INTEGER" />
    <result column="age1" property="age1" jdbcType="INTEGER" />
    <result column="age2" property="age2" jdbcType="INTEGER" />
    <result column="age3" property="age3" jdbcType="INTEGER" />
    <result column="age4" property="age4" jdbcType="INTEGER" />
    <result column="age5" property="age5" jdbcType="INTEGER" />
    <association property="video" column="{mediatype=mediatype,videoid=mediaid}" select="selectVideoid" />
    <association property="image" column="{mediatype=mediatype,imageid=mediaid}" select="selectImageid" />
  </resultMap>
  <select id="selectVideoid" resultType="java.util.HashMap" >
    select * from video
    where '${mediatype}' = '1' and videoid = #{videoid}
  </select>
  <select id="selectImageid" resultType="java.util.HashMap" >
    select * from image
    where '${mediatype}' = '2' and imageid = #{imageid}
  </select>
  <select id="statAll" resultMap="StatResultMap">
    select mediatype, mediaid, 
    sum(total) as amount, 
    count(distinct deviceid) as dcount,
    sum(persons) as persons, 
    sum(age1) as age1, 
    sum(age2) as age2, 
    sum(age3) as age3, 
    sum(age4) as age4, 
    sum(age5) as age5
    from monthlyplaylog
    where orgid = #{orgid}
    <if test="branchid != null">
      and branchid = #{branchid}
    </if>
    group by mediatype, mediaid
    order by amount desc
    <if test="length != null">
      limit 0, ${length}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from monthlyplaylog
    where monthlyplaylogid = #{monthlyplaylogid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Monthlyplaylog" >
    <selectKey resultType="java.lang.Integer" keyProperty="monthlyplaylogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monthlyplaylog (orgid, branchid, deviceid, 
      mediatype, mediaid, playmonth, 
      total, persons, male, female, 
      age1, age2, age3, age4, 
      age5, createtime)
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, 
      #{mediatype,jdbcType=CHAR}, #{mediaid,jdbcType=INTEGER}, #{playmonth,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{persons,jdbcType=INTEGER}, #{male,jdbcType=INTEGER}, #{female,jdbcType=INTEGER}, 
      #{age1,jdbcType=INTEGER}, #{age2,jdbcType=INTEGER}, #{age3,jdbcType=INTEGER}, #{age4,jdbcType=INTEGER}, 
      #{age5,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Monthlyplaylog" >
    <selectKey resultType="java.lang.Integer" keyProperty="monthlyplaylogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monthlyplaylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="mediatype != null" >
        mediatype,
      </if>
      <if test="mediaid != null" >
        mediaid,
      </if>
      <if test="playmonth != null" >
        playmonth,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="persons != null" >
        persons,
      </if>
      <if test="male != null" >
        male,
      </if>
      <if test="female != null" >
        female,
      </if>
      <if test="age1 != null" >
        age1,
      </if>
      <if test="age2 != null" >
        age2,
      </if>
      <if test="age3 != null" >
        age3,
      </if>
      <if test="age4 != null" >
        age4,
      </if>
      <if test="age5 != null" >
        age5,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="playmonth != null" >
        #{playmonth,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="persons != null" >
        #{persons,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        #{female,jdbcType=INTEGER},
      </if>
      <if test="age1 != null" >
        #{age1,jdbcType=INTEGER},
      </if>
      <if test="age2 != null" >
        #{age2,jdbcType=INTEGER},
      </if>
      <if test="age3 != null" >
        #{age3,jdbcType=INTEGER},
      </if>
      <if test="age4 != null" >
        #{age4,jdbcType=INTEGER},
      </if>
      <if test="age5 != null" >
        #{age5,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Monthlyplaylog" >
    update monthlyplaylog
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        mediatype = #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        mediaid = #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="playmonth != null" >
        playmonth = #{playmonth,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="persons != null" >
        persons = #{persons,jdbcType=INTEGER},
      </if>
      <if test="male != null" >
        male = #{male,jdbcType=INTEGER},
      </if>
      <if test="female != null" >
        female = #{female,jdbcType=INTEGER},
      </if>
      <if test="age1 != null" >
        age1 = #{age1,jdbcType=INTEGER},
      </if>
      <if test="age2 != null" >
        age2 = #{age2,jdbcType=INTEGER},
      </if>
      <if test="age3 != null" >
        age3 = #{age3,jdbcType=INTEGER},
      </if>
      <if test="age4 != null" >
        age4 = #{age4,jdbcType=INTEGER},
      </if>
      <if test="age5 != null" >
        age5 = #{age5,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where monthlyplaylogid = #{monthlyplaylogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Monthlyplaylog" >
    update monthlyplaylog
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      deviceid = #{deviceid,jdbcType=INTEGER},
      mediatype = #{mediatype,jdbcType=CHAR},
      mediaid = #{mediaid,jdbcType=INTEGER},
      playmonth = #{playmonth,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      persons = #{persons,jdbcType=INTEGER},
      male = #{male,jdbcType=INTEGER},
      female = #{female,jdbcType=INTEGER},
      age1 = #{age1,jdbcType=INTEGER},
      age2 = #{age2,jdbcType=INTEGER},
      age3 = #{age3,jdbcType=INTEGER},
      age4 = #{age4,jdbcType=INTEGER},
      age5 = #{age5,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where monthlyplaylogid = #{monthlyplaylogid,jdbcType=INTEGER}
  </update>
</mapper>