<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Org" >
    <id column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="vspid" property="vspid" jdbcType="INTEGER" />
    <result column="topbranchid" property="topbranchid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="bundleflag" property="bundleflag" jdbcType="CHAR" />
    <result column="pageflag" property="pageflag" jdbcType="CHAR" />
    <result column="reviewflag" property="reviewflag" jdbcType="CHAR" />
    <result column="touchflag" property="touchflag" jdbcType="CHAR" />
    <result column="liftflag" property="liftflag" jdbcType="CHAR" />
    <result column="calendarflag" property="calendarflag" jdbcType="CHAR" />
    <result column="sscreenflag" property="sscreenflag" jdbcType="CHAR" />
    <result column="mscreenflag" property="mscreenflag" jdbcType="CHAR" />
    <result column="flowrateflag" property="flowrateflag" jdbcType="CHAR" />
    <result column="tagflag" property="tagflag" jdbcType="CHAR" />
    <result column="diyflag" property="diyflag" jdbcType="CHAR" />
    <result column="meetingflag" property="meetingflag" jdbcType="CHAR" />
    <result column="videoflag" property="videoflag" jdbcType="CHAR" />
    <result column="imageflag" property="imageflag" jdbcType="CHAR" />
    <result column="textflag" property="textflag" jdbcType="CHAR" />
    <result column="streamflag" property="streamflag" jdbcType="CHAR" />
    <result column="dvbflag" property="dvbflag" jdbcType="CHAR" />
    <result column="videoinflag" property="videoinflag" jdbcType="CHAR" />
    <result column="widgetflag" property="widgetflag" jdbcType="CHAR" />
    <result column="expireflag" property="expireflag" jdbcType="CHAR" />
    <result column="expiretime" property="expiretime" jdbcType="TIMESTAMP" />
    <result column="maxdevices" property="maxdevices" jdbcType="INTEGER" />
    <result column="currentdevices" property="currentdevices" jdbcType="INTEGER" />
    <result column="currentdeviceidx" property="currentdeviceidx" jdbcType="INTEGER" />
    <result column="maxdevices1" property="maxdevices1" jdbcType="INTEGER" />
    <result column="maxdevices2" property="maxdevices2" jdbcType="INTEGER" />
    <result column="maxstorage" property="maxstorage" jdbcType="BIGINT" />
    <result column="currentstorage" property="currentstorage" jdbcType="BIGINT" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="backupvideoid" property="backupvideoid" jdbcType="INTEGER" />
    <result column="powerflag" property="powerflag" jdbcType="CHAR" />
    <result column="poweron" property="poweron" jdbcType="TIME" />
    <result column="poweroff" property="poweroff" jdbcType="TIME" />
    <result column="qrcodeflag" property="qrcodeflag" jdbcType="CHAR" />
    <result column="devicepassflag" property="devicepassflag" jdbcType="CHAR" />
    <result column="devicepass" property="devicepass" jdbcType="VARCHAR" />
    <result column="upgradeflag" property="upgradeflag" jdbcType="CHAR" />
    <result column="volumeflag" property="volumeflag" jdbcType="CHAR" />
    <result column="volume" property="volume" jdbcType="INTEGER" />
    <result column="timezone" property="timezone" jdbcType="VARCHAR" />
    <result column="apps" property="apps" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="backupvideo" column="{videoid=backupvideoid}" select="com.broadvideo.pixsignage.persistence.VideoMapper.selectByPrimaryKey" />
	<collection property="applist" ofType="com.broadvideo.pixsignage.domain.App" column="{ids=apps}" select="com.broadvideo.pixsignage.persistence.AppMapper.selectByIds" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    orgid, vspid, topbranchid, name, code, status, bundleflag, pageflag, reviewflag, touchflag, liftflag, 
    calendarflag, sscreenflag, mscreenflag, flowrateflag, tagflag, diyflag, meetingflag, videoflag, imageflag, textflag, 
    streamflag, dvbflag, videoinflag, widgetflag, expireflag, expiretime, maxdevices, currentdevices, currentdeviceidx, 
    maxdevices1, maxdevices2, maxstorage, currentstorage, copyright, description, backupvideoid, powerflag, 
    poweron, poweroff, qrcodeflag, devicepassflag, devicepass, upgradeflag, volumeflag, volume, timezone, 
    apps, logo, tags, createtime, createstaffid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select * from org
    where orgid = #{orgid}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org
    where status=1
    <if test="vspid != null" >
      and vspid = #{vspid}
    </if>
    <if test="orgid != null" >
      and orgid = #{orgid}
    </if>
    order by orgid desc 
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select * from org
    where status='1' and name = #{name} 
  </select>

  <select id="selectByCode" resultMap="BaseResultMap" >
    select * from org
    where status='1' and code = #{code}
  </select>
  
  <delete id="deleteByPrimaryKey" >
    update org set status='9'
    where orgid = #{orgid}
  </delete>

  <update id="updateCurrentdevices" >
    update org o, 
    (select count(1) as value, orgid from device where status='1' group by orgid) r 
    set o.currentdevices=r.value 
    where o.orgid=r.orgid and o.status=1
  </update>

  <update id="updateCurrentstorage" >
    update org o, 
    (select floor(coalesce(sum(size),0)/1048576) as value, orgid from video where status='1' group by orgid) r 
    set o.currentstorage=r.value 
    where o.orgid=r.orgid and o.status=1
  </update>

  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Org" >
    <selectKey resultType="java.lang.Integer" keyProperty="orgid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into org (vspid, topbranchid, name, 
      code, status, bundleflag, 
      pageflag, reviewflag, touchflag, 
      liftflag, calendarflag, sscreenflag, 
      mscreenflag, flowrateflag, tagflag, 
      diyflag, meetingflag, videoflag, 
      imageflag, textflag, streamflag, 
      dvbflag, videoinflag, widgetflag, 
      expireflag, expiretime, maxdevices, 
      currentdevices, currentdeviceidx, 
      maxdevices1, maxdevices2, 
      maxstorage, currentstorage, 
      copyright, description, backupvideoid, 
      powerflag, poweron, poweroff, 
      qrcodeflag, devicepassflag, devicepass, 
      upgradeflag, volumeflag, volume, 
      timezone, apps, logo, 
      tags, createtime, createstaffid)
    values (#{vspid,jdbcType=INTEGER}, #{topbranchid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{bundleflag,jdbcType=CHAR}, 
      #{pageflag,jdbcType=CHAR}, #{reviewflag,jdbcType=CHAR}, #{touchflag,jdbcType=CHAR}, 
      #{liftflag,jdbcType=CHAR}, #{calendarflag,jdbcType=CHAR}, #{sscreenflag,jdbcType=CHAR}, 
      #{mscreenflag,jdbcType=CHAR}, #{flowrateflag,jdbcType=CHAR}, #{tagflag,jdbcType=CHAR}, 
      #{diyflag,jdbcType=CHAR}, #{meetingflag,jdbcType=CHAR}, #{videoflag,jdbcType=CHAR}, 
      #{imageflag,jdbcType=CHAR}, #{textflag,jdbcType=CHAR}, #{streamflag,jdbcType=CHAR}, 
      #{dvbflag,jdbcType=CHAR}, #{videoinflag,jdbcType=CHAR}, #{widgetflag,jdbcType=CHAR}, 
      #{expireflag,jdbcType=CHAR}, #{expiretime,jdbcType=TIMESTAMP}, #{maxdevices,jdbcType=INTEGER}, 
      #{currentdevices,jdbcType=INTEGER}, #{currentdeviceidx,jdbcType=INTEGER}, 
      #{maxdevices1,jdbcType=INTEGER}, #{maxdevices2,jdbcType=INTEGER}, 
      #{maxstorage,jdbcType=BIGINT}, #{currentstorage,jdbcType=BIGINT}, 
      #{copyright,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{backupvideoid,jdbcType=INTEGER}, 
      #{powerflag,jdbcType=CHAR}, #{poweron,jdbcType=TIME}, #{poweroff,jdbcType=TIME}, 
      #{qrcodeflag,jdbcType=CHAR}, #{devicepassflag,jdbcType=CHAR}, #{devicepass,jdbcType=VARCHAR}, 
      #{upgradeflag,jdbcType=CHAR}, #{volumeflag,jdbcType=CHAR}, #{volume,jdbcType=INTEGER}, 
      #{timezone,jdbcType=VARCHAR}, #{apps,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Org" >
    <selectKey resultType="java.lang.Integer" keyProperty="orgid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vspid != null" >
        vspid,
      </if>
      <if test="topbranchid != null" >
        topbranchid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bundleflag != null" >
        bundleflag,
      </if>
      <if test="pageflag != null" >
        pageflag,
      </if>
      <if test="reviewflag != null" >
        reviewflag,
      </if>
      <if test="touchflag != null" >
        touchflag,
      </if>
      <if test="liftflag != null" >
        liftflag,
      </if>
      <if test="calendarflag != null" >
        calendarflag,
      </if>
      <if test="sscreenflag != null" >
        sscreenflag,
      </if>
      <if test="mscreenflag != null" >
        mscreenflag,
      </if>
      <if test="flowrateflag != null" >
        flowrateflag,
      </if>
      <if test="tagflag != null" >
        tagflag,
      </if>
      <if test="diyflag != null" >
        diyflag,
      </if>
      <if test="diyflag != null" >
        diyflag,
      </if>
      <if test="meetingflag != null" >
        meetingflag,
      </if>
      <if test="videoflag != null" >
        videoflag,
      </if>
      <if test="imageflag != null" >
        imageflag,
      </if>
      <if test="textflag != null" >
        textflag,
      </if>
      <if test="streamflag != null" >
        streamflag,
      </if>
      <if test="dvbflag != null" >
        dvbflag,
      </if>
      <if test="videoinflag != null" >
        videoinflag,
      </if>
      <if test="widgetflag != null" >
        widgetflag,
      </if>
      <if test="expireflag != null" >
        expireflag,
      </if>
      <if test="expiretime != null" >
        expiretime,
      </if>
      <if test="maxdevices != null" >
        maxdevices,
      </if>
      <if test="currentdevices != null" >
        currentdevices,
      </if>
      <if test="currentdeviceidx != null" >
        currentdeviceidx,
      </if>
      <if test="maxdevices1 != null" >
        maxdevices1,
      </if>
      <if test="maxdevices2 != null" >
        maxdevices2,
      </if>
      <if test="maxstorage != null" >
        maxstorage,
      </if>
      <if test="currentstorage != null" >
        currentstorage,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="backupvideoid != null" >
        backupvideoid,
      </if>
      <if test="powerflag != null" >
        powerflag,
      </if>
      <if test="poweron != null" >
        poweron,
      </if>
      <if test="poweroff != null" >
        poweroff,
      </if>
      <if test="qrcodeflag != null" >
        qrcodeflag,
      </if>
      <if test="devicepassflag != null" >
        devicepassflag,
      </if>
      <if test="devicepass != null" >
        devicepass,
      </if>
      <if test="upgradeflag != null" >
        upgradeflag,
      </if>
      <if test="volumeflag != null" >
        volumeflag,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="timezone != null" >
        timezone,
      </if>
      <if test="apps != null" >
        apps,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vspid != null" >
        #{vspid,jdbcType=INTEGER},
      </if>
      <if test="topbranchid != null" >
        #{topbranchid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="bundleflag != null" >
        #{bundleflag,jdbcType=CHAR},
      </if>
      <if test="pageflag != null" >
        #{pageflag,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="touchflag != null" >
        #{touchflag,jdbcType=CHAR},
      </if>
      <if test="liftflag != null" >
        #{liftflag,jdbcType=CHAR},
      </if>
      <if test="calendarflag != null" >
        #{calendarflag,jdbcType=CHAR},
      </if>
      <if test="sscreenflag != null" >
        #{sscreenflag,jdbcType=CHAR},
      </if>
      <if test="mscreenflag != null" >
        #{mscreenflag,jdbcType=CHAR},
      </if>
      <if test="flowrateflag != null" >
        #{flowrateflag,jdbcType=CHAR},
      </if>
      <if test="tagflag != null" >
        #{tagflag,jdbcType=CHAR},
      </if>
      <if test="diyflag != null" >
        #{diyflag,jdbcType=CHAR},
      </if>
      <if test="meetingflag != null" >
        #{meetingflag,jdbcType=CHAR},
      </if>
      <if test="videoflag != null" >
        #{videoflag,jdbcType=CHAR},
      </if>
      <if test="imageflag != null" >
        #{imageflag,jdbcType=CHAR},
      </if>
      <if test="textflag != null" >
        #{textflag,jdbcType=CHAR},
      </if>
      <if test="streamflag != null" >
        #{streamflag,jdbcType=CHAR},
      </if>
      <if test="dvbflag != null" >
        #{dvbflag,jdbcType=CHAR},
      </if>
      <if test="videoinflag != null" >
        #{videoinflag,jdbcType=CHAR},
      </if>
      <if test="widgetflag != null" >
        #{widgetflag,jdbcType=CHAR},
      </if>
      <if test="expireflag != null" >
        #{expireflag,jdbcType=CHAR},
      </if>
      <if test="expiretime != null" >
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxdevices != null" >
        #{maxdevices,jdbcType=INTEGER},
      </if>
      <if test="currentdevices != null" >
        #{currentdevices,jdbcType=INTEGER},
      </if>
      <if test="currentdeviceidx != null" >
        #{currentdeviceidx,jdbcType=INTEGER},
      </if>
      <if test="maxdevices1 != null" >
        #{maxdevices1,jdbcType=INTEGER},
      </if>
      <if test="maxdevices2 != null" >
        #{maxdevices2,jdbcType=INTEGER},
      </if>
      <if test="maxstorage != null" >
        #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="currentstorage != null" >
        #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="backupvideoid != null" >
        #{backupvideoid,jdbcType=INTEGER},
      </if>
      <if test="powerflag != null" >
        #{powerflag,jdbcType=CHAR},
      </if>
      <if test="poweron != null" >
        #{poweron,jdbcType=TIME},
      </if>
      <if test="poweroff != null" >
        #{poweroff,jdbcType=TIME},
      </if>
      <if test="qrcodeflag != null" >
        #{qrcodeflag,jdbcType=CHAR},
      </if>
      <if test="devicepassflag != null" >
        #{devicepassflag,jdbcType=CHAR},
      </if>
      <if test="devicepass != null" >
        #{devicepass,jdbcType=VARCHAR},
      </if>
      <if test="upgradeflag != null" >
        #{upgradeflag,jdbcType=CHAR},
      </if>
      <if test="volumeflag != null" >
        #{volumeflag,jdbcType=CHAR},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=INTEGER},
      </if>
      <if test="timezone != null" >
        #{timezone,jdbcType=VARCHAR},
      </if>
      <if test="apps != null" >
        #{apps,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Org" >
    update org
    <set >
      <if test="vspid != null" >
        vspid = #{vspid,jdbcType=INTEGER},
      </if>
      <if test="topbranchid != null" >
        topbranchid = #{topbranchid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="bundleflag != null" >
        bundleflag = #{bundleflag,jdbcType=CHAR},
      </if>
      <if test="pageflag != null" >
        pageflag = #{pageflag,jdbcType=CHAR},
      </if>
      <if test="reviewflag != null" >
        reviewflag = #{reviewflag,jdbcType=CHAR},
      </if>
      <if test="touchflag != null" >
        touchflag = #{touchflag,jdbcType=CHAR},
      </if>
      <if test="liftflag != null" >
        liftflag = #{liftflag,jdbcType=CHAR},
      </if>
      <if test="calendarflag != null" >
        calendarflag = #{calendarflag,jdbcType=CHAR},
      </if>
      <if test="sscreenflag != null" >
        sscreenflag = #{sscreenflag,jdbcType=CHAR},
      </if>
      <if test="mscreenflag != null" >
        mscreenflag = #{mscreenflag,jdbcType=CHAR},
      </if>
      <if test="flowrateflag != null" >
        flowrateflag = #{flowrateflag,jdbcType=CHAR},
      </if>
      <if test="tagflag != null" >
        tagflag = #{tagflag,jdbcType=CHAR},
      </if>
      <if test="diyflag != null" >
        diyflag = #{diyflag,jdbcType=CHAR},
      </if>
      <if test="meetingflag != null" >
        meetingflag = #{meetingflag,jdbcType=CHAR},
      </if>
      <if test="videoflag != null" >
        videoflag = #{videoflag,jdbcType=CHAR},
      </if>
      <if test="imageflag != null" >
        imageflag = #{imageflag,jdbcType=CHAR},
      </if>
      <if test="textflag != null" >
        textflag = #{textflag,jdbcType=CHAR},
      </if>
      <if test="streamflag != null" >
        streamflag = #{streamflag,jdbcType=CHAR},
      </if>
      <if test="dvbflag != null" >
        dvbflag = #{dvbflag,jdbcType=CHAR},
      </if>
      <if test="videoinflag != null" >
        videoinflag = #{videoinflag,jdbcType=CHAR},
      </if>
      <if test="widgetflag != null" >
        widgetflag = #{widgetflag,jdbcType=CHAR},
      </if>
      <if test="expireflag != null" >
        expireflag = #{expireflag,jdbcType=CHAR},
      </if>
      <if test="expiretime != null" >
        expiretime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxdevices != null" >
        maxdevices = #{maxdevices,jdbcType=INTEGER},
      </if>
      <if test="currentdevices != null" >
        currentdevices = #{currentdevices,jdbcType=INTEGER},
      </if>
      <if test="currentdeviceidx != null" >
        currentdeviceidx = #{currentdeviceidx,jdbcType=INTEGER},
      </if>
      <if test="maxdevices1 != null" >
        maxdevices1 = #{maxdevices1,jdbcType=INTEGER},
      </if>
      <if test="maxdevices2 != null" >
        maxdevices2 = #{maxdevices2,jdbcType=INTEGER},
      </if>
      <if test="maxstorage != null" >
        maxstorage = #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="currentstorage != null" >
        currentstorage = #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="backupvideoid != null" >
        backupvideoid = #{backupvideoid,jdbcType=INTEGER},
      </if>
      <if test="powerflag != null" >
        powerflag = #{powerflag,jdbcType=CHAR},
      </if>
      <if test="poweron != null" >
        poweron = #{poweron,jdbcType=TIME},
      </if>
      <if test="poweroff != null" >
        poweroff = #{poweroff,jdbcType=TIME},
      </if>
      <if test="qrcodeflag != null" >
        qrcodeflag = #{qrcodeflag,jdbcType=CHAR},
      </if>
      <if test="devicepassflag != null" >
        devicepassflag = #{devicepassflag,jdbcType=CHAR},
      </if>
      <if test="devicepass != null" >
        devicepass = #{devicepass,jdbcType=VARCHAR},
      </if>
      <if test="upgradeflag != null" >
        upgradeflag = #{upgradeflag,jdbcType=CHAR},
      </if>
      <if test="volumeflag != null" >
        volumeflag = #{volumeflag,jdbcType=CHAR},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=INTEGER},
      </if>
      <if test="timezone != null" >
        timezone = #{timezone,jdbcType=VARCHAR},
      </if>
      <if test="apps != null" >
        apps = #{apps,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Org" >
    update org
    set vspid = #{vspid,jdbcType=INTEGER},
      topbranchid = #{topbranchid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      bundleflag = #{bundleflag,jdbcType=CHAR},
      pageflag = #{pageflag,jdbcType=CHAR},
      reviewflag = #{reviewflag,jdbcType=CHAR},
      touchflag = #{touchflag,jdbcType=CHAR},
      liftflag = #{liftflag,jdbcType=CHAR},
      calendarflag = #{calendarflag,jdbcType=CHAR},
      sscreenflag = #{sscreenflag,jdbcType=CHAR},
      mscreenflag = #{mscreenflag,jdbcType=CHAR},
      flowrateflag = #{flowrateflag,jdbcType=CHAR},
      tagflag = #{tagflag,jdbcType=CHAR},
      diyflag = #{diyflag,jdbcType=CHAR},
      meetingflag = #{meetingflag,jdbcType=CHAR},
      videoflag = #{videoflag,jdbcType=CHAR},
      imageflag = #{imageflag,jdbcType=CHAR},
      textflag = #{textflag,jdbcType=CHAR},
      streamflag = #{streamflag,jdbcType=CHAR},
      dvbflag = #{dvbflag,jdbcType=CHAR},
      videoinflag = #{videoinflag,jdbcType=CHAR},
      widgetflag = #{widgetflag,jdbcType=CHAR},
      expireflag = #{expireflag,jdbcType=CHAR},
      expiretime = #{expiretime,jdbcType=TIMESTAMP},
      maxdevices = #{maxdevices,jdbcType=INTEGER},
      currentdevices = #{currentdevices,jdbcType=INTEGER},
      currentdeviceidx = #{currentdeviceidx,jdbcType=INTEGER},
      maxdevices1 = #{maxdevices1,jdbcType=INTEGER},
      maxdevices2 = #{maxdevices2,jdbcType=INTEGER},
      maxstorage = #{maxstorage,jdbcType=BIGINT},
      currentstorage = #{currentstorage,jdbcType=BIGINT},
      copyright = #{copyright,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      backupvideoid = #{backupvideoid,jdbcType=INTEGER},
      powerflag = #{powerflag,jdbcType=CHAR},
      poweron = #{poweron,jdbcType=TIME},
      poweroff = #{poweroff,jdbcType=TIME},
      qrcodeflag = #{qrcodeflag,jdbcType=CHAR},
      devicepassflag = #{devicepassflag,jdbcType=CHAR},
      devicepass = #{devicepass,jdbcType=VARCHAR},
      upgradeflag = #{upgradeflag,jdbcType=CHAR},
      volumeflag = #{volumeflag,jdbcType=CHAR},
      volume = #{volume,jdbcType=INTEGER},
      timezone = #{timezone,jdbcType=VARCHAR},
      apps = #{apps,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>
</mapper>