<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.PeriodtimedtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Periodtimedtl" >
    <id column="periodtimedtlid" property="periodtimedtlid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="periodnum" property="periodnum" jdbcType="INTEGER" />
    <result column="periodname" property="periodname" jdbcType="VARCHAR" />
    <result column="shortstarttime" property="shortstarttime" jdbcType="VARCHAR" />
    <result column="shortendtime" property="shortendtime" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="coursescheduleschemeid" property="coursescheduleschemeid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createpsnid" property="createpsnid" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatepsnid" property="updatepsnid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    periodtimedtlid, type, periodnum, periodname, shortstarttime, shortendtime, duration, 
    coursescheduleschemeid, orgid, createtime, createpsnid, updatetime, updatepsnid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from periodtimedtl
    where periodtimedtlid = #{periodtimedtlid,jdbcType=INTEGER}
  </select>
  <select id="selectPeriodTimeDtls"  resultMap="BaseResultMap">
   select 
      <include refid="Base_Column_List" />
   from  periodtimedtl
   where coursescheduleschemeid=#{coursescheduleschemeid} and orgid=#{orgid}
  
  </select>
  <select id="countPeriodDtlsBy" resultType="Integer">
   
    select count(1)  from  periodtimedtl 
    where coursescheduleschemeid=#{coursescheduleschemeid} and orgid=#{orgid}
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from periodtimedtl
    where periodtimedtlid = #{periodtimedtlid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Periodtimedtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="periodtimedtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into periodtimedtl (type, periodnum, periodname, 
      shortstarttime, shortendtime, duration, 
      coursescheduleschemeid, orgid, createtime, 
      createpsnid, updatetime, updatepsnid
      )
    values (#{type,jdbcType=CHAR}, #{periodnum,jdbcType=INTEGER}, #{periodname,jdbcType=VARCHAR}, 
      #{shortstarttime,jdbcType=VARCHAR}, #{shortendtime,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, 
      #{coursescheduleschemeid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createpsnid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{updatepsnid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Periodtimedtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="periodtimedtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into periodtimedtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="periodnum != null" >
        periodnum,
      </if>
      <if test="periodname != null" >
        periodname,
      </if>
      <if test="shortstarttime != null" >
        shortstarttime,
      </if>
      <if test="shortendtime != null" >
        shortendtime,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="coursescheduleschemeid != null" >
        coursescheduleschemeid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createpsnid != null" >
        createpsnid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updatepsnid != null" >
        updatepsnid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="periodnum != null" >
        #{periodnum,jdbcType=INTEGER},
      </if>
      <if test="periodname != null" >
        #{periodname,jdbcType=VARCHAR},
      </if>
      <if test="shortstarttime != null" >
        #{shortstarttime,jdbcType=VARCHAR},
      </if>
      <if test="shortendtime != null" >
        #{shortendtime,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="coursescheduleschemeid != null" >
        #{coursescheduleschemeid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpsnid != null" >
        #{createpsnid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatepsnid != null" >
        #{updatepsnid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Periodtimedtl" >
    update periodtimedtl
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="periodnum != null" >
        periodnum = #{periodnum,jdbcType=INTEGER},
      </if>
      <if test="periodname != null" >
        periodname = #{periodname,jdbcType=VARCHAR},
      </if>
      <if test="shortstarttime != null" >
        shortstarttime = #{shortstarttime,jdbcType=VARCHAR},
      </if>
      <if test="shortendtime != null" >
        shortendtime = #{shortendtime,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="coursescheduleschemeid != null" >
        coursescheduleschemeid = #{coursescheduleschemeid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpsnid != null" >
        createpsnid = #{createpsnid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatepsnid != null" >
        updatepsnid = #{updatepsnid,jdbcType=INTEGER},
      </if>
    </set>
    where periodtimedtlid = #{periodtimedtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Periodtimedtl" >
    update periodtimedtl
    set type = #{type,jdbcType=CHAR},
      periodnum = #{periodnum,jdbcType=INTEGER},
      periodname = #{periodname,jdbcType=VARCHAR},
      shortstarttime = #{shortstarttime,jdbcType=VARCHAR},
      shortendtime = #{shortendtime,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      coursescheduleschemeid = #{coursescheduleschemeid,jdbcType=INTEGER},
      orgid = #{orgid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createpsnid = #{createpsnid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatepsnid = #{updatepsnid,jdbcType=INTEGER}
    where periodtimedtlid = #{periodtimedtlid,jdbcType=INTEGER}
  </update>
</mapper>