<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.PflowlogMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Pflowlog" >
    <id column="pflowlogid" property="pflowlogid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pflowlogid, orgid, branchid, deviceid, starttime, endtime, duration, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from pflowlog
    where pflowlogid = #{pflowlogid}
  </select>
  
  <resultMap id="DeviceStatResultMap" type="java.util.HashMap">
    <result column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="onlineflag" property="onlineflag" jdbcType="CHAR" />
    <association property="amount1" column="{deviceid=deviceid}" select="selectHour1Amount" />
    <association property="amount2" column="{deviceid=deviceid}" select="selectHour2Amount" />
    <association property="amount3" column="{deviceid=deviceid}" select="selectDay1Amount" />
    <association property="amount4" column="{deviceid=deviceid}" select="selectDay2Amount" />
  </resultMap>
  <select id="selectHour1Amount" resultType="Integer">
    select count(1) from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d%H') = date_format(now(),'%Y%m%d%H')
  </select>
  <select id="selectHour2Amount" resultType="Integer">
    select count(1) from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d%H') = date_format(date_sub(now(), interval 1 hour),'%Y%m%d%H')
  </select>
  <select id="selectDay1Amount" resultType="Integer">
    select count(1) from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d') = date_format(now(),'%Y%m%d')
  </select>
  <select id="selectDay2Amount" resultType="Integer">
    select count(1) from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d') = date_format(date_sub(now(), interval 1 day),'%Y%m%d')
  </select>

  <select id="selectDeviceStatCount" resultType="Integer">
    select count(1) from device
    where status = '1' 
    and orgid = #{orgid}
    <if test="branchid != null">
      and branchid = #{branchid}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
  </select>
  <select id="selectDeviceStatList" resultMap="DeviceStatResultMap">
    select deviceid, terminalid, name, onlineflag from device
    where status = '1' 
    and orgid = #{orgid}
    <if test="branchid != null">
      and branchid = #{branchid}
    </if>
    <if test="search != null">
      and (terminalid like #{search} or name like #{search})
    </if>
    order by deviceid
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <resultMap id="StatResultMap" type="java.util.HashMap">
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <select id="statByDay" resultMap="StatResultMap" >
    select date_format(starttime,'%d') as sequence, date_format(starttime,'%Y%m%d') as period, count(1) as amount
    from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m') = #{month}
    group by period
    order by period
  </select>
  <select id="statByHour" resultMap="StatResultMap" >
    select date_format(starttime,'%H') as sequence, date_format(starttime,'%Y%m%d%H') as period, count(1) as amount
    from pflowlog
    where deviceid = #{deviceid}
    and date_format(starttime,'%Y%m%d') = #{day}
    group by period
    order by period
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from pflowlog
    where pflowlogid = #{pflowlogid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Pflowlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="pflowlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pflowlog (orgid, branchid, deviceid, 
      starttime, endtime, duration, 
      createtime)
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{duration,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Pflowlog" >
    <selectKey resultType="java.lang.Integer" keyProperty="pflowlogid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pflowlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Pflowlog" >
    update pflowlog
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pflowlogid = #{pflowlogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Pflowlog" >
    update pflowlog
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      deviceid = #{deviceid,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where pflowlogid = #{pflowlogid,jdbcType=INTEGER}
  </update>
</mapper>