<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.PlaylistdtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Playlistdtl" >
    <id column="playlistdtlid" property="playlistdtlid" jdbcType="INTEGER" />
    <result column="playlistid" property="playlistid" jdbcType="INTEGER" />
    <result column="videoid" property="videoid" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <association property="video" column="{videoid=videoid}" select="com.broadvideo.pixsignage.persistence.VideoMapper.selectByPrimaryKey" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    playlistdtlid, playlistid, videoid, sequence
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from playlistdtl
    where playlistdtlid = '${playlistdtlid}'
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from playlistdtl
    where playlistid = '${playlistid}'
    order by sequence
  </select>
  
  <delete id="deleteByPrimaryKey" >
    delete from playlistdtl
    where playlistdtlid = '${playlistdtlid}'
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Playlistdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="playlistdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into playlistdtl (playlistid, videoid, 
      sequence)
    values (#{playlistid,jdbcType=INTEGER}, #{videoid,jdbcType=INTEGER}, 
      #{sequence,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Playlistdtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="playlistdtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into playlistdtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="playlistid != null" >
        playlistid,
      </if>
      <if test="videoid != null" >
        videoid,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="playlistid != null" >
        #{playlistid,jdbcType=INTEGER},
      </if>
      <if test="videoid != null" >
        #{videoid,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Playlistdtl" >
    update playlistdtl
    <set >
      <if test="playlistid != null" >
        playlistid = #{playlistid,jdbcType=INTEGER},
      </if>
      <if test="videoid != null" >
        videoid = #{videoid,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where playlistdtlid = #{playlistdtlid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Playlistdtl" >
    update playlistdtl
    set playlistid = #{playlistid,jdbcType=INTEGER},
      videoid = #{videoid,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER}
    where playlistdtlid = #{playlistdtlid,jdbcType=INTEGER}
  </update>
</mapper>