<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Role" >
    <id column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="subsystem" property="subsystem" jdbcType="CHAR" />
    <result column="vspid" property="vspid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="createstaff" column="{staffid=createstaffid}" select="com.broadvideo.pixsignage.persistence.StaffMapper.selectNameByPrimaryKey" />
    <collection property="privileges" ofType="com.broadvideo.pixsignage.domain.Privilege" column="{roleid=roleid}" select="com.broadvideo.pixsignage.persistence.PrivilegeMapper.selectByRole" />
  </resultMap>

  <sql id="Base_Column_List" >
    roleid, subsystem, vspid, orgid, name, createtime, createstaffid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select * from role
    where roleid = '${roleid}'
  </select>

  <select id="selectByStaff" resultMap="BaseResultMap">
    select r.*
    from role r, staffrole sr
    where r.roleid = sr.roleid and sr.staffid = #{staffid}
  </select>
  
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where subsystem = #{subsystem}
    <if test="vspid != null" >
      and vspid = #{vspid}
    </if>
    <if test="orgid != null" >
      and orgid = #{orgid}
    </if>
    order by roleid desc 
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from role
    where roleid = '${roleid}'
  </delete>

  <delete id="deleteStaffroleByRoles">
    delete from staffrole
    where roleid in (#{ids})
  </delete>

  <delete id="deleteRoleprivilegeByRoles">
    delete from roleprivilege
    where roleid in (#{ids})
  </delete>

  <insert id="insertRoleprivilege">
    insert into roleprivilege (roleid, privilegeid)
    values (#{roleid}, #{privilegeid})
  </insert>

  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role (subsystem, vspid, orgid, 
      name, createtime, createstaffid
      )
    values (#{subsystem,jdbcType=CHAR}, #{vspid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subsystem != null" >
        subsystem,
      </if>
      <if test="vspid != null" >
        vspid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subsystem != null" >
        #{subsystem,jdbcType=CHAR},
      </if>
      <if test="vspid != null" >
        #{vspid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Role" >
    update role
    <set >
      <if test="subsystem != null" >
        subsystem = #{subsystem,jdbcType=CHAR},
      </if>
      <if test="vspid != null" >
        vspid = #{vspid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Role" >
    update role
    set subsystem = #{subsystem,jdbcType=CHAR},
      vspid = #{vspid,jdbcType=INTEGER},
      orgid = #{orgid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>