<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.ScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Schedule" >
    <id column="scheduleid" property="scheduleid" jdbcType="INTEGER" />
    <result column="bindtype" property="bindtype" jdbcType="CHAR" />
    <result column="bindid" property="bindid" jdbcType="INTEGER" />
    <result column="scheduletype" property="scheduletype" jdbcType="CHAR" />
    <result column="attachflag" property="attachflag" jdbcType="CHAR" />
    <result column="playmode" property="playmode" jdbcType="CHAR" />
    <result column="starttime" property="starttime" jdbcType="TIME" />
    <result column="endtime" property="endtime" jdbcType="TIME" />
    <result column="intervaltime" property="intervaltime" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	<collection property="scheduledtls" ofType="com.broadvideo.pixsignage.domain.Scheduledtl"
		column="{scheduleid=scheduleid}" select="com.broadvideo.pixsignage.persistence.ScheduledtlMapper.selectList" />
  </resultMap>

  <resultMap id="BindResultMap" type="java.util.HashMap" >
    <result column="bindtype" property="bindtype" jdbcType="CHAR" />
    <result column="bindid" property="bindid" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    scheduleid, bindtype, bindid, scheduletype, attachflag, playmode, starttime, endtime, intervaltime, 
    createtime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduleid = #{scheduleid}
  </select>

  <select id="selectListByDevice" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduletype = 1
    and attachflag = 0
    and bindtype = 1 
    and bindid = #{deviceid}
    order by starttime
  </select>

  <select id="selectAttachListByDevice" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduletype = 1
    and attachflag = 1
    and bindtype = 1 
    and bindid = #{deviceid}
    order by starttime
  </select>

  <select id="selectListByDevicegroup" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where attachflag = 0
    and bindtype = 2 
    and bindid = #{devicegroupid}
    order by starttime
  </select>

  <select id="selectAttachListByDevicegroup" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where attachflag = 1
    and bindtype = 2 
    and bindid = #{devicegroupid}
    order by starttime
  </select>

  <select id="selectListByDevicegrid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduletype = 2
    and bindtype = 3 
    and bindid = #{devicegridid}
    order by starttime
  </select>

  <select id="selectList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where scheduletype = #{scheduletype} 
    <if test="attachflag != null">
      and attachflag = #{attachflag} 
    </if>
    and bindtype = #{bindtype} 
    and bindid = #{bindid}
    <if test="playmode != null">
      and playmode = #{playmode}
    </if>
    order by starttime
  </select>
  
  <select id="selectBindListByObj" resultMap="BindResultMap" >
    select 
    distinct bindtype, bindid
    from schedule s, scheduledtl sd
    where s.scheduleid = sd.scheduleid
    and sd.objtype = #{objtype}
    and sd.objid = #{objid}
  </select>
  
  <delete id="deleteByPrimaryKey">
    delete from schedule
    where scheduleid = #{scheduleid}
  </delete>

  <delete id="deleteByDtl" >
    delete from schedule
    where scheduletype = #{scheduletype} 
    <if test="attachflag != null">
      and attachflag = #{attachflag} 
    </if>
    and bindtype = #{bindtype} 
    and bindid = #{bindid}
    <if test="playmode != null">
      and playmode = #{playmode}
    </if>
    <if test="starttime != null">
      and starttime = #{starttime}
    </if>
  </delete>

  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Schedule" >
    <selectKey resultType="java.lang.Integer" keyProperty="scheduleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into schedule (bindtype, bindid, scheduletype, 
      attachflag, 
      playmode, starttime, endtime, 
      intervaltime, createtime)
    values (#{bindtype,jdbcType=CHAR}, #{bindid,jdbcType=INTEGER}, #{scheduletype,jdbcType=CHAR}, 
      #{attachflag,jdbcType=CHAR}, 
      #{playmode,jdbcType=CHAR}, #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME}, 
      #{intervaltime,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Schedule" >
    <selectKey resultType="java.lang.Integer" keyProperty="scheduleid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bindtype != null" >
        bindtype,
      </if>
      <if test="bindid != null" >
        bindid,
      </if>
      <if test="scheduletype != null" >
        scheduletype,
      </if>
      <if test="attachflag != null" >
        attachflag,
      </if>
      <if test="playmode != null" >
        playmode,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="intervaltime != null" >
        intervaltime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bindtype != null" >
        #{bindtype,jdbcType=CHAR},
      </if>
      <if test="bindid != null" >
        #{bindid,jdbcType=INTEGER},
      </if>
      <if test="scheduletype != null" >
        #{scheduletype,jdbcType=CHAR},
      </if>
      <if test="attachflag != null" >
        #{attachflag,jdbcType=CHAR},
      </if>
      <if test="playmode != null" >
        #{playmode,jdbcType=CHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIME},
      </if>
      <if test="intervaltime != null" >
        #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Schedule" >
    update schedule
    <set >
      <if test="bindtype != null" >
        bindtype = #{bindtype,jdbcType=CHAR},
      </if>
      <if test="bindid != null" >
        bindid = #{bindid,jdbcType=INTEGER},
      </if>
      <if test="scheduletype != null" >
        scheduletype = #{scheduletype,jdbcType=CHAR},
      </if>
      <if test="attachflag != null" >
        attachflag = #{attachflag,jdbcType=CHAR},
      </if>
      <if test="playmode != null" >
        playmode = #{playmode,jdbcType=CHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIME},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIME},
      </if>
      <if test="intervaltime != null" >
        intervaltime = #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where scheduleid = #{scheduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Schedule" >
    update schedule
    set bindtype = #{bindtype,jdbcType=CHAR},
      bindid = #{bindid,jdbcType=INTEGER},
      scheduletype = #{scheduletype,jdbcType=CHAR},
      attachflag = #{attachflag,jdbcType=CHAR},
      playmode = #{playmode,jdbcType=CHAR},
      starttime = #{starttime,jdbcType=TIME},
      endtime = #{endtime,jdbcType=TIME},
      intervaltime = #{intervaltime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where scheduleid = #{scheduleid,jdbcType=INTEGER}
  </update>
</mapper>