<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.SmartboxMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Smartbox" >
    <id column="smartboxid" property="smartboxid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="qrcodeid" property="qrcodeid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="doorversion" property="doorversion" jdbcType="VARCHAR" />
    <result column="stocknum" property="stocknum" jdbcType="INTEGER" />
    <result column="extra" property="extra" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    smartboxid, orgid, terminalid, qrcodeid, name, description, doorversion, stocknum, 
    extra, createtime, status
  </sql>
  <select id="selectList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from smartbox
    where   orgid=#{orgid} and status='1'
     <if test="search!=null">
        and ( name like #{search} or terminalid like #{search} )
     </if>
     order by smartboxid desc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from smartbox
    where smartboxid = #{smartboxid,jdbcType=INTEGER}  and status='1'
  </select>
  <select id="selectByTerminalid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from smartbox
    where terminalid=#{terminalid} and orgid=#{orgid} and status='1'
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from smartbox
    where smartboxid = #{smartboxid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Smartbox" >
    <selectKey resultType="java.lang.Integer" keyProperty="smartboxid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into smartbox (orgid, terminalid, qrcodeid, 
      name, description, doorversion, 
      stocknum, extra, createtime, 
      status)
    values (#{orgid,jdbcType=INTEGER}, #{terminalid,jdbcType=VARCHAR}, #{qrcodeid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{doorversion,jdbcType=VARCHAR}, 
      #{stocknum,jdbcType=INTEGER}, #{extra,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Smartbox" >
    <selectKey resultType="java.lang.Integer" keyProperty="smartboxid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into smartbox
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="terminalid != null" >
        terminalid,
      </if>
      <if test="qrcodeid != null" >
        qrcodeid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="doorversion != null" >
        doorversion,
      </if>
      <if test="stocknum != null" >
        stocknum,
      </if>
      <if test="extra != null" >
        extra,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeid != null" >
        #{qrcodeid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="doorversion != null" >
        #{doorversion,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null" >
        #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Smartbox" >
    update smartbox
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeid != null" >
        qrcodeid = #{qrcodeid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="doorversion != null" >
        doorversion = #{doorversion,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null" >
        stocknum = #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where smartboxid = #{smartboxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Smartbox" >
    update smartbox
    set orgid = #{orgid,jdbcType=INTEGER},
      terminalid = #{terminalid,jdbcType=VARCHAR},
      qrcodeid = #{qrcodeid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      doorversion = #{doorversion,jdbcType=VARCHAR},
      stocknum = #{stocknum,jdbcType=INTEGER},
      extra = #{extra,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where smartboxid = #{smartboxid,jdbcType=INTEGER}
  </update>
</mapper>