<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Staff">
    <id column="staffid" property="staffid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="subsystem" property="subsystem" jdbcType="CHAR" />
    <result column="vspid" property="vspid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="loginname" property="loginname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="sourcetype" property="sourcetype" jdbcType="CHAR" />
    <result column="sourceid" property="sourceid" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="loginflag" property="loginflag" jdbcType="CHAR" />
    <result column="logintime" property="logintime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.broadvideo.pixsignage.domain.Staff" extends="BaseResultMap">
    <association property="vsp" column="{vspid=vspid}" select="com.broadvideo.pixsignage.persistence.VspMapper.selectByPrimaryKey" />
    <association property="org" column="{orgid=orgid}" select="com.broadvideo.pixsignage.persistence.OrgMapper.selectByPrimaryKey" />
    <association property="branch" column="{branchid=branchid}" select="com.broadvideo.pixsignage.persistence.BranchMapper.selectBaseByPrimaryKey" />
    <collection property="privileges" ofType="com.broadvideo.pixsignage.domain.Privilege"
      column="{staffid=staffid}" select="com.broadvideo.pixsignage.persistence.PrivilegeMapper.selectByStaff" />
    <collection property="roles" ofType="com.broadvideo.pixsignage.domain.Role"
      column="{staffid=staffid}" select="com.broadvideo.pixsignage.persistence.RoleMapper.selectByStaff" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    staffid, uuid, subsystem, vspid, orgid, branchid, loginname, phone, password, name, email, 
    status, token, description, createtime, createstaffid, loginflag, logintime, sourcetype, 
    sourceid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where staffid = #{staffid}
  </select>

  <select id="selectNameByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where staffid = #{staffid}
  </select>

  <select id="selectCount" resultType="Integer">
    select count(1) from staff
    where status = '1' 
    and subsystem = #{subsystem}
    and sourcetype = '1'
    <if test="vspid != null" >
      and vspid = #{vspid}
    </if>
    <if test="orgid != null" >
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      and exists (select 1 from branch b 
        where b.branchid=staff.branchid 
        and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
    </if>
    <if test="search != null">
      and (loginname like #{search} or name like #{search})
    </if>
  </select>

  <select id="selectList" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status = '1'
    and subsystem = #{subsystem}
    and sourcetype = '1'
    <if test="vspid != null" >
      and vspid = #{vspid}
    </if>
    <if test="orgid != null" >
      and orgid = #{orgid}
    </if>
    <if test="branchid != null">
      and exists (select 1 from branch b 
        where b.branchid=staff.branchid 
        and (b.branchid=#{branchid} or b.parentid=#{branchid} or b.parentid2=#{branchid} or b.parentid3=#{branchid}) )
    </if>
    <if test="search != null">
      and (loginname like #{search} or name like #{search})
    </if>
    order by staffid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>
  
  <select id="selectBranchStaffs"  resultMap="BaseResultMap">
    select
       <include refid="Base_Column_List" />
    from staff
    where status = '1'
    and subsystem = '2'
    and sourcetype = '1'
    and orgid = #{orgid}
    and branchid=#{branchid}
    order by staffid desc 
  </select>

  <select id="selectByLoginname" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' 
    and loginname = #{loginname}
  </select>

  <select id="selectByToken" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' 
    and token = #{token}
  </select>

  <select id="selectBySource" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' 
    and sourcetype = #{sourcetype}
    and sourceid = #{sourceid}
  </select>

  <select id="login" resultMap="FullResultMap">
    select *
    from staff
    where loginname=#{loginname} 
    and password=#{password}
    and status='1'
  </select>
  
  <select id="select2cByLoginname" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' 
    and vspid=#{vspid}
    and loginname = #{loginname}
  </select>

  <select id="select2cByPhone" resultMap="FullResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' 
    and vspid=#{vspid}
    and phone = #{phone}
  </select>

  <select id="login2c" resultMap="FullResultMap">
    select *
    from staff
    where vspid=#{vspid} 
    and loginname=#{loginname} 
    and password=#{password}
    and status='1'
  </select>
  
  <select  id="selectByUuid"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where status='1' and uuid=#{uuid} and orgid=#{orgid}
  </select>

  <update id="changeBranch" >
    update staff
    set branchid = #{branchid2} 
    where branchid = #{branchid1}
  </update>

  <delete id="deleteByPrimaryKey" >
    update staff set status='9'
    where staffid = #{staffid}
  </delete>
  
  <delete id="deleteByOrg" >
    update staff set status='9'
    where orgid = #{orgid}
  </delete>
  
  <delete id="deleteByVsp" >
    update staff set status='9'
    where vspid = #{vspid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Staff" >
    <selectKey resultType="java.lang.Integer" keyProperty="staffid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staff (uuid, subsystem, vspid, 
      orgid, branchid, loginname, phone, 
      password, name, email, 
      status, token, description, 
      createtime, createstaffid, loginflag, 
      logintime, sourcetype, sourceid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{subsystem,jdbcType=CHAR}, #{vspid,jdbcType=INTEGER}, 
      #{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{token,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, #{loginflag,jdbcType=CHAR}, 
      #{logintime,jdbcType=TIMESTAMP}, #{sourcetype,jdbcType=CHAR}, #{sourceid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Staff" >
    <selectKey resultType="java.lang.Integer" keyProperty="staffid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="subsystem != null" >
        subsystem,
      </if>
      <if test="vspid != null" >
        vspid,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="loginname != null" >
        loginname,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="sourcetype != null" >
        sourcetype,
      </if>
      <if test="sourceid != null" >
        sourceid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="loginflag != null" >
        loginflag,
      </if>
      <if test="logintime != null" >
        logintime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="subsystem != null" >
        #{subsystem,jdbcType=CHAR},
      </if>
      <if test="vspid != null" >
        #{vspid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null" >
        #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="loginflag != null" >
        #{loginflag,jdbcType=CHAR},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Staff" >
    update staff
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="subsystem != null" >
        subsystem = #{subsystem,jdbcType=CHAR},
      </if>
      <if test="vspid != null" >
        vspid = #{vspid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null" >
        sourcetype = #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="sourceid != null" >
        sourceid = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="loginflag != null" >
        loginflag = #{loginflag,jdbcType=CHAR},
      </if>
      <if test="logintime != null" >
        logintime = #{logintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where staffid = #{staffid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Staff" >
    update staff
    set uuid = #{uuid,jdbcType=VARCHAR},
      subsystem = #{subsystem,jdbcType=CHAR},
      vspid = #{vspid,jdbcType=INTEGER},
      orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      loginname = #{loginname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      token = #{token,jdbcType=VARCHAR},
      sourcetype = #{sourcetype,jdbcType=CHAR},
      sourceid = #{sourceid,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      loginflag = #{loginflag,jdbcType=CHAR},
      logintime = #{logintime,jdbcType=TIMESTAMP}
    where staffid = #{staffid,jdbcType=INTEGER}
  </update>

  <delete id="clearStaffPrivileges" parameterType="com.broadvideo.pixsignage.domain.Staff">
    delete from staffprivilege
    where staffid = #{staff.staffid}
  </delete>

  <insert id="assignStaffPrivileges">
    insert into staffprivilege(staffid, privilegeid) values 
    <foreach collection="privileges" item="item"  separator=",">
      (#{staff.staffid}, #{item.privilegeid})
    </foreach>
  </insert>

  <delete id="clearStaffRoles" parameterType="com.broadvideo.pixsignage.domain.Staff">
    delete from staffrole
    where staffid = #{staff.staffid}
  </delete>

  <insert id="assignStaffRoles">
    insert into staffrole(staffid, roleid) values 
    <foreach collection="roles" item="item"  separator=",">
      (#{staff.staffid}, #{item.roleid})
    </foreach>
  </insert>

</mapper>