<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Student" >
    <id column="studentid" property="studentid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="schoolclassid" property="schoolclassid" jdbcType="INTEGER" />
    <result column="schoolclassname" property="schoolclassname" jdbcType="INTEGER" />
    <result column="studentno" property="studentno" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hardid" property="hardid" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    studentid, orgid, schoolclassid, studentno, name, hardid, avatar, createtime, createstaffid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from student
    where studentid =${studentid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from student
    where orgid = #{orgid}
    <if test="schoolclassid != null">
      and schoolclassid = #{schoolclassid}
    </if>
    <if test="search != null">
      and ( st.name like #{search} or st.studentno like #{search}  or st.hardid like #{search} or sc.name like #{search})
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select st.*,IFNULL(sc.name,'') as schoolclassname   
    from student st left join schoolclass sc 
    on st.schoolclassid=sc.schoolclassid
    where st.orgid = #{orgid}
    <if test="schoolclassid != null">
      and st.schoolclassid = #{schoolclassid}
    </if>
    <if test="search != null">
      and ( st.name like #{search} or st.studentno like #{search}  or st.hardid like #{search} or sc.name like #{search})
    </if>
    order by st.studentid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>
  
  
  <select id="countBy"  resultType="Integer">
    select count(1)  from  student 
    where orgid=#{orgid} 
     <if test="excludeid != null" >
       and  studentid != #{excludeid}
      </if>
      <if test="studentno != null" >
       and  studentno = #{studentno}
      </if>
      <if test="hardid != null" >
       and  hardid = #{hardid}
      </if>
  </select>
  <select  id="selectSchoolclassStudents"  resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from student
    where orgid=#{orgid} and schoolclassid=#{schoolclassid}
  </select>
  
  
  <delete id="deleteByPrimaryKey" >
    delete from student
    where studentid = #{studentid} and orgid=#{orgid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Student" >
    <selectKey resultType="java.lang.Integer" keyProperty="studentid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (orgid, schoolclassid, studentno, 
      name, hardid, avatar, 
      createtime, createstaffid)
    values (#{orgid,jdbcType=INTEGER}, #{schoolclassid,jdbcType=INTEGER}, #{studentno,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{hardid,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Student" >
    <selectKey resultType="java.lang.Integer" keyProperty="studentid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="schoolclassid != null" >
        schoolclassid,
      </if>
      <if test="studentno != null" >
        studentno,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="hardid != null" >
        hardid,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="schoolclassid != null" >
        #{schoolclassid,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hardid != null" >
        #{hardid,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Student" >
    update student
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="schoolclassid != null" >
        schoolclassid = #{schoolclassid,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        studentno = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hardid != null" >
        hardid = #{hardid,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where studentid = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Student" >
    update student
    set orgid = #{orgid,jdbcType=INTEGER},
      schoolclassid = #{schoolclassid,jdbcType=INTEGER},
      studentno = #{studentno,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      hardid = #{hardid,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where studentid = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>