<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Video" >
    <id column="videoid" property="videoid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="folderid" property="folderid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="oname" property="oname" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="previewflag" property="previewflag" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="progress" property="progress" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="relateid" property="relateid" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="relateimage" column="{imageid=relateid}" select="com.broadvideo.pixsignage.persistence.ImageMapper.selectRelateImage" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    videoid, orgid, branchid, folderid, name, oname, uuid, type, width, height, format, filepath, 
    filename, size, md5, previewflag, status, progress, description, 
    thumbnail, relateid, tags, createtime, createstaffid
  </sql>
  
  <select id="selectRelateVideo" resultMap="BaseResultMap" >
    select videoid, orgid, branchid, folderid, name, oname, uuid, type, width, height, format, filepath, 
    filename, size, md5, previewflag, status, progress, description, 
    thumbnail, 0 as relateid, tags, createtime, createstaffid
    from video
    where videoid = #{videoid}
    and status != '9'
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from video
    where videoid = #{videoid}
  </select>

  <select id="selectCount" resultType="Integer">
    select count(1) from video 
    where status = 1
    <if test="orgid != null">
      and orgid=#{orgid}
    </if>
    <if test="branchid != null">
      and branchid=#{branchid}
    </if>
    <if test="folderid != null">
      and folderid=#{folderid}
    </if>
    <if test="type != null">
      and type=#{type}
    </if>
    <if test="previewflag != null">
      and previewflag=#{previewflag}
    </if>
    <if test="format != null">
      and format=#{format}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from video
    where status=1 
    <if test="orgid != null">
      and orgid=#{orgid}
    </if>
    <if test="branchid != null">
      and branchid=#{branchid}
    </if>
    <if test="folderid != null">
      and folderid=#{folderid}
    </if>
    <if test="type != null">
      and type=#{type}
    </if>
    <if test="previewflag != null">
      and previewflag=#{previewflag}
    </if>
    <if test="format != null">
      and format=#{format}
    </if>
    <if test="search != null">
      and name like #{search}
    </if>
    order by videoid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from video
    where uuid = #{uuid}
  </select>

  <delete id="deleteByPrimaryKey" >
    update video
    set status='9'
    where videoid = #{videoid}
  </delete>

  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Video" >
    <selectKey resultType="java.lang.Integer" keyProperty="videoid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into video (orgid, branchid, folderid, 
      name, oname, uuid, type, 
      width, height, format, filepath, 
      filename, size, md5, 
      previewflag, status, progress, 
      description, thumbnail, 
      relateid, tags, createtime, 
      createstaffid
      )
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{folderid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{oname,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{format,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{md5,jdbcType=VARCHAR}, 
      #{previewflag,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{progress,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{relateid,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createstaffid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Video" >
    <selectKey resultType="java.lang.Integer" keyProperty="videoid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="folderid != null" >
        folderid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="oname != null" >
        oname,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="previewflag != null" >
        previewflag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="progress != null" >
        progress,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="relateid != null" >
        relateid,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="folderid != null" >
        #{folderid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oname != null" >
        #{oname,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="previewflag != null" >
        #{previewflag,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="relateid != null" >
        #{relateid,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Video" >
    update video
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="folderid != null" >
        folderid = #{folderid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oname != null" >
        oname = #{oname,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="previewflag != null" >
        previewflag = #{previewflag,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="relateid != null" >
        relateid = #{relateid,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
    </set>
    where videoid = #{videoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Video" >
    update video
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      folderid = #{folderid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      oname = #{oname,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      format = #{format,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      md5 = #{md5,jdbcType=VARCHAR},
      previewflag = #{previewflag,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      progress = #{progress,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      relateid = #{relateid,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where videoid = #{videoid,jdbcType=INTEGER}
  </update>
</mapper>