<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.pixsignage.persistence.WxdeviceapplyMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.pixsignage.domain.Wxdeviceapply" >
    <id column="wxdeviceapplyid" property="wxdeviceapplyid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="applytime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="applyid" property="applyid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="audittime" property="audittime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    wxdeviceapplyid, orgid, name, count, reason, applytime, applyid, status, comment, audittime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from wxdeviceapply
    where wxdeviceapplyid = #{wxdeviceapplyid}
  </select>
  
  <select id="selectCount" resultType="Integer">
    select count(1) from wxdeviceapply
    where orgid = #{orgid}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from wxdeviceapply
    where orgid = #{orgid}
    order by wxdeviceapplyid desc
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" >
    delete from wxdeviceapply
    where wxdeviceapplyid = #{wxdeviceapplyid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.pixsignage.domain.Wxdeviceapply" >
    <selectKey resultType="java.lang.Integer" keyProperty="wxdeviceapplyid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wxdeviceapply (orgid, name, count, 
      reason, applytime, applyid, status, 
      comment, audittime)
    values (#{orgid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{reason,jdbcType=VARCHAR}, #{applytime,jdbcType=TIMESTAMP}, #{applyid,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{comment,jdbcType=VARCHAR}, #{audittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.pixsignage.domain.Wxdeviceapply" >
    <selectKey resultType="java.lang.Integer" keyProperty="wxdeviceapplyid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wxdeviceapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="applytime != null" >
        applytime,
      </if>
      <if test="applyid != null" >
        applyid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="audittime != null" >
        audittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyid != null" >
        #{applyid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.pixsignage.domain.Wxdeviceapply" >
    update wxdeviceapply
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        applytime = #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyid != null" >
        applyid = #{applyid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        audittime = #{audittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wxdeviceapplyid = #{wxdeviceapplyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.pixsignage.domain.Wxdeviceapply" >
    update wxdeviceapply
    set orgid = #{orgid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      applytime = #{applytime,jdbcType=TIMESTAMP},
      applyid = #{applyid,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      comment = #{comment,jdbcType=VARCHAR},
      audittime = #{audittime,jdbcType=TIMESTAMP}
    where wxdeviceapplyid = #{wxdeviceapplyid,jdbcType=INTEGER}
  </update>
</mapper>