/*考勤页面样式*/
.attendance {
    overflow: auto;
}

.opacity {
    opacity: 0.2;
}

.attendance-item {
    float: left;
    margin: 5px;
    background-color: #C2DACB;
    box-shadow: 5px 5px 10px #444;
    width: 105px;
    height: 133px;
    position: relative;
}

.attendance-item .attendance-avatar {
    float: left;
    width: 105px;
    height: 113px;
    position: relative;
    overflow: hidden;
}

.attendance-item .attendance-avatar img {
    background: #333;
    width: 105px;
    height: 113px;
    top: 0;
    left: 0;
    position: absolute;
}

.attendance-item .attendance-info {
    _margin-bottom: 3px;
    padding-left: 0px;
    width: 105px;
    line-height: 20px;
    color: #EA7500;
}

.attendance-item .attendance-info p {
    width: 105px;
    font-size: 14px;
    text-align: center;
}

.attendance-popup {
    width: 420px;
    height: 532px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) !important;
    box-shadow: 0 0 5px #bfbfbf;
    z-index: 500;
}

.attendance-popup .attendance-avatar {
    float: left;
    width: 420px;
    height: 452px;
    position: relative;
    overflow: hidden;
}

.attendance-popup .attendance-avatar img {
    background: #333;
    width: 420px;
    height: 452px;
    top: 0;
    left: 0;
    position: absolute;
}

.attendance-popup .attendance-info {
    _margin-bottom: 3px;
    padding-left: 0px;
    width: 420px;
    line-height: 80px;
    color: #EA7500;
}

.attendance-popup .attendance-info p {
    width: 420px;
    font-size: 56px;
    text-align: center;
}

/*calendar list style*/
.calendar-list {
    font-size: 20px !important;
}

.calendar-list .fc-list-item.current {
    background-color: #FF3860;
    border-color: #FF3860;
    animation: colorCycle 5s infinite linear alternate;
}
@-webkit-keyframes colorCycle {
    0% {
        color: yellow;
    }
    50% {
        color: green;
    }
    100% {
        color: blue;
    }
}

/*calendar table style*/
.calendar-table {
    font-size: 20px !important;
}

.calendar-table .fc-event.before {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #666666 !important;
}

.calendar-table .fc-event.after {
    background-color: #22C65B;
    border-color: #22C65B;
    color: #ffffff !important;
}

.calendar-table .fc-event.current {
    background-color: #FF3860;
    border-color: #FF3860;
    animation: colorCycle 5s infinite linear alternate;
}

/*家校互动页面样式*/
.home-school-table {
    border: none;
    border-collapse: collapse;
}

.home-school-table tr {
    border-top: solid 1px #bfbfbf;
    border-bottom: solid 1px #bfbfbf;
    border-left: none;
    border-right: none;
}

.home-school-avatar > img {
    height: 48px;
    border-radius: 50%;
}

.home-school-name {
    font-size: 18px;
    color: indianred;
}

.home-school-message {
    padding-left: 10px;
    font-size: 18px;
}

.home-school-ts {
    padding-left: 10px;
    font-size: 14px;
    color: #666666;
}

.home-school-popup {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 5px #bfbfbf;
    z-index: 500;
    padding: 10px;
}

.home-school-popup table{
    width: 580px;
}


