<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Config" >
    <id column="configid" property="configid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="refer" property="refer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    configid, code, name, value, type, refer
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from config
    where configid = #{configid,jdbcType=INTEGER}
  </select>
  
  <select id="selectList" resultMap="BaseResultMap">
    select * from config
    where type = '1'
    order by configid 
  </select>

  <select id="selectByCode" resultMap="BaseResultMap">
    select * from config
    where code = '${code}'
  </select>

  <select id="selectValueByCode" resultType="java.lang.String" >
    select value from config
    where code = '${code}'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from config
    where configid = #{configid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.signage.domain.Config" >
    <selectKey resultType="java.lang.Integer" keyProperty="configid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (code, name, value, 
      type, refer)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{refer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Config" >
    <selectKey resultType="java.lang.Integer" keyProperty="configid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="refer != null" >
        refer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="refer != null" >
        #{refer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Config" >
    update config
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="refer != null" >
        refer = #{refer,jdbcType=VARCHAR},
      </if>
    </set>
    where configid = #{configid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Config" >
    update config
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      refer = #{refer,jdbcType=VARCHAR}
    where configid = #{configid,jdbcType=INTEGER}
  </update>
</mapper>