<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Device" >
    <id column="deviceid" property="deviceid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="terminalid" property="terminalid" jdbcType="VARCHAR" />
    <result column="hardkey" property="hardkey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="schedulestatus" property="schedulestatus" jdbcType="CHAR" />
    <result column="filestatus" property="filestatus" jdbcType="CHAR" />
    <result column="configstatus" property="configstatus" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="onlineflag" property="onlineflag" jdbcType="CHAR" />
    <result column="onlinelayoutid" property="onlinelayoutid" jdbcType="INTEGER" />
    <result column="onlinemediaid" property="onlinemediaid" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="upgradeversion" property="upgradeversion" jdbcType="VARCHAR" />
    <result column="upgradestatus" property="upgradestatus" jdbcType="CHAR" />
    <result column="lastservertime" property="lastservertime" jdbcType="TIMESTAMP" />
    <result column="lastlocaltime" property="lastlocaltime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="groupcode" property="groupcode" jdbcType="VARCHAR" />
    <result column="metrotype" property="metrotype" jdbcType="CHAR" />
    <result column="metrolineid" property="metrolineid" jdbcType="INTEGER" />
    <result column="metrostationid" property="metrostationid" jdbcType="INTEGER" />
    <result column="metroplatformid" property="metroplatformid" jdbcType="INTEGER" />
    <result column="metrodirection" property="metrodirection" jdbcType="CHAR" />
    <association property="metroline" column="{metrolineid=metrolineid}" select="com.broadvideo.signage.persistence.MetrolineMapper.selectByPrimaryKey" />
    <association property="metrostation" column="{metrostationid=metrostationid}" select="com.broadvideo.signage.persistence.MetrostationMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List" >
    deviceid, orgid, branchid, terminalid, hardkey, name, position, ip, mac, schedulestatus, filestatus, configstatus, 
    status, description, createtime, onlineflag, onlinelayoutid, onlinemediaid, rate, version, upgradeversion, 
    upgradestatus, lastservertime, lastlocaltime, type, groupcode, 
    metrotype, metrolineid, metrostationid, metroplatformid, metrodirection
    
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select * from device
    where deviceid = '${deviceid}'
  </select>

  <select id="selectCount" resultType="Integer">
    select count(1) from device where status = 1 and orgid=${orgid} and branchid=${branchid}
    <if test="metrolineid != null">
      and metrolineid='${metrolineid}'
    </if>
    <if test="metrostationid != null">
      and metrostationid='${metrostationid}'
    </if>
    <if test="metrotype != null">
      and metrotype='${metrotype}'
    </if>
    <if test="metrodirection != null">
      and metrodirection='${metrodirection}'
    </if>
    <if test="search != null">
      and (terminalid like '%${search}%' or name like '%${search}%' or position like '%${search}%')
    </if>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select * from device
    where status=1 and orgid=#{orgid} and branchid=#{branchid}
    <if test="metrolineid != null">
      and metrolineid='${metrolineid}'
    </if>
    <if test="metrostationid != null">
      and metrostationid='${metrostationid}'
    </if>
    <if test="metrotype != null">
      and metrotype='${metrotype}'
    </if>
    <if test="metrodirection != null">
      and metrodirection='${metrodirection}'
    </if>
    <if test="search != null">
      and (terminalid like '%${search}%' or name like '%${search}%' or position like '%${search}%')
    </if>
    order by deviceid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectUnregisterCount" resultType="Integer">
    select count(1) from device where status != 1 and orgid=${orgid}
    <if test="search != null">
      and terminalid like '%${search}%'
    </if>
  </select>

  <select id="selectUnregisterList" resultMap="BaseResultMap">
    select * from device
    where status!=1 and orgid=#{orgid}
    <if test="search != null">
      and terminalid like '%${search}%'
    </if>
    order by terminalid 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <select id="selectByDeviceGroup" resultMap="BaseResultMap">
    select d.* from device d, devicegroupdtl dgd
    where d.status=1 and d.deviceid=dgd.deviceid and dgd.devicegroupid=${devicegroupid}
    order by dgd.devicegroupdtlid desc 
  </select>

  <select id="selectByLayout" resultMap="BaseResultMap">
    select d.* from device d, schedule s
    where d.status=1 and d.deviceid=s.deviceid and s.layoutid=${layoutid} and UNIX_TIMESTAMP(s.todate) > UNIX_TIMESTAMP()
    order by d.deviceid desc 
  </select>

  <select id="selectByHardkey" resultMap="BaseResultMap">
    select * from device
    where status=1 and hardkey='${hardkey}'
  </select>

  <select id="selectByTerminalid" resultMap="BaseResultMap">
    select * from device
    where terminalid='${terminalid}'
    order by deviceid desc
  </select>

  <select id="selectByOrgtype" resultMap="BaseResultMap">
    select d.* from device d, org o
    where d.orgid=o.orgid and o.orgtype='${orgtype}' and d.status='1'
    order by deviceid desc
  </select>

  <select id="selectAvailCountByDeviceGroup" resultType="Integer">
    select count(1) from device d left join devicegroupdtl dgd 
    on d.deviceid=dgd.deviceid and dgd.devicegroupid=${devicegroupid} 
    where d.orgid=${orgid} and d.branchid=${branchid} 
    and dgd.devicegroupid is null
  </select>

  <select id="selectAvailListByDeviceGroup" resultMap="BaseResultMap">
    select d.* from device d left join devicegroupdtl dgd 
    on d.deviceid=dgd.deviceid and dgd.devicegroupid=${devicegroupid}
    where d.orgid=${orgid} and d.branchid=${branchid} 
    and dgd.devicegroupid is null
    order by d.deviceid desc 
    <if test="start != null and length != null">
      limit ${start}, ${length}
    </if>
  </select>

  <delete id="deleteByKeys">
    update device set status='9'
    where deviceid in (#{ids})
  </delete>

  <update id="updateOnlineflag" >
    update device d, org o
    set d.onlineflag=9 
    where d.orgid=o.orgid and o.orgtype!='2' and d.lastservertime is null or (unix_timestamp()-unix_timestamp(d.lastservertime)>300)
  </update>

  <update id="updateConfigstatus" >
    update device 
    set configstatus=1 
    where orgid=${orgid}
  </update>

  <insert id="insertList">
    insert into device(orgid, branchid, terminalid, name, status) 
    values 
    <foreach collection="devices" item="item"  separator=",">
      (#{item.orgid}, 
      #{item.branchid}, 
      #{item.terminalid}, 
      #{item.name}, 
      #{item.status})
    </foreach>
  </insert>
  
  <insert id="insert" parameterType="com.broadvideo.signage.domain.Device" >
    <selectKey resultType="java.lang.Integer" keyProperty="deviceid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device (orgid, branchid, terminalid, 
      hardkey, name, position, 
      ip, mac, schedulestatus, filestatus, 
      configstatus, status, description, 
      createtime, onlineflag, onlinelayoutid, 
      onlinemediaid, rate, 
      version, upgradeversion, upgradestatus, 
      lastservertime, lastlocaltime, type, 
      groupcode, metrotype, metrolineid, 
      metrostationid, metroplatformid, metrodirection)
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{terminalid,jdbcType=VARCHAR}, 
      #{hardkey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{schedulestatus,jdbcType=CHAR}, #{filestatus,jdbcType=CHAR}, 
      #{configstatus,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{onlineflag,jdbcType=CHAR}, #{onlinelayoutid,jdbcType=INTEGER}, 
      #{onlinemediaid,jdbcType=INTEGER}, #{rate,jdbcType=INTEGER}, 
      #{version,jdbcType=VARCHAR}, #{upgradeversion,jdbcType=VARCHAR}, #{upgradestatus,jdbcType=CHAR}, 
      #{lastservertime,jdbcType=TIMESTAMP}, #{lastlocaltime,jdbcType=TIMESTAMP}, #{type,jdbcType=CHAR}, 
      #{groupcode,jdbcType=VARCHAR}, #{metrotype,jdbcType=CHAR}, #{metrolineid,jdbcType=INTEGER}, 
      #{metrostationid,jdbcType=INTEGER}, #{metroplatformid,jdbcType=INTEGER}, #{metrodirection,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Device" >
    <selectKey resultType="java.lang.Integer" keyProperty="deviceid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="terminalid != null" >
        terminalid,
      </if>
      <if test="hardkey != null" >
        hardkey,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="schedulestatus != null" >
        schedulestatus,
      </if>
      <if test="filestatus != null" >
        filestatus,
      </if>
      <if test="configstatus != null" >
        configstatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="onlineflag != null" >
        onlineflag,
      </if>
      <if test="onlinelayoutid != null" >
        onlinelayoutid,
      </if>
      <if test="onlinemediaid != null" >
        onlinemediaid,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="upgradeversion != null" >
        upgradeversion,
      </if>
      <if test="upgradestatus != null" >
        upgradestatus,
      </if>
      <if test="lastservertime != null" >
        lastservertime,
      </if>
      <if test="lastlocaltime != null" >
        lastlocaltime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="groupcode != null" >
        groupcode,
      </if>
      <if test="metrotype != null" >
        metrotype,
      </if>
      <if test="metrolineid != null" >
        metrolineid,
      </if>
      <if test="metrostationid != null" >
        metrostationid,
      </if>
      <if test="metroplatformid != null" >
        metroplatformid,
      </if>
      <if test="metrodirection != null" >
        metrodirection,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="hardkey != null" >
        #{hardkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="schedulestatus != null" >
        #{schedulestatus,jdbcType=CHAR},
      </if>
      <if test="filestatus != null" >
        #{filestatus,jdbcType=CHAR},
      </if>
      <if test="configstatus != null" >
        #{configstatus,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="onlineflag != null" >
        #{onlineflag,jdbcType=CHAR},
      </if>
      <if test="onlinelayoutid != null" >
        #{onlinelayoutid,jdbcType=INTEGER},
      </if>
      <if test="onlinemediaid != null" >
        #{onlinemediaid,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="upgradeversion != null" >
        #{upgradeversion,jdbcType=VARCHAR},
      </if>
      <if test="upgradestatus != null" >
        #{upgradestatus,jdbcType=CHAR},
      </if>
      <if test="lastservertime != null" >
        #{lastservertime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlocaltime != null" >
        #{lastlocaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="groupcode != null" >
        #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="metrotype != null" >
        #{metrotype,jdbcType=CHAR},
      </if>
      <if test="metrolineid != null" >
        #{metrolineid,jdbcType=INTEGER},
      </if>
      <if test="metrostationid != null" >
        #{metrostationid,jdbcType=INTEGER},
      </if>
      <if test="metroplatformid != null" >
        #{metroplatformid,jdbcType=INTEGER},
      </if>
      <if test="metrodirection != null" >
        #{metrodirection,jdbcType=CHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Device" >
    update device
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="terminalid != null" >
        terminalid = #{terminalid,jdbcType=VARCHAR},
      </if>
      <if test="hardkey != null" >
        hardkey = #{hardkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="schedulestatus != null" >
        schedulestatus = #{schedulestatus,jdbcType=CHAR},
      </if>
      <if test="filestatus != null" >
        filestatus = #{filestatus,jdbcType=CHAR},
      </if>
      <if test="configstatus != null" >
        configstatus = #{configstatus,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="onlineflag != null" >
        onlineflag = #{onlineflag,jdbcType=CHAR},
      </if>
      <if test="onlinelayoutid != null" >
        onlinelayoutid = #{onlinelayoutid,jdbcType=INTEGER},
      </if>
      <if test="onlinemediaid != null" >
        onlinemediaid = #{onlinemediaid,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="upgradeversion != null" >
        upgradeversion = #{upgradeversion,jdbcType=VARCHAR},
      </if>
      <if test="upgradestatus != null" >
        upgradestatus = #{upgradestatus,jdbcType=CHAR},
      </if>
      <if test="lastservertime != null" >
        lastservertime = #{lastservertime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlocaltime != null" >
        lastlocaltime = #{lastlocaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="groupcode != null" >
        groupcode = #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="metrotype != null" >
        metrotype = #{metrotype,jdbcType=CHAR},
      </if>
      <if test="metrolineid != null" >
        metrolineid = #{metrolineid,jdbcType=INTEGER},
      </if>
      <if test="metrostationid != null" >
        metrostationid = #{metrostationid,jdbcType=INTEGER},
      </if>
      <if test="metroplatformid != null" >
        metroplatformid = #{metroplatformid,jdbcType=INTEGER},
      </if>
      <if test="metrodirection != null" >
        metrodirection = #{metrodirection,jdbcType=CHAR},
      </if>
      
    </set>
    where deviceid = #{deviceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Device" >
    update device
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      terminalid = #{terminalid,jdbcType=VARCHAR},
      hardkey = #{hardkey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      schedulestatus = #{schedulestatus,jdbcType=CHAR},
      filestatus = #{filestatus,jdbcType=CHAR},
      configstatus = #{configstatus,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      onlineflag = #{onlineflag,jdbcType=CHAR},
      onlinelayoutid = #{onlinelayoutid,jdbcType=INTEGER},
      onlinemediaid = #{onlinemediaid,jdbcType=INTEGER},
      rate = #{rate,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      upgradeversion = #{upgradeversion,jdbcType=VARCHAR},
      upgradestatus = #{upgradestatus,jdbcType=CHAR},
      lastservertime = #{lastservertime,jdbcType=TIMESTAMP},
      lastlocaltime = #{lastlocaltime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=CHAR},
      groupcode = #{groupcode,jdbcType=VARCHAR}, 
      metrotype = #{metrotype,jdbcType=VARCHAR}, 
      metrolineid = #{metrolineid,jdbcType=VARCHAR}, 
      metrostationid = #{metrostationid,jdbcType=VARCHAR}, 
      metroplatformid = #{metroplatformid,jdbcType=VARCHAR}, 
      metrodirection = #{metrodirection,jdbcType=VARCHAR}
    where deviceid = #{deviceid,jdbcType=INTEGER}
  </update>
</mapper>