<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.LayoutMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Layout" >
    <id column="layoutid" property="layoutid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="branchid" property="branchid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="xmlsize" property="xmlsize" jdbcType="INTEGER" />
    <result column="xmlmd5" property="xmlmd5" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="bgmediaid" property="bgmediaid" jdbcType="INTEGER" />
    <result column="bgcolor" property="bgcolor" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <association property="bgmedia" column="{mediaid=bgmediaid}" select="com.broadvideo.signage.persistence.MediaMapper.selectByPrimaryKey" />
    <association property="createstaff" column="{staffid=createstaffid}" select="com.broadvideo.signage.persistence.StaffMapper.selectNameByPrimaryKey" />
	<collection property="regions" ofType="com.broadvideo.signage.domain.Region"
		column="{layoutid=layoutid}" select="com.broadvideo.signage.persistence.RegionMapper.selectByLayout" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.broadvideo.signage.domain.Layout" extends="BaseResultMap" >
    <result column="xml" property="xml" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    layoutid, orgid, branchid, name, type, xmlsize, xmlmd5, height, width, bgmediaid, bgcolor, status, description, 
    mediaid, createtime, createstaffid
  </sql>
  <sql id="Blob_Column_List" >
    xml
  </sql>
  
  <select id="selectWithXmlByPrimaryKey" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from layout
    where layoutid = '${layoutid}'
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from layout
    where layoutid = '${layoutid}'
  </select>
  
	<select id="selectCount" resultType="Integer">
		select count(1) from layout where status = 1 and orgid=${orgid} and branchid=${branchid}
		<if test="search != null">
			and name like '%${search}%'
		</if>
	</select>

	<select id="selectList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from layout
		where status=1 and orgid=${orgid} and branchid=${branchid}
		<if test="search != null">
			and name like '%${search}%'
		</if>
		order by layoutid desc 
		<if test="start != null and length != null">
			limit ${start}, ${length}
		</if>
	</select>

	<select id="selectByDevice" resultMap="BaseResultMap">
		select l.* from layout l, schedule s
		where l.status=1 and s.status=1 and l.layoutid=s.layoutid and s.deviceid=${deviceid} and UNIX_TIMESTAMP(s.todate) > UNIX_TIMESTAMP()
		order by l.layoutid 
	</select>

	<select id="sumMediaSize" resultType="Long">
		select coalesce(sum(mediasize),0) from 
		(select distinct m.mediaid, m.size as mediasize 
			from region r, regiondtl rd, media m 
			where r.regionid=rd.regionid and rd.mediatype in (2,5,6) and rd.mediaid=m.mediaid and r.layoutid='${layoutid}'
		) as mediadetail
	</select>

	<delete id="deleteByKeys">
		update layout set status='9'
		where layoutid in (#{ids})
	</delete>

  
  <insert id="insert" parameterType="com.broadvideo.signage.domain.Layout" >
    <selectKey resultType="java.lang.Integer" keyProperty="layoutid" order="AFTER" >
      SELECT LAST_INSERT_ID() as layoutid
    </selectKey>
    insert into layout (orgid, branchid, name, type, xmlsize, xmlmd5, 
      height, width, bgmediaid, 
      bgcolor, status, description, mediaid,  
      createtime, createstaffid, xml
      )
    values (#{orgid,jdbcType=INTEGER}, #{branchid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{xmlsize,jdbcType=INTEGER}, #{xmlmd5,jdbcType=VARCHAR}, 
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{bgmediaid,jdbcType=INTEGER}, 
      #{bgcolor,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, #{mediaid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createstaffid,jdbcType=INTEGER}, #{xml,jdbcType=LONGVARCHAR}
      )
  </insert>
   
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Layout" >
    <selectKey resultType="java.lang.Integer" keyProperty="layoutid" order="AFTER" >
      SELECT LAST_INSERT_ID() as layoutid
    </selectKey>
    insert into layout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="branchid != null" >
        branchid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="xmlsize != null" >
        xmlsize,
      </if>
      <if test="xmlmd5 != null" >
        xmlmd5,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="bgmediaid != null" >
        bgmediaid,
      </if>
      <if test="bgcolor != null" >
        bgcolor,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="mediaid != null" >
        mediaid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="xml != null" >
        xml,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        #{branchid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="xmlsize != null" >
        #{xmlsize,jdbcType=INTEGER},
      </if>
      <if test="xmlmd5 != null" >
        #{xmlmd5,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="bgmediaid != null" >
        #{bgmediaid,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null" >
        #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="xml != null" >
        #{xml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Layout" >
    update layout
    <set >
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="branchid != null" >
        branchid = #{branchid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="xmlsize != null" >
        xmlsize = #{xmlsize,jdbcType=INTEGER},
      </if>
      <if test="xmlmd5 != null" >
        xmlmd5 = #{xmlmd5,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="bgmediaid != null" >
        bgmediaid = #{bgmediaid,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null" >
        bgcolor = #{bgcolor,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null" >
        mediaid = #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="xml != null" >
        xml = #{xml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where layoutid = #{layoutid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.broadvideo.signage.domain.Layout" >
    update layout
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      xmlsize = #{xmlsize,jdbcType=INTEGER},
      xmlmd5 = #{xmlmd5,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      bgmediaid = #{bgmediaid,jdbcType=INTEGER},
      bgcolor = #{bgcolor,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      mediaid = #{mediaid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      xml = #{xml,jdbcType=LONGVARCHAR}
    where layoutid = #{layoutid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Layout" >
    update layout
    set orgid = #{orgid,jdbcType=INTEGER},
      branchid = #{branchid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      xmlsize = #{xmlsize,jdbcType=INTEGER},
      xmlmd5 = #{xmlmd5,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      bgmediaid = #{bgmediaid,jdbcType=INTEGER},
      bgcolor = #{bgcolor,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      mediaid = #{mediaid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER}
    where layoutid = #{layoutid,jdbcType=INTEGER}
  </update>
</mapper>