<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.MetrolineMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Metroline" >
    <id column="metrolineid" property="metrolineid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <collection property="metrostations" ofType="com.broadvideo.signage.domain.Metrostation"
      column="{metrolineid=metrolineid}" select="com.broadvideo.signage.persistence.MetrostationMapper.selectByMetroline" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    metrolineid, name, code
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from metroline
    where metrolineid = '${metrolineid}'
  </select>
  
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from metroline
    order by metrolineid 
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from metroline
    where metrolineid = #{metrolineid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.signage.domain.Metroline" >
    <selectKey resultType="java.lang.Integer" keyProperty="metrolineid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into metroline (name, code)
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Metroline" >
    <selectKey resultType="java.lang.Integer" keyProperty="metrolineid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into metroline
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Metroline" >
    update metroline
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where metrolineid = #{metrolineid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Metroline" >
    update metroline
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where metrolineid = #{metrolineid,jdbcType=INTEGER}
  </update>
</mapper>