<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Org" >
    <id column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="vspid" property="vspid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="orgtype" property="orgtype" jdbcType="CHAR" />
    <result column="videoflag" property="videoflag" jdbcType="CHAR" />
    <result column="imageflag" property="imageflag" jdbcType="CHAR" />
    <result column="textflag" property="textflag" jdbcType="CHAR" />
    <result column="liveflag" property="liveflag" jdbcType="CHAR" />
    <result column="widgetflag" property="widgetflag" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createstaffid" property="createstaffid" jdbcType="INTEGER" />
    <result column="expireflag" property="expireflag" jdbcType="CHAR" />
    <result column="expiretime" property="expiretime" jdbcType="TIMESTAMP" />
    <result column="maxdevices" property="maxdevices" jdbcType="INTEGER" />
    <result column="maxstorage" property="maxstorage" jdbcType="BIGINT" />
    <result column="uploadflag" property="uploadflag" jdbcType="CHAR" />
    <result column="currentdevices" property="currentdevices" jdbcType="INTEGER" />
    <result column="currentstorage" property="currentstorage" jdbcType="BIGINT" />
    <result column="currentdeviceidx" property="currentdeviceidx" jdbcType="INTEGER" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="backupmediaid" property="backupmediaid" jdbcType="INTEGER" />
    <association property="vsp" column="{vspid=vspid}" select="com.broadvideo.signage.persistence.VspMapper.selectByPrimaryKey" />
    <association property="backupmedia" column="{mediaid=backupmediaid}" select="com.broadvideo.signage.persistence.MediaMapper.selectByPrimaryKey" />
  </resultMap>

  <sql id="Base_Column_List" >
    orgid, vspid, name, code, status, orgtype, videoflag, imageflag, textflag, liveflag, widgetflag, 
    description, createtime, createstaffid, expireflag, 
    expiretime, maxdevices, maxstorage, uploadflag, currentdevices, currentstorage, currentdeviceidx, copyright, backupmediaid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org
    where orgid = #{orgid}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org
    where status=1
    order by orgid desc 
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select * from org
    where status='1' and name = #{name} 
  </select>

  <select id="selectByCode" resultMap="BaseResultMap" >
    select * from org
    where status='1' and code = #{code}
  </select>
  
  <delete id="deleteByKeys">
    update org set status='9'
    where orgid in (#{ids})
  </delete>

  <update id="updateCurrentdevices" >
    update org o, 
    (select count(1) as value, orgid from device where status='1' group by orgid) r 
    set o.currentdevices=r.value 
    where o.orgid=r.orgid and o.status=1
  </update>

  <update id="updateCurrentstorage" >
    update org o, 
    (select floor(coalesce(sum(size),0)/1048576) as value, orgid from media where status='1' group by orgid) r 
    set o.currentstorage=r.value 
    where o.orgid=r.orgid and o.status=1
  </update>

  <insert id="insert" parameterType="com.broadvideo.signage.domain.Org" >
    <selectKey resultType="java.lang.Integer" keyProperty="orgid" order="AFTER" >
      SELECT LAST_INSERT_ID() as orgid
    </selectKey>
    insert into org (vspid, name, code, 
      status, orgtype, videoflag, imageflag, textflag, liveflag, widgetflag, 
      description, createtime, createstaffid, expireflag, expiretime, 
      maxdevices, maxstorage, uploadflag, 
      currentdevices, currentstorage, currentdeviceidx, 
      copyright, backupmediaid)
    values (#{vspid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{orgtype,jdbcType=CHAR}, #{videoflag,jdbcType=CHAR}, #{imageflag,jdbcType=CHAR}, 
      #{textflag,jdbcType=CHAR}, #{liveflag,jdbcType=CHAR}, #{widgetflag,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createstaffid,jdbcType=INTEGER}, #{expireflag,jdbcType=CHAR}, #{expiretime,jdbcType=TIMESTAMP}, 
      #{maxdevices,jdbcType=INTEGER}, #{maxstorage,jdbcType=BIGINT}, #{uploadflag,jdbcType=CHAR}, 
      #{currentdevices,jdbcType=INTEGER}, #{currentstorage,jdbcType=BIGINT}, #{currentdeviceidx,jdbcType=INTEGER}, 
      #{copyright,jdbcType=VARCHAR}, #{backupmediaid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Org" >
    <selectKey resultType="java.lang.Integer" keyProperty="orgid" order="AFTER" >
      SELECT LAST_INSERT_ID() as orgid
    </selectKey>
    insert into org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      orgid,
      <if test="vspid != null" >
        vspid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orgtype != null" >
        orgtype,
      </if>
      <if test="videoflag != null" >
        videoflag,
      </if>
      <if test="imageflag != null" >
        imageflag,
      </if>
      <if test="textflag != null" >
        textflag,
      </if>
      <if test="liveflag != null" >
        liveflag,
      </if>
      <if test="widgetflag != null" >
        widgetflag,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createstaffid != null" >
        createstaffid,
      </if>
      <if test="expireflag != null" >
        expireflag,
      </if>
      <if test="expiretime != null" >
        expiretime,
      </if>
      <if test="maxdevices != null" >
        maxdevices,
      </if>
      <if test="maxstorage != null" >
        maxstorage,
      </if>
      <if test="uploadflag != null" >
        uploadflag,
      </if>
      <if test="currentdevices != null" >
        currentdevices,
      </if>
      <if test="currentstorage != null" >
        currentstorage,
      </if>
      <if test="currentdeviceidx != null" >
        currentdeviceidx,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="backupmediaid != null" >
        backupmediaid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{orgid,jdbcType=INTEGER},
      <if test="vspid != null" >
        #{vspid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="orgtype != null" >
        #{orgtype,jdbcType=CHAR},
      </if>
      <if test="videoflag != null" >
        #{videoflag,jdbcType=CHAR},
      </if>
      <if test="imageflag != null" >
        #{imageflag,jdbcType=CHAR},
      </if>
      <if test="textflag != null" >
        #{textflag,jdbcType=CHAR},
      </if>
      <if test="liveflag != null" >
        #{liveflag,jdbcType=CHAR},
      </if>
      <if test="widgetflag != null" >
        #{widgetflag,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="expireflag != null" >
        #{expireflag,jdbcType=CHAR},
      </if>
      <if test="expiretime != null" >
        #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxdevices != null" >
        #{maxdevices,jdbcType=INTEGER},
      </if>
      <if test="maxstorage != null" >
        #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="uploadflag != null" >
        #{uploadflag,jdbcType=CHAR},
      </if>
      <if test="currentdevices != null" >
        #{currentdevices,jdbcType=INTEGER},
      </if>
      <if test="currentstorage != null" >
        #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="currentdeviceidx != null" >
        #{currentdeviceidx,jdbcType=INTEGER},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="backupmediaid != null" >
        #{backupmediaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Org" >
    update org
    <set >
      <if test="vspid != null" >
        vspid = #{vspid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="orgtype != null" >
        orgtype = #{orgtype,jdbcType=CHAR},
      </if>
      <if test="videoflag != null" >
        videoflag = #{videoflag,jdbcType=CHAR},
      </if>
      <if test="imageflag != null" >
        imageflag = #{imageflag,jdbcType=CHAR},
      </if>
      <if test="textflag != null" >
        textflag = #{textflag,jdbcType=CHAR},
      </if>
      <if test="liveflag != null" >
        liveflag = #{liveflag,jdbcType=CHAR},
      </if>
      <if test="widgetflag != null" >
        widgetflag = #{widgetflag,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createstaffid != null" >
        createstaffid = #{createstaffid,jdbcType=INTEGER},
      </if>
      <if test="expireflag != null" >
        expireflag = #{expireflag,jdbcType=CHAR},
      </if>
      <if test="expiretime != null" >
        expiretime = #{expiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxdevices != null" >
        maxdevices = #{maxdevices,jdbcType=INTEGER},
      </if>
      <if test="maxstorage != null" >
        maxstorage = #{maxstorage,jdbcType=BIGINT},
      </if>
      <if test="uploadflag != null" >
        uploadflag = #{uploadflag,jdbcType=CHAR},
      </if>
      <if test="currentdevices != null" >
        currentdevices = #{currentdevices,jdbcType=INTEGER},
      </if>
      <if test="currentstorage != null" >
        currentstorage = #{currentstorage,jdbcType=BIGINT},
      </if>
      <if test="currentdeviceidx != null" >
        currentdeviceidx = #{currentdeviceidx,jdbcType=INTEGER},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="backupmediaid != null" >
        backupmediaid = #{backupmediaid,jdbcType=INTEGER},
      </if>
   </set>
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Org" >
    update org
    set vspid = #{vspid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      orgtype = #{orgtype,jdbcType=CHAR},
      videoflag = #{videoflag,jdbcType=CHAR},
      imageflag = #{imageflag,jdbcType=CHAR},
      textflag = #{textflag,jdbcType=CHAR},
      liveflag = #{liveflag,jdbcType=CHAR},
      widgetflag = #{widgetflag,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createstaffid = #{createstaffid,jdbcType=INTEGER},
      expireflag = #{expireflag,jdbcType=CHAR},
      expiretime = #{expiretime,jdbcType=TIMESTAMP},
      maxdevices = #{maxdevices,jdbcType=INTEGER},
      maxstorage = #{maxstorage,jdbcType=BIGINT},
      uploadflag = #{uploadflag,jdbcType=CHAR},
      currentdevices = #{currentdevices,jdbcType=INTEGER},
      currentstorage = #{currentstorage,jdbcType=BIGINT},
      currentdeviceidx = #{currentdeviceidx,jdbcType=INTEGER},
      copyright = #{copyright,jdbcType=VARCHAR},
      backupmediaid = #{backupmediaid,jdbcType=INTEGER}
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>

</mapper>