<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.RegiondtlMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Regiondtl" >
    <id column="regiondtlid" property="regiondtlid" jdbcType="INTEGER" />
    <result column="regionid" property="regionid" jdbcType="INTEGER" />
    <result column="mediatype" property="mediatype" jdbcType="CHAR" />
    <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="raw" property="raw" jdbcType="VARCHAR" />
    <result column="direction" property="direction" jdbcType="CHAR" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="opacity" property="opacity" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="fromdate" property="fromdate" jdbcType="TIMESTAMP" />
    <result column="todate" property="todate" jdbcType="TIMESTAMP" />
    <association property="media" column="{mediaid=mediaid}" select="com.broadvideo.signage.persistence.MediaMapper.selectByPrimaryKey" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    regiondtlid, regionid, mediatype, mediaid, duration, raw, direction, speed, color, 
    size, opacity, sequence, uri, fromdate, todate
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from regiondtl
    where regiondtlid = '${regiondtlid}'
  </select>
  
  <select id="selectByRegion" resultMap="BaseResultMap">
    select *
    from regiondtl
    where regionid = #{regionid}
    order by sequence
  </select>

  <select id="selectByLayout" resultMap="BaseResultMap">
    select *
    from regiondtl
    where regionid in (select regionid from region where layoutid = #{layoutid})
    order by regiondtlid
  </select>
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from regiondtl
    where regiondtlid = #{regiondtlid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByLayout" parameterType="java.lang.Integer" >
    delete from regiondtl
    where regionid in (select regionid from region where layoutid = #{layoutid})
  </delete>
    
  <delete id="deleteByRegion" parameterType="java.lang.Integer" >
    delete from regiondtl
    where regionid = #{regionid}
  </delete>

	<insert id="insertList">
		insert into regiondtl(regionid, mediatype, mediaid, duration, raw, direction, speed, color, size, opacity, sequence, uri, fromdate, todate) 
		values 
		<foreach collection="regiondtls" item="item"  separator=",">
			(#{item.regionid}, 
			#{item.mediatype}, 
			#{item.mediaid}, 
			#{item.duration}, 
			#{item.raw}, 
			#{item.direction}, 
			#{item.speed}, 
			#{item.color}, 
			#{item.size}, 
			#{item.opacity}, 
			#{item.sequence},
			#{item.uri},
			#{item.fromdate},
			#{item.todate})
		</foreach>
	</insert>

  <insert id="insert" parameterType="com.broadvideo.signage.domain.Regiondtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="regiondtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into regiondtl (regionid, mediatype, mediaid, 
      duration, raw, direction, 
      speed, color, size, 
      opacity, sequence, uri, fromdate, todate)
    values (#{regionid,jdbcType=INTEGER}, #{mediatype,jdbcType=CHAR}, #{mediaid,jdbcType=INTEGER}, 
      #{duration,jdbcType=INTEGER}, #{raw,jdbcType=VARCHAR}, #{direction,jdbcType=CHAR}, 
      #{speed,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{opacity,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{fromdate,jdbcType=TIMESTAMP}, #{todate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Regiondtl" >
    <selectKey resultType="java.lang.Integer" keyProperty="regiondtlid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into regiondtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionid != null" >
        regionid,
      </if>
      <if test="mediatype != null" >
        mediatype,
      </if>
      <if test="mediaid != null" >
        mediaid,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="raw != null" >
        raw,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="opacity != null" >
        opacity,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="fromdate != null" >
        fromdate,
      </if>
      <if test="todate != null" >
        todate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionid != null" >
        #{regionid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="raw != null" >
        #{raw,jdbcType=VARCHAR},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=CHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="opacity != null" >
        #{opacity,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="fromdate != null" >
        #{fromdate,jdbcType=TIMESTAMP},
      </if>
      <if test="todate != null" >
        #{todate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Regiondtl" >
    update regiondtl
    <set >
      <if test="regionid != null" >
        regionid = #{regionid,jdbcType=INTEGER},
      </if>
      <if test="mediatype != null" >
        mediatype = #{mediatype,jdbcType=CHAR},
      </if>
      <if test="mediaid != null" >
        mediaid = #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="raw != null" >
        raw = #{raw,jdbcType=VARCHAR},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=CHAR},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="opacity != null" >
        opacity = #{opacity,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="fromdate != null" >
        fromdate = #{fromdate,jdbcType=TIMESTAMP},
      </if>
      <if test="todate != null" >
        todate = #{todate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where regiondtlid = #{regiondtlid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Regiondtl" >
    update regiondtl
    set regionid = #{regionid,jdbcType=INTEGER},
      mediatype = #{mediatype,jdbcType=CHAR},
      mediaid = #{mediaid,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      raw = #{raw,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=CHAR},
      speed = #{speed,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      opacity = #{opacity,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      fromdate = #{fromdate,jdbcType=TIMESTAMP},
      todate = #{todate,jdbcType=TIMESTAMP}
    where regiondtlid = #{regiondtlid,jdbcType=INTEGER}
  </update>
</mapper>