<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Region" >
    <id column="regionid" property="regionid" jdbcType="INTEGER" />
    <result column="layoutid" property="layoutid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="topoffset" property="topoffset" jdbcType="INTEGER" />
    <result column="leftoffset" property="leftoffset" jdbcType="INTEGER" />
    <result column="zindex" property="zindex" jdbcType="INTEGER" />
	<collection property="regiondtls" ofType="com.broadvideo.signage.domain.Regiondtl"
		column="{regionid=regionid}" select="com.broadvideo.signage.persistence.RegiondtlMapper.selectByRegion" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    regionid, layoutid, code, height, width, topoffset, leftoffset, zindex
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from region
    where regionid = #{regionid,jdbcType=INTEGER}
  </select>
  
  <select id="selectByLayout" resultMap="BaseResultMap">
    select *
    from region
    where layoutid = #{layoutid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from region
    where regionid = #{regionid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByLayout" parameterType="java.lang.Integer" >
    delete from region
    where layoutid = #{layoutid}
  </delete>
  
  <insert id="insert" parameterType="com.broadvideo.signage.domain.Region" >
    <selectKey resultType="java.lang.Integer" keyProperty="regionid" order="AFTER" >
      SELECT LAST_INSERT_ID() as regionid
    </selectKey>
    insert into region (layoutid, code, height, width, 
      topoffset, leftoffset, zindex
      )
    values (#{layoutid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, 
      #{topoffset,jdbcType=INTEGER}, #{leftoffset,jdbcType=INTEGER}, #{zindex,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Region" >
    <selectKey resultType="java.lang.Integer" keyProperty="regionid" order="AFTER" >
      SELECT LAST_INSERT_ID() as regionid
    </selectKey>
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="layoutid != null" >
        layoutid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="topoffset != null" >
        topoffset,
      </if>
      <if test="leftoffset != null" >
        leftoffset,
      </if>
      <if test="zindex != null" >
        zindex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="layoutid != null" >
        #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="topoffset != null" >
        #{topoffset,jdbcType=INTEGER},
      </if>
      <if test="leftoffset != null" >
        #{leftoffset,jdbcType=INTEGER},
      </if>
      <if test="zindex != null" >
        #{zindex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Region" >
    update region
    <set >
      <if test="layoutid != null" >
        layoutid = #{layoutid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="topoffset != null" >
        topoffset = #{topoffset,jdbcType=INTEGER},
      </if>
      <if test="leftoffset != null" >
        leftoffset = #{leftoffset,jdbcType=INTEGER},
      </if>
      <if test="zindex != null" >
        zindex = #{zindex,jdbcType=INTEGER},
      </if>
    </set>
    where regionid = #{regionid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Region" >
    update region
    set layoutid = #{layoutid,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      topoffset = #{topoffset,jdbcType=INTEGER},
      leftoffset = #{leftoffset,jdbcType=INTEGER},
      zindex = #{zindex,jdbcType=INTEGER}
    where regionid = #{regionid,jdbcType=INTEGER}
  </update>
</mapper>