<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.SelfapplyMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Selfapply" >
    <id column="selfapplyid" property="selfapplyid" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="orgcode" property="orgcode" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="auditmemo" property="auditmemo" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    selfapplyid, email, mobile, name, orgname, orgcode, description, status, auditmemo, createtime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from selfapply
    where selfapplyid = '${selfapplyid}'
  </select>
  
	<select id="selectCount" resultType="Integer">
		select count(1) from selfapply where status='${status}'
		<if test="search != null">
			and (email like '%${search}%' or name like '%${search}%' or orgname like '%${search}%' or orgcode like '%${search}%')
		</if>
	</select>

	<select id="selectList" resultMap="BaseResultMap">
		select * from selfapply where status=#{status}
		<if test="search != null">
			and (email like '%${search}%' or name like '%${search}%' or orgname like '%${search}%' or orgcode like '%${search}%')
		</if>
		order by selfapplyid desc 
		<if test="start != null and length != null">
			limit ${start}, ${length}
		</if>
	</select>

	<delete id="deleteByKeys">
		update selfapply set status='9'
		where selfapplyid in (#{ids})
	</delete>

  <insert id="insert" parameterType="com.broadvideo.signage.domain.Selfapply" >
    <selectKey resultType="java.lang.Integer" keyProperty="selfapplyid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into selfapply (email, mobile, name, 
      orgname, orgcode, description, 
      status, auditmemo, createtime)
    values (#{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{orgname,jdbcType=VARCHAR}, #{orgcode,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{auditmemo,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.broadvideo.signage.domain.Selfapply" >
    <selectKey resultType="java.lang.Integer" keyProperty="selfapplyid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into selfapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgname != null" >
        orgname,
      </if>
      <if test="orgcode != null" >
        orgcode,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditmemo != null" >
        auditmemo,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="auditmemo != null" >
        #{auditmemo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.broadvideo.signage.domain.Selfapply" >
    update selfapply
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="orgcode != null" >
        orgcode = #{orgcode,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="auditmemo != null" >
        auditmemo = #{auditmemo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where selfapplyid = #{selfapplyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.broadvideo.signage.domain.Selfapply" >
    update selfapply
    set email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      orgname = #{orgname,jdbcType=VARCHAR},
      orgcode = #{orgcode,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      auditmemo = #{auditmemo,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where selfapplyid = #{selfapplyid,jdbcType=INTEGER}
  </update>
</mapper>