<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.broadvideo.signage.persistence.StatMapper" >
  <resultMap id="BaseResultMap" type="com.broadvideo.signage.domain.Stat" >
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="CHAR" />
    <result column="value" property="value" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="selectMediaCount" resultMap="BaseResultMap" >
    select count(1) as value, date(createtime) as label, DATEDIFF(DATE(NOW()),DATE(createtime)) AS sequence
    from media 
    where orgid='${orgid}' and status='1' and type='${type}' 
    group by date(createtime)
    having sequence &lt; 30
    order by label
  </select>

  <select id="selectFilesizeSum" resultMap="BaseResultMap" >
    select sum(s.filesize) as value, date(s.updatetime) as label, DATEDIFF(DATE(NOW()),DATE(s.updatetime)) AS sequence
    from schedulefile s, device d
    where d.orgid='${orgid}' and s.complete='100' and s.deviceid=d.deviceid
    group by date(s.updatetime)
    having sequence &lt; 30
    order by label
  </select>

</mapper>