<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       ">

	<bean id="deviceTask" class="com.broadvideo.pixsignage.task.DeviceTask"></bean>
	<bean id="deviceJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="deviceTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="deviceJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="deviceJob" />
		</property>
		<property name="cronExpression">
			<value>5 * * * * ?</value>
		</property>
	</bean>

	<bean id="vcssTask" class="com.broadvideo.pixsignage.task.VCSSTask"></bean>
	<bean id="vcssJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="vcssTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="vcssJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="vcssJob" />
		</property>
		<property name="cronExpression">
			<value>10 * * * * ?</value>
		</property>
	</bean>

	<bean id="pixboxTask" class="com.broadvideo.pixsignage.task.PixboxTask"></bean>
	<bean id="pixboxJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="pixboxTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="pixboxJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="pixboxJob" />
		</property>
		<property name="cronExpression">
			<value>20 * * * * ?</value>
		</property>
	</bean>

	<bean id="weatherTask" class="com.broadvideo.pixsignage.task.WeatherTask"></bean>
	<bean id="weatherJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="weatherTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="weatherJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="weatherJob" />
		</property>
		<property name="cronExpression">
			<value>0 30 7-19 * * ?</value>
		</property>
	</bean>

	<bean id="videoTask" class="com.broadvideo.pixsignage.task.VideoTask"></bean>
	<bean id="videoJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="videoTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="videoJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="videoJob" />
		</property>
		<property name="cronExpression">
			<value>30 * * * * ?</value>
		</property>
	</bean>

	<bean id="playlogTask" class="com.broadvideo.pixsignage.task.PlaylogTask"></bean>
	<bean id="playlogJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="playlogTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="playlogJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="playlogJob" />
		</property>
		<property name="cronExpression">
			<value>10 * * * * ?</value>
		</property>
	</bean>

	<bean id="pflowTask" class="com.broadvideo.pixsignage.task.PflowTask"></bean>
	<bean id="pflowJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="pflowTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="pflowJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="pflowJob" />
		</property>
		<property name="cronExpression">
			<value>20 * * * * ?</value>
		</property>
	</bean>

	<bean id="importTask" class="com.broadvideo.pixsignage.task.ImportTask"></bean>
	<bean id="importJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="importTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="importJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="importJob" />
		</property>
		<property name="cronExpression">
			<value>40 * * * * ?</value>
		</property>
	</bean>

	<bean id="taodianTask" class="com.broadvideo.pixsignage.task.TaodianTask"></bean>
	<bean id="taodianJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="taodianTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="taodianJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="taodianJob" />
		</property>
		<property name="cronExpression">
			<value>50 * * * * ?</value>
		</property>
	</bean>
	<bean id="attendanceeventTask" class="com.broadvideo.pixsignage.task.AttendanceeventTask"></bean>
	<bean id="attendanceeventJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="attendanceeventTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="attendanceeventJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="attendanceeventJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/2 * * * ?</value>

		</property>
	</bean>

	<bean id="cmsSyncTask" class="com.broadvideo.pixsignage.task.CmsOrgUserSyncTask"></bean>
	<bean id="cmsSyncJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="cmsSyncTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="cmsSyncJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="cmsSyncJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/2 * * * ?</value>

		</property>
	</bean>


	<bean id="cmsSignSyncTask" class="com.broadvideo.pixsignage.task.CmsMeetingSiginTask"></bean>
	<bean id="cmsSignSyncJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="cmsSignSyncTask" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="cmsSignSyncJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="cmsSignSyncJob" />
		</property>
		<property name="cronExpression">
			<value>0 0/1 * * * ?</value>

		</property>
	</bean>


	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 
					<ref bean="vcssJobTrigger" /> 
					<ref bean="pixboxJobTrigger" />
				-->
				<ref bean="deviceJobTrigger" />
				<ref bean="weatherJobTrigger" />
				<ref bean="videoJobTrigger" />
				<ref bean="playlogJobTrigger" />
				<ref bean="pflowJobTrigger" />
				<ref bean="importJobTrigger" />
				<ref bean="taodianJobTrigger" />
				<ref bean="attendanceeventJobTrigger" />
				<ref bean="cmsSyncJobTrigger" />
				<ref bean="cmsSignSyncJobTrigger" />
				
			</list>
		</property>
	</bean>

</beans>