@charset "UTF-8";

/*!
 * extend animation
 */

@-webkit-keyframes anFlash {
  0%, 20%, 10% {
    opacity: 1
  }
  4%, 14% {
    opacity: 0
  }
}

.anFlash {
  animation: anFlash 10s linear infinite;
  -webkit-animation: anFlash 10s linear infinite;
}


@keyframes anPulse {
  0%,10%,20% {
    transform: scale3d(1, 1, 1);
  }

  6%,15% {
    transform: scale3d(1.05, 1.05, 1.05);
  }


}

.anPulse {
  animation: anPulse 10s linear infinite;
  -webkit-animation: anPulse 10s linear infinite;
}

@keyframes anShake {


  2%,4%,7% {
    transform: translate3d(-10px, 0, 0);
  }

  3%,6% {
    transform: translate3d(10px, 0, 0);
  }
  0%,8%{
    transform: translate3d(0px, 0, 0);


  }

}


.anShake{

  animation: anShake 10s linear infinite;
  -webkit-animation: anShake 10s linear infinite;

}


@keyframes anRubberBand {

  0%,20% {
    transform: scale3d(1, 1, 1);
  }

  2% {
    transform: scale3d(1.25, 0.75, 1);
  }

  6% {
    transform: scale3d(0.75, 1.25, 1);
  }

  10% {
    transform: scale3d(1.15, 0.85, 1);
  }

  12% {
    transform: scale3d(.95, 1.05, 1);
  }

  18% {
    transform: scale3d(1.05, .95, 1);
  }


}

.anRubberBand{


  animation: anRubberBand 10s linear infinite;
  -webkit-animation: anRubberBand 10s linear infinite;


}
@keyframes anBounce {

  0%, 2%, 5.3%, 8%, 10% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  4%, 4.3% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  7% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  9% {
    transform: translate3d(0,-4px,0);
  }
}
.anBounce {
  animation: anBounce 10s  infinite;
  -webkit-animation: anBounce 10s  infinite;
  transform-origin: center bottom;
}


@keyframes anSwing {
  2% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  8% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  12% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  16% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  20% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.anSwing {
  transform-origin: top center;
  animation: anSwing 10s  infinite;
  -webkit-animation: anSwing 10s  infinite;
}


@keyframes anWobble {
  0% {
    transform: none;
  }

  2% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  3% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  5% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  6% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  8% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  9% {
    transform: none;
  }
}

.anWobble {
  animation: anWobble 10s  infinite;
  -webkit-animation: anWobble 10s  infinite;
}

@keyframes anJello {
  0%, 1%, 10% {
    transform: none;
  }

  3% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  4% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  5% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  6% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  7% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  8% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  9% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.anJello {
  animation: anJello 10s  infinite;
  -webkit-animation: anJello 10s  infinite;
  transform-origin: center;
}

@keyframes anBounceIn {
  0%, 2%, 4%, 6%, 8%, 10% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  2% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  4% {
    transform: scale3d(.9, .9, .9);
  }

  6% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  8% {
    transform: scale3d(.97, .97, .97);
  }

  10% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.anBounceIn {
  animation: anBounceIn 10s  infinite;
  -webkit-animation: anBounceIn 10s  infinite;
}


@keyframes anBounceInDown {
  0%, 6%, 7.5%, 9%, 10% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  6% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  7.5% {
    transform: translate3d(0, -10px, 0);
  }

  9% {
    transform: translate3d(0, 5px, 0);
  }

  10% {
    transform: none;
  }
}

.anBounceInDown {
  animation: anBounceInDown 10s  infinite;
  -webkit-animation: anBounceInDown 10s  infinite;
}

@keyframes anFadeIn {
  0% {
    opacity: 0;
  }
  8% {
    opacity:0.3;
  }
  20% {
    opacity: 1;
  }
}

.anFadeIn {
  animation: anFadeIn 10s  infinite;
  -webkit-animation: anFadeIn 10s  infinite;
}


@keyframes anFlip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  4% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  5% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  8% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  10% {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.anFlip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation: anFlip 10s  infinite;
  -webkit-animation: anFlip 10s  infinite;
}

@keyframes anRollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  10% {
    opacity: 1;
    transform: none;
  }
}

.anRollIn {
  animation: anRollIn 10s linear infinite;
  -webkit-animation: anRollIn 10s linear infinite;
}


@keyframes anRotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  10% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.anRotateIn{
  animation: anRotateIn 10s linear infinite;
  -webkit-animation: anRotateIn 10s linear infinite;

}

@keyframes anZoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  5% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  6% {
    opacity: 1;
    transform: none;
  }
}

.anZoomInDown{
  animation: anZoomInDown 10s linear infinite;
  -webkit-animation: anZoomInDown 10s linear infinite;

}