body {
    background: url(../images/background.png) center top fixed no-repeat;
}

.right-pane {
    float: right;
    width: 118px;
}

.left-pane {
    margin-right: 128px !important;
}

.logo {
    margin-top: 20px;
    height: 48px;
}

.avatar {
    margin: 0 auto;
    width: 118px;
}

.avatar-title {
    width: 118px;
    font-size: 20px;
}

.avatar-title:hover {
    color: #E28D81;
}

/*main menu*/
.colorful-menu {
    margin-top: 50px;
    border-bottom: solid 10px #ddd;
    border-radius: 5px;
}

.menu-item.col-md-2 {
    padding: 0 !important;
    margin-bottom: -13px;
}

.menu-item .menu-label {
    font-size: 20px;
    margin-bottom: 0;
}

.menu-item .menu-label:hover, .menu-item.selected .menu-label {
    color: #E28D81;
}

.menu-item .underscore {
    width: 100%;
    height: 9px;
    visibility: hidden;
}

.menu-item.selected .underscore {
    visibility: visible;
}

/*main content*/
.main-content {
    border: solid 1px #ddd;
    border-top: solid 0 #ddd;
    border-radius: 5px;
    background-color: white;
    height: 503px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 40px;
}

.main-content .content {
    margin-top: -13px;
    z-index: -1;
}

/*content-bar*/
.content-bar {
    margin-top: 10px;
}

.round-input {
    display: inline-block;
    position: relative;
}

.round-input .input {
    height: 32px;
    border: solid 2px #ddd;
    border-radius: 16px;
    padding: 4px;
}

.round-input .addon {
    position: absolute;
    top: -2px;
    right: 0;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    padding: 5px 7px;
    margin-top: 2px;
    margin-left: -36px;
    font-size: 18px;
    color: white;
    background-color: #888;
}

.custom-checkbox {
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    color: #2aabd2;
}

.custom-checkbox label {
    position: absolute;
    font-size: 24px;
    top: 4px;
    margin: 0;
    padding: 0;
}

.custom-checkbox label:last-child {
    display: none;
}

.label-btn {
    display: inline-block;
    margin-right: 10px;
}

.label-btn > button {
    border: none;
    border-radius: 50% !important;
    font-size: 16px;
    padding: 4px 5px 2px 7px;
    color: white;
    background-color: #00b3ee;
}

.label-btn .label {
    padding: 0;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.label-btn .label:hover {
    color: #E28D81;
}

.round-input .addon:hover, .label-btn > button:hover {
    background-color: #E28D81;
}

.mode-switch .btn {
    padding: 3px 12px 0 !important;
    font-weight: 500 !important;
}

.mode-switch .btn .btn-icon {
    vertical-align: middle;
    font-size: 20px;
}

.mode-switch .btn.selected .btn-icon, .btn:hover .btn-icon {
    color: #62C4D0;
}

/*content tab*/
.colorful-tab {
    padding: 5px 10px;
    font-size: 16px;
}

.tab-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.tab-item .tab-label {
    vertical-align: text-bottom;
    line-height: 36px;
    border-bottom: solid 5px #ddd;
    margin-bottom: 0;
}

.tab-item.selected .tab-label.is-pink, .tab-item:hover .tab-label.is-pink {
    color: hotpink;
    border-bottom: solid 5px hotpink;
}

.tab-item.selected .tab-label.is-orange, .tab-item:hover .tab-label.is-orange {
    color: orange;
    border-bottom: solid 5px orange;
}

.tab-item.selected .tab-label.is-blue, .tab-item:hover .tab-label.is-blue {
    color: cadetblue;
    border-bottom: solid 5px cadetblue;
}

.tab-item.selected .tab-label.is-purple, .tab-item:hover .tab-label.is-purple {
    color: purple;
    border-bottom: solid 5px purple;
}

.tab-item.selected .tab-label.is-green, .tab-item:hover .tab-label.is-green {
    color: green;
    border-bottom: solid 5px green;
}

.tab-item.selected .tab-label.is-red, .tab-item:hover .tab-label.is-red {
    color: red;
    border-bottom: solid 5px red;
}

.content-list {
    padding: 5px 10px;
}

.content-item {
    padding: 5px !important;
}

.content-item img {
    width: 100%;
}

/*actions*/
.top-border {
    border-top: solid 1px #ddd;
    padding-top: 5px;
}

.actions .btn {
    padding: 3px;
    border-radius: 8px;
}

/* login page */
.login-box {
    position: absolute;
    width: 400px;
    height: 300px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.login-box .logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.login-box .form {
    padding: 20px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 5px;

}
